{% load static %}
<script src="{% static 'js/packages/editor_plugins/editorjs-header.2.0.min.js' %}"></script><!-- Header -->
<script src="{% static 'js/packages/editor_plugins/editorjs-image.2.6.2.min.js' %}"></script><!-- Image -->
<script src="{% static 'js/packages/editor_plugins/editorjs-list.latest.min.js' %}"></script><!-- List -->
<script src="{% static 'js/packages/editor_plugins/editorjs-table.XX.min.js' %}"></script><!-- Table -->
<script src="{% static 'js/packages/editor_plugins/editorjs-marker.XX.min.js' %}"></script><!-- Marker -->
<script src="{% static 'js/packages/editor_plugins/editorjs-superscript.js' %}"></script><!-- Super -->
<script src="{% static 'js/packages/editor_plugins/editorjs-reference.js' %}"></script><!-- Reference -->
<!-- Load Editor.js's Core -->
<script src="{% static 'js/packages/editorjs-core.1.0.5.min.js' %}"></script>