{% load static %}
{% load format %}

{% if readonly != False %}
<style>
    .ce-block__content, .ce-toolbar__content {
        max-width:calc(100%) !important; }
    .cdx-block { max-width: 100% !important; }
    .cdx-list__item {margin: 0px !important; padding: 0px !important;}
    .codex-editor__redactor {margin-right: 0px !important;}
    .cdx-input {
      border: 0px !important;
      font-size: 0.75rem !important;
      padding-top: 5px !important;
      color:grey !important;
    }
    .image-tool__image{margin-bottom: 0px !important;}
    .cdx-marker{
      padding:0px !important;
    }
    mark {
      border-bottom: 0px !important;
    }
</style>
  {% else %}
<style>
  .reference {background-color:aqua;}
</style>
  {% endif %}


<!-- This modal opens in case you do a inline-reference add -->
<span
  hx-get="{% url 'main_modal_get' %}?{{request.GET|getstring}}"
  hx-vals='{"object":"description_{{description.pk}}","type":"add_reference"}'
  hx-target="#modal-blank"
  hx-trigger="load once">
</span>

<p id="reference-popup-get" data-url="{% url 'ajax_ref_popup_get' %}" style="display:none;"></p>
<div id="guide" data-url="{% url 'main_upload' %}?type=galleryimage&gallery={{description.gallery.pk}}"></div> <!--guide is used for image upload, to save the file to the right place-->
<div id="guideurl" data-url="{% url 'main_upload' %}?type=url"></div> <!--guide is used for image upload, to save the file to the right place-->


<div id="editorjs" data-url="{% url 'ajax_description_get' %}?id={{description.pk}}&model={{model}}"></div>
<p id="readonly" style="display:none;">{{readonly}}</p>

{% if readonly == False %}
<div style="display:flex; justify-content: center;" id="saveButton">
    <span id="description-save" class="btn btn-primary" data-url="{% url 'ajax_description_save' %}?id={{description.pk}}">Save</span>
</div>
{% endif %}

<div id="description-references" style="display:none;">
  <h5>References</h5>
  {% for ref in reference_items %}
  <p>{{ref|safe}}</p>
  {% endfor %}
  <table class="table table-striped my-2">
    <tbody id="description-reference-tbody" style="border-top: 1px solid lightgrey;">
      {% for ref in remaining_references %}
        {% include 'main/reference/reference-tablerow.html' with display=True %}
      {% endfor %}
    </tbody>
  </table>
</div>
<script src="{% static 'js/packages/editor.js' %}"></script>