{% load static %}
{% load format %}

<!-- Modal content for Date -->
{% if type == 'dates_list' %}

<div class="modal-body">
    {% if request.user.is_authenticated %}
        <span class="btn modal_open tooltip tooltip-right" data-tooltip="Add Dating"
            hx-get="{% url 'main_modal_get' %}?{{request.GET|getstring}}"
            hx-vals='{"object":"{{model}}_{{object.pk}}","type":"dates"}'
            hx-target="#modal-blank">
        <i class="icon icon-plus"></i>
        </span>
    {% endif %}
    <h5>{{model|title}} Age: {{object.age_summary}} </h5>
    <br>
    <div class="content my-2">
        <h6>1. Hard {{model|title}} Boundaries:</h6>
        <p class="form-input-hint">Hard set upper and lower <b>boundaries</b> for the {{model}} (in <i>years</i> ago).
            This is independent of any raw dates in the database</p>
        <form>
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="instance_x" value="{{model}}_{{object.pk}}" style="display: none;">
                <span class="input-group-addon">Upper Bound</span>
                <input type="text" class="form-input" name="upper" placeholder="upper"
                    value="{%if object.set_upper %}{{object.set_upper}}{%endif%}">
                <span class="input-group-addon">Lower Bound</span>
                <input type="text" class="form-input" name="lower" placeholder="lower"
                value="{%if object.set_lower %}{{object.set_lower}}{%endif%}"
                >
                {% if request.user.is_authenticated %}
                <span id="set_layer_bounds" class="btn btn-primary input-group-btn"
                    hx-post="{% url 'main_dateable_setbounds' %}"
                    hx-target="#modal-blank">Set
                </span>
                {% endif %}
            </div>
        </form><br>
        <h6>2. Set upper and/or lower Dates</h6>
        <p class="form-input-hint">Set upper and lower <b>dates</b> from the site as the boundaries of the {{model}}.
            This includes the confidence intervals. Selecting only <b>one</b> date will be interpreted as being relatively
            older or younger than the selected date</p>
        <form>
            {% csrf_token %}
            <input name="instance_x" value="{{model}}_{{object.pk}}" style="display: none;"/>
            <div class="input-group">
                <span class="input-group-addon">Upper Date</span>
                <select class="form-select" name="upper_date">
                    {% if object.date_upper %}
                    <option value="{{object.date_upper.pk}}">{{object.date_upper}} ({{object.date_upper.layer.name}})</option>
                    <option>----</option>
                    {% else %}
                    <option selected>----</option>
                    {% endif %}
                    {% for option in site_dates %}
                    <option value="{{option.pk}}">{{option}} {% if option.estimate %}/ {{option.estimate|default:''}} ± {{option.plusminus|default:''}}{% endif %} ({{option.layer.name}})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Lower Date</span>
                <select class="form-select" name="lower_date">
                    {% if object.date_lower %}
                    <option value="{{object.date_lower.pk}}">{{object.date_lower}} ({{object.date_lower.layer.name}})</option>
                    <option>----</option>
                    {% else %}
                    <option selected>----</option>
                    {% endif %}
                    {% for option in site_dates %}
                    <option value="{{option.pk}}">{{option}} {% if option.estimate %}/ {{option.estimate|default:''}} ± {{option.plusminus|default:''}}{% endif %} ({{option.layer.name}})</option>
                    {% endfor %}
                </select>
                {% if request.user.is_authenticated %}
                <span
                    hx-post="{% url 'main_dateable_setdate' %}?{{request.GET|getstring}}"
                    hx-target="#modal-blank"
                    class="btn btn-primary input-group-btn"
                >Set</span>
                {% endif %}
            </div>
        </form>
        <br>
        <h6>3. Associated Dates</h6>
        <p class="form-input-hint">If no bounds or dates are set for the {{model}}, the boundaries are calculated from the associated dates,
            by taking the <b>mean</b> of the lower and upper bounds of each date. <i><b>NOTE:</b> This is NOT a verified age, dont use it as is. Raw
                dates might be affected by reservoir effects or missing from the database. Infinite dates can (unfortunately) not be taken into account
            </i></p>

        <div id="modal-form">
            {% include 'main/dating/dating-table.html' with date_list=object.date.all mode='visible' title='List of associated Dates' %}
            <br><br>
            {% include 'main/dating/dating-table.html' with date_list=object.hidden_dates mode='hidden' title='Hidden Dates' %}
            <br>
            <h6>References</h6>
            <table class="table">
            {% for ref in object.date_references %}
                {% include 'main/reference/reference-tablerow.html' with display=True %}
            {% endfor %}
            </table>
        </div>

        {% if model == 'sample' %}
        <br><br>
        <h6>4. Context Date</h6>
        <p class="form-input-hint">If no dates are linked to the sample, take the age of the related <strong>layer</strong></p>
        {% endif %}
    </div>
</div>

{% elif type == 'dates' %}

<div class="modal-body">
    {% if request.user.is_authenticated %}
    <span
        class="btn modal_open tooltip tooltip-right"
        data-tooltip="Back to Date Overview"
        hx-get="{% url 'main_modal_get' %}?{{request.GET|getstring}}"
        hx-vals='{"object":"{{model}}_{{object.pk}}","type":"dates_list"}'
        hx-target="#modal-blank">
        <i class="icon icon-back"></i>
    </span>
    {% endif %}
    <div class="content">
        <div id="dating-content">
            {% if model == 'layer' %}
            <strong>Batch Upload</strong><br>
            <label>
                <span id='date-batch-label' class="btn tooltip tooltip-right" data-tooltip="Batch Upload Dates"><i class="icon icon-upload"></i></span>
                <input id="date-batch-input" data-url="{% url 'ajax_date_batch_upload' %}?site={{object.site.pk}}" type="file" style="display:none;">
            </label>
            <span id='date-batch-header' data-url="{% url 'download_header' %}?model=date" class="btn tooltip tooltip-right get-batch-header" data-tooltip="Get Upload Template"><i class="icon icon-download"></i></span>
            <p class="form-input-hint">Upload multiple Dates via CSV</p>

            {% elif model == 'sample' %}
            <!-- Add existing dates (that were previously added to the layer directly)-->
            <form>
                {% csrf_token %}
                <input name="object" value="{{object.model}}_{{object.pk}}" style="display: none;"/>
                <div class="input-group">
                    <span class="input-group-addon">Add existing</span>
                    <select class="form-select" name="date">
                        <option selected>----</option>
                        {% for option in site_dates %}
                        <option value="{{option.pk}}">{{option}} {% if option.estimate %}/ {{option.estimate|default:''}} ± {{option.plusminus|default:''}}{% endif %} ({{option.layer.name}})</option>
                        {% endfor %}
                    </select>
                    <span
                        hx-post="{% url 'ajax_date_add' %}"
                        hx-target="#modal-blank"
                        class="btn btn-primary input-group-btn"
                    >Add</span>
                </div>
            </form>
            {% endif %}

            <form id="modal-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!--The dating form-->
                <div class="divider text-center" data-content="OR"></div>
                <strong>Add single Date</strong><br>
                <!--Method-->
                <div class="form-group">
                    <label class="form-label" for="method">Method</label>
                    <select class="form-select" type="text" id="method" name="method" placeholder="{{field.name}}" required>
                        <option selected>{% if form.method %}{{form.method.value}}{% else %}14C{% endif %}</option>
                        {% for option in datingoptions %}
                            <option>{{option}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="divider"></div>
                <!--Lab Code for All datings-->
                <div>
                    <div class="form-group" id="oxa_group">
                        <label class="form-label" id="oxa" for="oxa">Laboratory code</label>
                        <input class="form-input" name="oxa" id="oxa" placeholder="OxA" value="{% if form.oxa %}{{form.oxa.value}} {% endif %}">
                    </div>
                </div>
                <!--
                    Dates

                    if not 14C: provide either estimate +- value OR range upper-lower
                    if 14C: only provide uncalibrated -> get calibrated range via ajax
                            also allow minimum-age for beyond radio carbon
                -->
                <!-- This is the label -->
                <label class="14c_group">Radiocarbon Measurement</label>
                <label class="14c_hide" style="display:none;">Point Estimate</label>

                <!-- This is the first form field -->
                <div class="input-group">
                    <input type="number" class="form-input estimate_range" id='estimate' name="estimate" placeholder="50000"
                    {% if form.estimate %} value="{{form.estimate.value}}" {% endif %}>
                    <span class="input-group-addon">±</span>
                    <input type="number" class="form-input estimate_range" id="plusminus" name="plusminus" placeholder="3000"
                    {% if form.plusminus %} value="{{form.plusminus.value}}" {% else %} value="0" {% endif %}>
                    <span class="input-group-addon 14c_hide" style="display:none;">Sigma/CI</span>
                    <input type="text" class="form-input 14c_hide" style="display:none;" id="sigma" name="sigma" placeholder="2σ/95%" pattern="([12][sσ])|([0-9]+%)$"
                    {% if form.plusminus %} value="{{form.sigma.value}}" {% endif %}>
                </div>
                <p class="form-input-hint 14c_hide" style="display:none;">Please enter the <strong>sigma or confidence interval</strong>. Value must be 1 or 2 s/σ or any %. s will be converted to σ in the backend</p>

                <p class="form-input-hint 14c_group">Please enter the <strong>uncalibrated 14C Date</strong>. Calibration is done in the backend</p>

                <!-- Second Form field -->
                <div id="range_group">
                    <div class="divider text-center" data-content="OR"></div>
                    <!-- The Label -->
                    <label class="14c_group">Beyond Radiocarbon Limit?</label>
                    <label class="14c_hide" style="display:none;">Range</label>
                    <!-- The form -->
                    <div class="input-group">
                        <!--minimum age for c14 or range -->
                        <span class="input-group-addon 14c_group">></span>
                        <input class="14c_hide form-input date_range" style="display:none;" type="number" name="upper" placeholder="53000"
                        {% if form.upper %} value="{{form.upper.value}}" {% endif %}>
                        <span class="input-group-addon 14c_hide" style="display:none;">-</span>
                        <input class="form-input date_range" type="number" id="lower" name="lower" placeholder="47000"
                        {% if form.lower %} value="{{form.lower.value}}" {% endif %}>
                    </div>
                    <p class="form-input-hint 14c_hide" style="display:none;">Please enter the date range in the format <strong>older - younger</strong>.</p>
                </div>
                <div class="form-group">
                    <label class="form-label" for="description">Notes</label>
                    <textarea class="form-input" name="description" id="description" placeholder="Notes" rows="3">{% if form.description %}{{form.description.value}}{% endif %}</textarea>
                </div>
                <p class="form-input-hint">To add references please use the upload sheet or add them after creation of the date</p>


                <br>
                <span
                    id="ajax_add_date" class="btn btn-primary"
                    hx-post="{% url 'ajax_date_add' %}?{{request.GET|getstring}}"
                    hx-vals='{"object":"{{model}}_{{object.pk}}"}'
                    hx-target="#modal-blank"
                    >Save</span>
            </form>
        </div>
    </div>
</div>

{% endif %}