{% load format %}

<div class="tab-panel panel p-2 my-2">
    <div style="position: relative;">
        <h3 style="margin-bottom:0px;">Batch: {{object}}</h3>
        <span class="text-gray form-input-hint" style="margin-bottom: 14px;">From: {{object.sampled_by}} ({{object.year_of_arrival}})</span>
        {% if not object.sample.first %}
        <span class="btn btn-primary generic_delete"
            hx-post="{% url 'main_generic_delete' %}"
            hx-vals='{
                "instance_x":"samplebatch_{{object.pk}}"
            }'
            hx-swap="none"
            hx-confirm="Delete the Batch?"
            data-hide="sample-batch_{{object.pk}},samplebatch-tab_{{object.pk}}">
            <i class="icon icon-delete"></i>
        </span>
        {% endif %}
    </div>
    <h4>Gallery</h4>
    <div id="gallery_{{object.gallery.pk}}" style="display: flex; gap:5px; overflow: scroll;">
    {% for image in object.gallery.image.all %}
        <!-- Show the image container -->
        <div id="image_container_{{image.pk}}" style="position: relative">
            <img src="{{image.image.url}}" style="height: 300px;"  class="modal_open" data-open="modal_image_{{image.pk}}" />
            <span class="btn tooltip tooltip-left generic_delete"
                hx-post="{% url 'main_generic_delete' %}"
                hx-vals='{
                    "instance_x": "image_{{image.pk}}"
                }'
                hx-swap="none"
                hx-confirm="Are you sure?"
                data-hide="image_container_{{image.pk}}"
                data-tooltip="Remove Image from Gallery"
                style="position: absolute; top:5px; right:5px">
                <i class="icon icon-delete"></i>
            </span>
        </div>


        <div id="modal_image_{{image.pk}}" class="modal modal-lg" style="z-index: 1000">
            <a style="cursor:pointer;" class="modal-overlay modal_close" aria-label="Close"></a>
            <div class="modal-container" style="overflow: scroll;" >
                <img class="modal_close" src="{{image.image.url}}" style="width:900px; cursor:pointer;" />
                <input type="text" value="{{image.alt}}" style="width:900px;" />
            </div>
          </div>
    {% endfor %}
        <div class="empty" style="min-height:200px; min-width:200px;">
            <div class="empty-icon">
            <i class="icon icon-photo"></i>
            </div>
            <div class="empty-action">
                <button class="btn btn-primary add_samplebatch_image" data-x="gallery_{{object.gallery.pk}}"
                    data-url="{% url 'upload' %}">Add Image</button>
            </div>
        </div>
    </div>
</div>