{% load format %}
{% if object_list == "empty" %}
    <div class="empty">
        <div class="empty-icon">
            <i class="icon icon-flag"></i>
        </div>
        <p class="empty-title h5">No samples assigned to the batch</p>
        <p class="empty-subtitle">Assign the batch on the sample level</p>
    </div>
{% else %}

<div class="sample_table panel tab-panel" data-group="{{object.classname}}-layer-tab"
    id="{{object.classname}}-layer-tab_{{layer.pk}}" style="{% if counter != 1 %} display: none;{% endif %} max-height:500px; overflow:scroll;">
<style>
    .unassigned{
        background-color: rgb(201, 115, 115) !important;
    }
</style>
<table class="table table-striped">
    <thead style="position: sticky; top:0; background-color: white; z-index: 100;">
        <tr>
            <th>Project</th>
            <th>Layer</th>
            <th>Type</th>
            <th>Sample</th>
            {% for type in sample_synonyms %}
            <th>{{type}}</th>
            {% endfor %}
            <th>Libraries</th>
            <th>Sample Age</th>
            <th>Year of Collection</th>
            <th>Sample Origin</th>
        </tr>
    </thead>
    <tbody>
        {% with project=request.session.session_project %}
        {% for object in object_list %}
        <tr>
            <td nowrap style="width:30px;">
                {% if project|isin:object.project_namespaces %}
                <span style="color:green; cursor: pointer;">
                    Yes
                </span>
                {% else %}
                <span style="color:red; cursor: pointer;">No
                </span>
                {% endif %}
            </td>
            <td nowrap
                {% if request.user.is_authenticated %}
                    style="cursor: pointer;"
                    class="{{object.layer|yesno:'assigned,unassigned'}} modal_open tooltip tooltip-right"
                    data-tooltip="Update Layer"
                    hx-get="{% url 'main_modal_get' %}"
                    hx-vals='{"object":"sample_{{object.pk}}", "type":"edit_layer" }'
                    hx-target="#modal-blank"
                {% else %}
                    class="{{object.layer|yesno:'assigned,unassigned'}}"
                {% endif %}>
                {% if object.layer %}{{object.layer.name}}{% else %}Unassigned{% endif %}
            </td>
            <td nowrap
            {% if request.user.is_authenticated %}
                style="cursor: pointer;"
                class="tooltip tooltip-top modal_open"
                data-tooltip="Update Sample Type"
                hx-get="{% url 'main_modal_get' %}"
                hx-vals='{"object":"sample_{{object.pk}}", "type":"edit_base" }'
                hx-target="#modal-blank"
            {% endif %}>
                {{object.type}}
            </td>
            <td nowrap>{{object.name}}</td>
            {% with synonyms=object.synonyms.all %}
            {% for type in sample_synonyms %}
            <td nowrap
            {% if request.user.is_authenticated %}
                style="cursor: pointer;"
                class="tooltip tooltip-top modal_open"
                data-tooltip="Update Sample Synonyms"
                hx-get="{% url 'main_modal_get' %}"
                hx-vals='{"object":"sample_{{object.pk}}", "type":"edit_synonyms" }'
                hx-target="#modal-blank"
            {% endif %}
            >
                {% for syn in synonyms%}
                    {% if syn.type == type %}
                    {{syn.name}}
                    {% endif %}
                {% endfor %}
            </td>
            {% endfor %}
            {% endwith %}
            <td nowrap class="generic_filter text-primary" style="cursor:pointer;" data-term="{{object}}" data-search=".{{batch.classname}}_libtr">{{object.analyzed_sample.all | length}}
            </td>
            <td nowrap>{{object.layer.age_summary}}</td>
            <td nowrap
            {% if request.user.is_authenticated %}
                style="cursor: pointer;"
                class="tooltip tooltip-top modal_open"
                data-tooltip="Update Year of Collection"
                hx-get="{% url 'main_modal_get' %}"
                hx-vals='{"object":"sample_{{object.pk}}", "type":"edit_base" }'
                hx-target="#modal-blank"
            {% endif %}>
                {% if object.year_of_collection%}{{object.year_of_collection}}{% endif%}
            </td>
            <td nowrap
            {% if request.user.is_authenticated %}
                style="cursor: pointer;"
                class="modal_open"
                data-tooltip="Update Layer"
                hx-get="{% url 'main_modal_get' %}"
                hx-vals='{"object":"sample_{{object.pk}}", "type":"edit_provenience" }'
                hx-target="#modal-blank"
            {% endif %}
            >
                {% for k,v in object.get_provenience %}
                <span class="text-gray small">{{k}}: {{v}},</span>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        {% endwith %}
    </tbody>


</table>
</div>
{% endif %}