{% if object_list == "empty" %}
    <div class="empty">
        <div class="empty-icon">
            <i class="icon icon-flag"></i>
        </div>
        <p class="empty-title h5">No samples assigned to the batch</p>
        <p class="empty-subtitle">Assign the batch on the sample level</p>
    </div>
{% else %}

<div class="sample_table panel tab-panel" data-group="{{object.classname}}-layer-tab"
    id="{{object.classname}}-layer-tab_{{layer.pk}}" style="{% if counter != 1 %} display: none;{% endif %} max-height:500px; overflow:scroll;">
<style>
    .unassigned{
        background-color: rgb(201, 115, 115) !important;
    }
</style>
<table class="table table-striped">
    <thead style="position: sticky; top:0; background-color: white; z-index: 100;">
        <tr>
            {% if site.id in project_sites %}
            <th>Project</th>
            {% endif %}
            <th>Layer</th>
            <th>Type</th>
            <th>Sample</th>
            <th>Libraries</th>
            <th>Sample Age</th>
            <th>Year of Collection</th>
            <th>Sample Origin</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            {% if site.id in project_sites %}
            <td style="width:30px;">
            {% with projectsamples=project.sample.all %}
                {% if project and not object in projectsamples %}
                <span class="tooltip tooltip-right generic_addm2m" data-tooltip="Add Sample to Project"
                    data-x="sample_{{object.pk}}" data-y="project_{{project.pk}}" data-reload="{{batch.classname}}-samples_layer_{{layer.pk}}"
                    style="color:red; cursor: pointer;">No
                </span>
                {% elif project and object in projectsamples %}
                <span class="tooltip tooltip-right generic_rmm2m" data-tooltip="Remove Sample from Project"
                    data-x="sample_{{object.pk}}" data-y="project_{{project.pk}}" data-reload="{{batch.classname}}-samples_layer_{{layer.pk}}"
                    style="color:green; cursor: pointer;">Yes
                </span>
                {% endif %}
            {% endwith %}
            </td>
            {% endif %}
            <td class="{{object.layer|yesno:'assigned,unassigned'}}">

                <span class="modal_open tooltip tooltip-right"
                    {% if request.user.is_authenticated %}
                        style="cursor: pointer;"
                        data-tooltip="Update Layer"
                        hx-get="{% url 'main_modal_get' %}"
                        hx-vals='{"object":"sample_{{object.pk}}", "type":"edit" }'
                        hx-target="#modal-blank"
                    {% endif %}>
                        {% if object.layer %}{{object.layer.name}}{% else %}Unassigned{% endif %}
                </span>
            </td>
            <td>{{object.type}}</td>
            <td>
                <div class="popover popover-right">
                    <span style="cursor:pointer;" >{{object.name}}</span>
                    <div class="popover-container">
                        <div class="card">
                            <div class="card-header">
                                {{object.name}}
                            </div>
                            <div class="card-body">
                                {% for syn in object.synonyms.all %}
                                <span class="small text-gray">{{syn.type}}: {{syn.name}}</span><br>
                                {% endfor %}
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>

            </td>
            <td class="generic_filter text-primary" style="cursor:pointer;" data-term="{{object}}" data-search=".{{batch.classname}}_libtr">{{object.analyzed_sample.all | length}}
            </td>
            <td>{{object.layer.age_summary}}</td>
            <td>{% if object.year_of_collection%}{{object.year_of_collection}}{% endif%}</td>
            <td>
                {% for k,v in object.get_provenience %}
                <span class="text-gray small">{{k}}: {{v}},</span>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>


</table>
</div>
{% endif %}