<div class="modal" id="sample-batch-modal">
    <a href="#close" class="modal-overlay" aria-label="Close"></a>
    <div class="modal-container">
        <div class="modal-header">
        <span class="btn btn-clear float-right modal_close" aria-label="Close"></span>
        <div class="modal-title h5">New Sample Batch</div>
        </div>
        <div class="modal-body">
            <div class="content">
                <form id='samplebatch-form' method="POST">
                {% csrf_token %}
                {% for field in samplebatch_form %}
                {% if field.name != 'site' %}
                <div class="form-group">
                    <label class="form-label" for="{{field.name}}_id">{{field.name|title}}</label>
                    <input class="form-input" id="{{field.name}}_id" name="{{field.name}}" placeholder="{{field.name}}" required>
                </div>
                {% else %}
                <div class="form-group" style="display:none;">
                    <input class="form-input" type="text" id="{{field.name}}_id" name="{{field.name}}" value="{{object.pk}}" required>
                </div>
                {% endif %}
                {% endfor %}
                <span class="btn btn-primary generic_form"
                    data-form="samplebatch-form"
                    data-reload="site_sample_content"
                    data-url="{% url 'main_samplebatch_create' %}">Add</span>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>