<div id="visualization"></div>
<script type="text/javascript">
  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualization');
  var options = {
    'width': '100%',
    'zoomMax': 9.4670778000002E+15,
    'zoomMin': 31556926000001,
    'showCurrentTime': false,
    'max': new Date(0,1,1),
    'timeAxis': {scale: 'year', step: 2000},
    'horizontalScroll':true,
    'order': function(a,b){
      if (a.start < b.start) {
        return -1;
      }
      if (a.start > b.start) {
        return 1;
      }
        return 0;
    }
  };
</script>