{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<title>Hellforge: Cultures</title>
{% endblock %}

{% block headline %}
{% if type %}
Epoch List
{% else %}
<a href="/" class="text-light">Culture List</a>
{% endif %}
{% endblock %}
{% block body %}
<div class="column">
    <div class="my-2">
        <h2>Timeline</h2>
        <div style="display:flex; gap:10px;">
        </div>
        {% include 'main/timeline/timeline.html' %}
</div>
    <script>
        var groups = {{timelinedata|safe}}
        var data= {{itemdata|safe}}
        data.forEach(element => {
            element.start = new Date(element.start);
            element.end = new Date(element.end);
        });
        var items = new vis.DataSet(data);
        var timeline = new vis.Timeline(container, items, groups, options);
    </script>

{% endblock %}