{% extends 'main/base.html' %}
{% block head %}
<title>Hellforge: {{object.name}}</title>
{% include 'main/location/location-head.html' %}
{% include 'main/timeline/timeline-head.html' %}
{% include 'main/editor/editor-head.html' %}
{% endblock %}
{% block headline %}<a href="{% url 'culture_list' %}">Culture</a>{% endblock %}

{% block body %}
{% load static %}

<div class='columns'>
    <div class="column col-4" style="position:relative;">
        {% if request.user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'culture_update' object.pk %}" style="position:absolute; right:5%; top:10px"><i class="icon icon-edit"></i></a>
        {% endif %}
        <div class="my-2">
          <h2>{{object.name}} Sites</h2>
          <div class="btn-group">
            <button id='btn-overview' class="btn btn-primary overview-toggle">Culture Overview</button>
            <button id='btn-descr' class="btn render_description overview-toggle"  data-url="{% url 'main_render_description' object.description.first.pk %}?origin=culture">Notes</button>
          </div>
          <div id="description-overview" style="padding:10px;" class="panel">
            <div style="height: 480px;" id="map"></div><br>
            <h4>Culture</h4>
            <table class="table" id="culture_detail_table">
                <thead>
                  <tr>
                    <th>Associated Hominin</th>
                    <th>Parent Culture</th>
                    <th>Children</th>
                    {% if object.ref.first %}
                    <th>References</th>
                    {% endif %}
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{object.hominin_group}}</td>
                    <td>
                    {% if object.culture %}
                    <a class='btn-link' href="{% url 'culture_detail' object.culture.pk %}">{{object.culture.name}}</a>
                    {% endif %}
                    </td>
                    <td>
                    {% for child in object.children %}
                    <a class='btn-link' href="{% url 'culture_detail' child.pk %}">{{child.name}}</a><br>
                    {% endfor %}
                    </td>
                    {% if object.ref.first %}
                    <td>
                        {% for ref in object.ref.all %}
                            {% include 'main/reference/reference-popup.html' %}<br>
                        {% endfor %}
                    </td>
                    {% endif %}
                    <td>
                      {% if request.user.is_authenticated %}
                      <div class="popover popover-right">
                        <button class="btn"><i class="icon icon-menu"></i></button>
                        <div class="popover-container">
                          <div class="card">
                            <div class="card-body">
                              <button class="btn tooltip tooltip-top fill_modal" data-tooltip="Properties" data-info="culture_{{object.pk}}" data-url="{% url 'ajax_fill_modal' %}?type=culture">Prop</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div id="description-description" class="panel" style="display:none;">
          </div>
        </div>
    </div>
    <div class="column">
        <div class="my-2">
            <h2>Timeline</h2>
            <div style="display:flex; gap:10px;">
              <a class="btn" href="{% url 'culture_detail' object.pk %}?nochildren=1">Show without Children</a>
              <a class="btn" href="{% url 'culture_detail' object.pk %}">Show with Children</a>
            </div>
            {% include 'main/timeline/timeline-body.html' %}
    </div>
        <script src="{% static 'js/location.js' %}"></script>
        <script> drawJson({{ geo | safe }}); fitBounds();</script>
        <script src="{% static 'js/site.js' %}"></script>
        <script src="{% static 'js/profile.js' %}"></script>
        <script src="{% static 'js/description.js' %}"></script>
    </div>
</div>
{% endblock %}