{% extends "main/base.html" %}
{% block headline %} {{type}} Update {% endblock %}
{% block body %}

    <h1>{{object.name|default:"New Culture"}}</h1>

    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.name}}</strong>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name}}</strong>
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}

<div class='columns'>
    <div class="column">
        <div class="my-2">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-label" for="{{type|lower}}-name">Name</label>
                    <input class="form-input" type="text" id="{{type|lower}}-name" name="name" placeholder="Name" required
                    value={% if object.name %} "{{object.name}}" {% endif %} >
                </div>
                <div class="form-group">
                    <label class="form-label" for="culture-hominin_group">Associated Hominin Group</label>
                    <input class="form-input" type="text" id="culture-hominin_group" name="hominin_group" placeholder="Associated Hominin Group" required
                    value={% if object.hominin_group %} "{{object.hominin_group}}" {% endif %} >
                </div>
                <div class="form-group">
                    <label class="form-label" for="culture-parent">Parent</label>
                    <select class="form-select" id="culture-parent" name="culture">
                        {% if object.culture %}
                        <option value={{object.culture.pk}} selected>{{object.culture}}</option>
                        {% endif %}
                        <option value="">---</option>
                        {% for option in cultures %}
                            <option value="{{option.pk}}">{{option}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br><br>
                <button class='btn btn-primary' type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
