<table id="culture-list">
    {% if object.culture %}
    <tr><td><strong>Culture:</strong></td><td id="culture_{{object.culture.pk}}"><a class="btn-link" target="_blank" href="{% url 'culture_update' object.culture.pk %}">{{object.culture.name}}</a></td></tr>
    {% endif %}
    {% if object.parent %}
    <tr><td><strong>Umbrella Culture:</strong></td><td id="culture_{{object.parent.pk}}"><a class="btn-link" target="_blank" href="{% url 'culture_update' object.parent.pk %}">{{object.parent.name}}</a></td></tr>
    {% endif %}
</table>