{% extends 'main/base.html' %}
{% block head %}
<title>Hellforge: {{object.name}}</title>
{% include 'main/location/location-head.html' %}
{% include 'main/editor/editor-head.html' %}
{% endblock %}
{% block headline %}<a href="{% url 'culture_list' %}">Culture</a>{% endblock %}

{% block body %}
{% load static %}

<div class='columns'>
  <span id="get_location_data" data-url="{% url 'main_culture_geodata' %}?object={{object.pk}}"></span>
    <div id="mobile" class="column col-4" style="position:relative;">
        {% if request.user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'culture_update' object.pk %}" style="position:absolute; right:5%; top:10px"><i class="icon icon-edit"></i></a>
        {% endif %}
        <div class="my-2">
          <h2>{{object.name}} Sites</h2>
          <div class="btn-group">
            <div class="btn tab-item active"
              data-group="culture-panel-1"
              hx-get="{% url 'main_culture_overview' %}"
              hx-vals='{"object":"{{object.pk}}" }'
              hx-target="#culture-panel-1"
              hx-trigger="load,click">
              Culture Overview
            </div>
            <div class="btn tab-item"
              data-group="culture-panel-1"
              hx-get="{% url 'main_render_description' object.description.first.pk %}?origin=culture"
              hx-target="#culture-panel-1">
              Notes
            </div>
          </div>
          <div id="culture-panel-1" style="padding:10px;" class="panel"></div>
        </div>
    </div>
    <div class="column">
        <div class="my-2">
            <h2>Timeline</h2>
            <div style="display:flex; gap:10px;">
              <a class="btn" href="{% url 'culture_detail' object.pk %}?nochildren=1">Show without Children</a>
              <a class="btn" href="{% url 'culture_detail' object.pk %}">Show with Children</a>
            </div>
            {% include 'main/timeline/timeline.html' %}
    </div>
        <script src="{% static 'js/location.js' %}"></script>
        <script src="{% static 'js/site.js' %}"></script>
        <script src="{% static 'js/description.js' %}"></script>
    </div>
</div>
{% endblock %}