{% load static %}
{% csrf_token %}
<div class="my-2">
    <div class="input-group">
        <span class="input-group-addon"><i class="form-icon icon icon-search"></i> Culture</span>
        <input type="text" class="form-input" placeholder="Search Culture" id="search-input" data-url="{% url 'ajax_culture_search' %}">
        <a href="{% url 'culture_add' %}" target="_blank" class="btn btn-primary input-group-btn tooltip tooltip-left" data-tooltip="Add new Culture"><i class="icon icon-plus"></i></a>
    </div>
    <div class="search-appear" class="culture-search-appear" data-url="{% url 'culture_add' %}"></div>
</div>