<ul class="tab tab-block" id="profile-list">
    {% for profile in object.profile.all %}
    <li class="tab-item {% if forloop.counter == 1 %}active{% endif %}" data-url="{% url 'main_profile_get' profile.pk %}">
        <a style="cursor:pointer;">{{profile.name}}</a>
    </li>
    {% endfor %}
    <li id="before-profile-add">
        <span style="margin:5px;" data-tooltip="Add a Profile" class="btn btn-primary tooltip tooltip-left" id="profile-add" data-url="{% url 'main_profile_get' 1 %}"> Add Profile </span>
    </li>
</ul>