{% extends 'main/base.html' %}
{% block head %}
{% load static %}
<title>Hellforge: {{object.name}}</title>
{% include 'main/location/location-head.html' %}
{% include 'main/editor/editor-head.html' %}
<script src="{% static 'js/packages/jquery-ui.js' %}"></script>
{% endblock %}
{% block headline %} <a style='color:white' href="{% url 'site_list' %}">Site</a>{% endblock %}
{% block body %}

<!-- Add dynamic styling for units and cultures -->
<div id="reload_site_style">
    <style>
    .leaflet-top{
        z-index:400;
    }
    .leaflet-bottom{
        z-index:400;
    }
    .sterile{
        background-color: rgb(117, 117, 117);
    }
    </style>
    {% for cult,color in cultures %}
    <style>
    .{{cult}}{
        background-color:{{color}};
        fill: {{color}};
    }
    </style>
    {% endfor %}
</style>
</div>
<div class='columns' style="padding:10px;">
    <div class="column col-4" id='mobile' style="position:relative;">
        <a class="btn btn-primary tooltip tooltip-left" href="{% url 'main_site_update' object.pk %}" style="position:absolute; right:5%; top:10px" data-tooltip="Edit Site">
            <i class="icon icon-edit"></i>
        </a>
        <div class="my-2">
            <h2>{{object.name}}</h2>
            <div class="btn-group">
                <button id='btn-overview' class="btn btn-primary overview-toggle">Overview</button>
                <button id='btn-descr' class="btn overview-toggle">Description</button>
            </div>
            <div id="description-overview" style="padding:10px;" class="panel">
                <br>
                <div id='reload_site_overview'>
                    <table class="table" style="margin-bottom:20px;">
                        <thead>
                        <tr>
                            <th>Name</th>
                            {% if object.parent %}
                            <th>Parent</th>
                            {% endif %}
                            {% if object.child.all %}
                            <th>Children</th>
                            {% endif %}
                            {% if object.country %}
                            <th>Country</th>
                            {% endif %}
                            <th>Type</th>
                            {% if object.elevation %}
                            <th>Elevation</th>
                            {% endif %}
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{object.name}}</td>
                            {% if object.parent %}
                            <td><a href="{% url 'site_detail' object.parent.pk %}">{{object.parent}}</a></td>
                            {% endif %}
                            {% if object.child.first %}
                            <td>
                                {% for child in object.child.all %}
                                <a href="{% url 'site_detail' child.pk %}">{{child.name}}</a><br>
                                {% endfor %}
                            </td>
                            {% endif %}
                            {% if object.country %}
                            <td>{{object.country}}</td>
                            {% endif %}
                            <td>{{object.type}}</td>
                            {% if object.elevation %}
                            <td>{{object.elevation}} m</td>
                            {% endif %}
                            <td>
                                <div class="popover popover-left">
                                    <button class="btn"><i class="icon icon-menu"></i></button>
                                    <div class="popover-container">
                                    <div class="card">
                                        <div class="card-body">
                                        <button id='contact_modal' class='btn fill_modal tooltip tooltip-top' data-info="site_{{site.pk}}" data-tooltip="Add Contact" data-url="{% url 'ajax_fill_modal' %}?type=site_contact">Properties</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    {% if object.contact.first %}
                    <h5> Contact Person </h5>
                    {% for contact in object.contact.all %}
                        {% include 'main/contact/contact-tile.html' %}
                    {% endfor %}
                    <br>
                    {% endif %}
                </div>
                <div style="height: 480px;" id="map"></div><br>
            </div>
            <div id="description-description" class="panel" style="display:none;">
                <div class="panel-header" style="position:relative;">
                    <a class="btn btn-primary tooltip tooltip-right" href="{% url 'main_site_descr_update' object.pk %}" data-tooltip="Edit Description">
                        <i class="icon icon-edit"></i>
                    </a>
                    <span id="resize-editor" class="btn btn-primary tooltip tooltip-left" style="position:absolute; right: 15px" data-tooltip="Toggle Full Width">
                        <i class="icon icon-resize-horiz"></i>
                    </span>
                </div>
                <div class="panel-body" style="max-height:720px;">
                    {% include 'main/editor/editor-body.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="my-2">
            {% if object.child.first %}
            <!-- This Site is only an Umbrella -->
            <div>
                <h3 class="text-grey" id="children">Sites</h3>
                <div class="container">
                    <div class="columns">
                    {% for child in object.child.all %}
                        <div class="column col-4 col-xs-12">
                            <div class="card">
                                <div class="card-image" style="height:200px; overflow:hidden;">
                                    {% if child.gallery.image.first %}
                                    <img src="{{child.gallery.image.first.image.url}}" style="width:100%; height:100%; object-fit: cover;" class="img-responsive">
                                    {% else %}
                                    <div class="empty" style="width:100%; height:100%;">
                                        <div class="empty-icon">
                                        <i class="icon icon-photo"></i>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="card-header">
                                <div class="card-title h5">{{child.name}}</div>
                                {% for syn in child.synonym.all %}
                                <div class="card-subtitle text-gray">{{synonym}}</div>
                                {% endfor %}
                                </div>
                                <div class="card-body">
                                </div>
                                <div class="card-footer">
                                <a href="{% url 'site_detail' child.pk %}" class="btn btn-primary">Go</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>

            </div>
            {% else %}
            <div id="site_profile_content">
                <h3 class="text-grey" id="profile">Profiles and Layers</h3>
                <div class="modal" id="modal-profile">
                    <a href="#close" class="modal-overlay" aria-label="Close"></a>
                    <div class="modal-container">
                        <div class="modal-header">
                        <span id="modal-profile-close" class="btn btn-clear float-right" aria-label="Close"></span>
                        <div class="modal-title h5">New Profile</div>
                        </div>
                        <div class="modal-body">
                            <div class="content">
                                <form id='profile-form' method="POST">
                                {% csrf_token %}
                                {% for field in profile_form %}
                                <div class="form-group">
                                    <label class="form-label" for="{{field.name}}_id">{{field.name|title}}</label>
                                    <input class="form-input" type="text" id="{{field.name}}_id" name="{{field.name}}" placeholder="{{field.name}}" required>
                                </div>
                                {% endfor %}
                                <span id='profile-submit' class="btn btn-primary" data-url="{% url 'main_site_profile_create' object.pk%}">Add</span>
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="tab tab-block" id="profile-list">
                    {% for profile in object.profile.all %}
                    <li class="tab-item {% if forloop.counter == 1 %}active{% endif %}" data-url="{% url 'main_profile_get' profile.pk %}">
                        <a style="cursor:pointer;">{{profile.name}}</a>
                    </li>
                    {% endfor %}
                    <li id="before-profile-add">
                        <span style="margin:5px;" data-tooltip="Add a Profile" class="btn btn-primary tooltip tooltip-left" id="profile-add" data-url="{% url 'main_profile_get' 1 %}"> Add Profile </span>
                    </li>
                </ul>
                <div style="padding-top: 20px;" id='profile-detail'>
                    <div class="empty">
                        <div class="empty-icon">
                        <i class="icon icon-flag"></i>
                        </div>
                        <p class="empty-title h5">No Profiles yet</p>
                        <p class="empty-subtitle">Click the button above to add a profile.</p>
                    </div>
                </div>

            </div>
            {% endif %}
        </div>
    </div>
</div>
{% if object.layer.first %}
<div class="btn-group mx-2">
    <button class="btn timeline-filter" id="timeline-show-hidden">Toggle Hidden</button>
    <button class="btn timeline-filter btn-primary" id="timeline-show-related">Toggle Related</button>
    <button class="btn timeline-filter" id="timeline-show-curves">14C Curve</button>
</div>
<div class="m-2 self_reload" id="timeline-content" data-url="{% url 'main_timeline_render' 'site' object.pk %}"></div>
{% endif %}
<script src="{% static 'js/location.js' %}"></script>
    {% if object.loc.first.geo %}
        <script> drawJson({{object.loc.first.geo | safe }})</script>
    {% endif %}
    {% for child in object.child.all %}
        <script>
        var json = {{child.loc.first.geo | safe }}
        json.features[0].properties['popupContent'] = `
            <strong>{{child.name}}</strong><br>
            <a href={% url 'site_detail' child.pk %} class=btn-link>Details</a>
            `
        json.features[0].properties['id'] = "{{child.pk}}"
        drawJson(json);
        </script>
    {% endfor %}
        <script>fitBounds()</script>
<script src="{% static 'js/site.js' %}"></script>
<script src="{% static 'js/synonyms.js'%}"></script>
<script src="{% static 'js/layer.js'%}"></script>
<script src="{% static 'js/profile.js'%}"></script>
<script src="{% static 'js/checkpoint.js' %}"></script>
<script src="{% static 'js/dating.js' %}"></script>
{% endblock %}
