{% load format %}

<div class="my-2" id="site_taxa_content">
    {% if request.user.is_authenticated %}
    <span
        class='btn tooltip tooltip-right modal_open'
        data-tooltip="Manage Fauna"
        hx-get="{% url 'main_modal_get' %}?{{request.GET|getstring}}"
        hx-vals='{"object":"layer_{{object.layer.first.pk}}","type":"faunal_tables"}'
        hx-target="#modal-blank"><i class="icon icon-plus"></i>
    </span>
    {% endif %}
    {% for layer in object.fauna_layers  %}

    {% include 'main/fauna/fauna_layer.html' with object=layer %}

    {% empty %}
    <div class="empty">
        <div class="empty-icon">
          <i class="icon icon-flag"></i>
        </div>
        <p class="empty-title h5">No Faunal Data imported</p>
    </div>
    {% endfor %}
</div>
