{% extends 'main/base.html' %}
{% block head %}
{% load static %}
<title>Hellforge: {{object.name}}</title>
{% include 'main/location/location-head.html' %}
{% include 'main/editor/editor-head.html' %}
{% endblock %}
{% block headline %} <a style='color:white' href="{% url 'site_list' %}">{{object}}</a>{% endblock %}
{% block body %}

<!-- Add dynamic styling for units and cultures -->
<div id="reload_site_style">
    <style>
    .leaflet-top{
        z-index:400;
    }
    .leaflet-bottom{
        z-index:400;
    }
    .sterile{
        background-color: rgb(117, 117, 117);
    }
    </style>
    {% for cult,color in cultures %}
    <style>
    .{{cult}}{
        background-color:{{color}};
        fill: {{color}};
    }
    </style>
    {% endfor %}
</style>
</div>
<div class='columns' style="padding:10px;">
    <!--This spans are used by ajax to reload the site panels-->
    <span id="site_info_update_click" style="display: none;" class="generic_reload" data-reload="mobile"></span>
    <span id="layers_update_click" style="display: none;" class="generic_reload" data-reload="site_layer"></span>
    <div class="column col-4" id='mobile' style="position:relative;">
        <div style="position:absolute; right:5%; top:10px">
        {% if request.user.is_authenticated %}
        <a class="btn btn-primary tooltip tooltip-left" href="{% url 'main_site_update' object.pk %}" data-tooltip="Edit Site">
            <i class="icon icon-edit"></i>
        </a>
        {% if project and not object in project.site.all %}
        <span class="btn bg-success tooltip tooltip-top generic_addm2m" data-tooltip="Add Site to Project"
            data-x="site_{{object.pk}}" data-y="project_{{project.pk}}" data-reload="location">
            <i class="icon icon-plus"></i>
        </span>
        {% elif project and object in project.site.all %}
        <span class="btn bg-warning tooltip tooltip-top generic_rmm2m" data-tooltip="Remove Site from Project"
            data-x="site_{{object.pk}}" data-y="project_{{project.pk}}" data-reload="location">
            <i class="icon icon-minus"></i>
        </span>
        {% endif %}
        {% endif %}
        </div>
        <div class="my-2">
            <h2 style="margin-bottom: 2px;">Site Information</h2>
            {% if project and not object in project.site.all %}
            <small class="label label-warning my-2">Site not in Project</small><br>
            {% elif project and object in project.site.all %}
            <small class="label label-success my-2">Site in Project</small><br>
            {% endif %}
            <div class="btn-group">
                <button id='btn-overview' class="btn btn-primary overview-toggle">Site Overview</button>
                {% if request.user.is_authenticated %}
                <button id='btn-descr' class="btn render_description overview-toggle"  data-url="{% url 'main_render_description' object.description.first.pk %}">Notes</button>
                {% endif %}
                {% if project_description and site in project.site.all %}
                <button id='btn-project_descr' class="btn render_description overview-toggle" data-url="{% url 'main_render_description' project_description.pk %}">
                    Site Description ({{project}})
                </button>
                {% endif %}
            </div>
            <div id="description-overview" style="padding:10px;" class="panel">
                <br>
                <div id='reload_site_overview'>
                    <table class="table" style="margin-bottom:20px;">
                        <thead>
                        <tr>
                            <th>Name</th>
                            {% if object.parent %}
                            <th>Parent</th>
                            {% endif %}
                            {% if object.child.all %}
                            <th>Children</th>
                            {% endif %}
                            {% if object.country %}
                            <th>Country</th>
                            {% endif %}
                            <th>Type</th>
                            {% if object.elevation %}
                            <th>Elevation</th>
                            {% endif %}
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{object.name}}</td>
                            {% if object.parent %}
                            <td><a href="{% url 'site_detail' pk=object.parent.pk %}">{{object.parent}}</a></td>
                            {% endif %}
                            {% if object.child.first %}
                            <td>
                                {% for child in object.child.all %}
                                <a href="{% url 'site_detail' pk=child.pk %}">{{child.name}}</a><br>
                                {% endfor %}
                            </td>
                            {% endif %}
                            {% if object.country %}
                            <td>{{object.country}}</td>
                            {% endif %}
                            <td>{{object.type}}</td>
                            {% if object.elevation %}
                            <td>{{object.elevation}} m</td>
                            {% endif %}
                            <td>
                                {% if request.user.is_authenticated %}
                                <div class="popover popover-left">
                                    <button class="btn"><i class="icon icon-menu"></i></button>
                                    <div class="popover-container">
                                    <div class="card">
                                        <div class="card-body">
                                        <button id='contact_modal' class='btn fill_modal tooltip tooltip-top' data-info="site_{{site.pk}}" data-tooltip="Add Contact" data-url="{% url 'ajax_fill_modal' %}?type=site_contact">Properties</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    {% if object.contact.first %}
                    <h5>Collaborators</h5>
                    {% for contact in object.contact.all %}
                        {% include 'main/contact/contact-tile.html' %}
                    {% endfor %}
                    <br>
                    {% endif %}
                </div>
                <div style="height: 480px;" id="map"></div><br>
            </div>
            <div id="description-description" class="panel" style="display:none;">
            </div>
        </div>
    </div>
    <div id="content-part" class="column col-8">
        <div class="my-2">
            {% if object.child.first %}
            <!-- This Site is only an Umbrella -->
            <div>
                <h3 class="text-grey" id="children">Sites</h3>
                <div class="container">
                    <div class="columns">
                    {% for child in object.child.all %}
                        <div class="column col-4 col-xs-12">
                            <div class="card">
                                <div class="card-image" style="height:200px; overflow:hidden;">
                                    {% if child.gallery.image.first %}
                                    <img src="{{child.gallery.image.first.image.url}}" style="width:100%; height:100%; object-fit: cover;" class="img-responsive">
                                    {% else %}
                                    <div class="empty" style="width:100%; height:100%;">
                                        <div class="empty-icon">
                                        <i class="icon icon-photo"></i>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="card-header">
                                <div class="card-title h5">{{child.name}}</div>
                                {% for syn in child.synonym.all %}
                                <div class="card-subtitle text-gray">{{synonym}}</div>
                                {% endfor %}
                                </div>
                                <div class="card-body">
                                </div>
                                <div class="card-footer">
                                <a href="{% url 'site_detail' pk=child.pk %}" class="btn btn-primary">Go</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>

            </div>
            {% else %}
            <!-- Site is a real site -->
            <ul class="tab tab-block">
                <li class="tab-item main active" data-group="main">
                    <a style="cursor: pointer;" class="select-block-content" data-select="site_layer"><h4>Profiles and Layers</h4></a>
                </li>
                <li class="tab-item" data-group="main">
                    <a style="cursor: pointer;" class="select-block-content" data-select="site_fauna"><h4>Fauna</h4></a>
                </li>
                {% if object in project.site.all %}
                <li class="tab-item" data-group="main">
                    <a style="cursor: pointer;" class="select-block-content" data-select="site_samples"><h4>Samples</h4></a>
                </li>
                {% endif %}
            </ul>

            <div class="block-content" id="site_layer">
                {% include 'main/site/site-profile-content.html' %}
            </div>
            <div class="block-content" id="site_fauna" style="display: none;">
                {% include 'main/site/site-fauna-content.html' %}
            </div>
            {% if object in project.site.all %}
            <div class="block-content" id="site_samples" style="display: none;">
                {% include 'main/site/site-sample-content.html' %}
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% if object.layer.first %}
<div class="btn-group mx-2">
    <!--#TODO: make option to hide dates and show only set_dates-->
    <button class="btn timeline-filter" id="timeline-show-hidden">Toggle Hidden</button>
    <button class="btn timeline-filter btn-primary" id="timeline-show-curves">14C Curve</button>
</div>
<div class="m-2 self_reload" id="timeline-content" data-url="{% url 'main_timeline_render' 'site' object.pk %}"></div>
{% endif %}
<script src="{% static 'js/location.js' %}"></script>
    {% if object.loc.first.geo %}
        <script> drawJson({{object.loc.first.geo | safe }})</script>
    {% endif %}
    {% for child in object.child.all %}
        <script>
        var json = {{child.loc.first.geo | safe }}
        json.features[0].properties['popupContent'] = `
            <strong>{{child.name}}</strong><br>
            <a href={% url 'site_detail' pk=child.pk %} class=btn-link>Details</a>
            `
        json.features[0].properties['id'] = "{{child.pk}}"
        drawJson(json);
        </script>
    {% endfor %}
        <script>fitBounds()</script>
<script src="{% static 'js/site.js' %}"></script>
<script src="{% static 'js/synonyms.js'%}"></script>
<script src="{% static 'js/layer.js'%}"></script>
<script src="{% static 'js/profile.js'%}"></script>
<script src="{% static 'js/dating.js' %}"></script>
<script src="{% static 'js/fauna.js' %}"></script>
<script src="{% static 'js/samples.js' %}"></script>
{% endblock %}
