{% load format %}

<div class="my-2" id="site_analyses_content">
    {% if request.user.is_authenticated %}
    {% csrf_token %}
    <input style="display: none;" name="info" value="site_{{object.pk}}">
    <input class="fill_modal" type="file" id="fauna-batch-input" data-url="{% url 'main_analyzedsample_upload' %}">
    <span id='fauna-batch-header' data-url="{% url 'download_header' %}?model=analyzedsample" class="btn tooltip tooltip-right get-batch-header" data-tooltip="Get Upload Template"><i class="icon icon-download"></i></span>
    {% endif %}
    <br>
    (Premliminary view)
    <div style="padding-top: 20px">
        {% include 'main/analyzed_samples/analyzedsample_table.html' with object_list=analyzed_samples %}
    </div>
</div>