{% extends 'main/base.html' %}
{% block head %}
{% include 'main/location/location-head.html' %}
<title>Hellforge: Sites</title>
{% endblock %}
{% block headline %}Site List{% endblock %}
{% block body %}
{% load static %}

<div class="container">
    <div class='columns'>
        <div class="column col-6">
            <div class="my-2">
                <div style="height: 480px;" id="map"></div>
            </div>
        </div>
        <div class="column col-6">
            <div class="my-2">
                <div class="panel" style="max-height:480px;">
                    <div class="panel-header">
                        <div class="panel-title"><h3>Site List</h3></div>
                        <a href="{% url 'main_site_add' %}">New Site</a>
                            <div class="has-icon-left">
                                <input class="form-input" id="site-list-search" type="text" placeholder="Find Site" style="width:50%;">
                                <i class="form-icon icon icon-search"></i>
                            </div>
                      </div>
                      <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Country</th>
                                <th>Type</th>
                                <th>Elevation</th>
                                <th>Description?</th>
                                <th>Layers?</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list %}
                                    <tr id="site_{{object.pk}}" class="site_done_{{object.site_done}}">
                                        <td>{{object.name}}</td>
                                        <td>{{object.country}}</td>
                                        <td>{{object.type}}</td>
                                        <td>{{object.elevation}} m</td>
                                        <td>{% if object.description %}Yes{%else%}Missing{%endif%}</td>
                                        <td>{% if object.profile.first %}Yes{%else%}Missing{%endif%}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/location.js' %}"></script>
    {% for object in object_list %}
        <script>
        var json = {{object.loc.first.geo | safe }}
        json.features[0].properties['popupContent'] = `
            <strong>{{object.name}}</strong><br>
            <a href={% url 'site_detail' pk=object.pk %} class=btn-link>Details</a>
            `
        json.features[0].properties['id'] = "{{object.pk}}"
        drawJson(json);
        </script>
    {% endfor %}
    <script>
        fitBounds()
        $('tr').on('click', function(){
            var pk = $(this).attr('id').split('_')[1]
            openPopup(parseInt(pk))
        })
        $('#site-list-search').on("keyup", function() {
            var value = $("#site-list-search").val().toLowerCase();
            $("tr").filter(function() {
                if($(this).text().toLowerCase().indexOf(value) > -1){
                    $(this).show()
                } else {
                    $(this).hide()
                }
            });
        });
    </script>
{% endblock %}
