{% load format %}

<div class="my-2" id="site_sample_content">
    {% if samples %}
    <div class="my-2" style="display:flex;">
        <span><strong>Download Samples:</strong></span>
        <a class="mx-2" target="_blank" href="{% url 'get_dataset' %}?from=site_{{object.pk}}&unique=library&include=samplebatch,sample,layer&extend=sample">
            <i class="icon icon-download"></i></a>
    </div>
    <section>
        <!-- List the sample batches -->
        <ul class="tab" id="samplebatch-list">
            {% for samplebatch in samples %}
            <li id="samplebatch-tab_{{samplebatch.pk}}" class="tab-item {% if forloop.counter == 1 %}active{% endif %} batch"
                data-group="sample-batch"
                data-show="sample-batch_{{samplebatch.pk}}">
                <a class="badge" data-badge="{{samples|lookup:samplebatch|lookup:'samples'|lookup:'All'|length}}" style="cursor:pointer;">{{samplebatch}}</a>
            </li>
            {% endfor %}
            {% if request.user.is_authenticated %}
            <li id="before-profile-add">
                <span style="margin-bottom:5px;" class="btn btn-primary modal_open"
                        hx-get="{% url 'main_modal_get' %}"
                        hx-vals='{"object":"site_{{object.pk}}", "type":"add_samplebatch"}'
                        hx-target="#modal-blank">
                        Add Batch
                </span>
            </li>
            {% endif %}
        </ul>
        <!-- Now render each batch individually! -->
        {% for samplebatch in samples %}
            <section id="sample-batch-tab_{{samplebatch.pk}}">
            </section>
        {% endfor %}
    </section>
    {% else %}
    <div class="empty">
        <div class="empty-icon">
          <i class="icon icon-flag"></i>
        </div>
        <p class="empty-title h5">No Sample Data imported</p>
    </div>
    {% endif %}
</div>
{% if sample_references %}
<h5>References</h5>
<table class="table table-striped my-2">
    <tbody id="description-reference-tbody" style="border-top: 1px solid lightgrey;">
        {% for ref in sample_references %}
        {% include 'main/reference/reference-tablerow.html' with display=True %}
        {% endfor %}
    </tbody>
</table>
{% endif %}






