{% load format %}
<div id="site_profile_content">
    <ul class="tab tab-block" id="profile-list">
        {% for profile in object.profile.all %}
        <li id="profile-tab_{{profile.pk}}" class="tab-item switch_profile {% if selected_profile == profile %}active{% endif %}" data-group="profile" data-show="profile_{{profile.pk}}">
            <a style="cursor:pointer;">{{profile.name}}</a>
        </li>
        {% endfor %}
        <script>
            $('body').on('click', '.switch_profile', function(){
                add_url_params({'profile':$(this).attr('data-show')})
            })
        </script>
        {% if request.user.is_authenticated %}
        <li id="before-profile-add">
            <span style="margin:5px;" class="btn  btn-primary modal_open tooltip tooltip-left" data-tooltip="Add a Profile"
                hx-get="{% url 'main_modal_get' %}"
                hx-vals='{"object":"site_{{object.pk}}", "type":"add_profile"}'
                hx-target="#modal-blank">
                Add Profile
            </span>
        </li>
        {% endif %}
    </ul>
    {% for profile in object.profile.all %}
    {% include 'main/profile/profile-detail.html' with object=profile selected_profile=selected_profile %}
    {% empty %}
    <div class="empty">
        <div class="empty-icon">
        <i class="icon icon-flag"></i>
        </div>
        <p class="empty-title h5">No Profiles yet</p>
        <p class="empty-subtitle">Click the button above to add a profile.</p>
    </div>
    {% endfor %}
    </div>
</div>