{% load format %}
<div style="height: 40px;"></div>
<div class="my-2 panel">
    <div class="panel-head p-2">
        <h3>Human remains</h3>
    </div>
    <div class="panel-body p-2">
        {% if remains %}
        <table class="table">
            <thead>
                <tr>
                    <th>Layer</th>
                    <th>Culture</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Note</th>
                    <th>Hominin Type</th>
                    <th>Year Found</th>
                    <th>Reference</th>
                    <th>Dating</th>
                    <th>Dating Type</th>
                    {% if request.user.is_authenticated %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for remain in remains %}
                <tr id="remain_{{remain.pk}}">
                    <td nowrap
                        {% if request.user.is_authenticated %}
                            style="cursor: pointer;"
                            class="{{remain.layer|yesno:'assigned,unassigned'}}  {{remain.layer.culture.classname|default:'sterile'}} modal_open tooltip tooltip-right"
                            data-tooltip="Update Layer"
                            hx-get="{% url 'main_modal_get' %}"
                            hx-vals='{"object":"sample_{{remain.pk}}", "type":"edit_layer" }'
                            hx-target="#modal-blank"
                        {% else %}
                            class="{{remain.layer|yesno:'assigned,unassigned'}}  {{remain.layer.culture.classname|default:'sterile'}}"
                        {% endif %}>
                        {% if remain.layer %}{{remain.layer.name}}{% else %}Unassigned{% endif %}
                    </td>
                    <td class="{{remain.layer|yesno:'assigned,unassigned'}}  {{remain.layer.culture.classname|default:'sterile'}}">{% if remain.layer %}{{remain.layer.culture.name}}{% else %}Unassigned{% endif %}</td>
                    <td nowrap
                    {% if request.user.is_authenticated %}
                        style="cursor: pointer;"
                        class="tooltip tooltip-top modal_open"
                        data-tooltip="Update Sample Type"
                        hx-get="{% url 'main_modal_get' %}"
                        hx-vals='{"object":"sample_{{remain.pk}}", "type":"edit_base" }'
                        hx-target="#modal-blank"
                    {% endif %}>
                        {{remain.type}}
                    </td>
                    <td nowrap>{{remain.name}}</td>
                    <td>{{remain.note|default:""}}</td>
                    <td nowrap>{{remain.hominin_group}}</td>
                    <td>
                        {% if remain.year_of_collection%}{{remain.year_of_collection}}{% endif%}
                    </td>
                    <td nowrap>{% if request.user.is_authenticated %}
                        <a href="#"
                        style="cursor: pointer;"
                        class="tooltip tooltip-top modal_open"
                        data-tooltip="Update Reference"
                        hx-get="{% url 'main_modal_get' %}"
                        hx-vals='{"object":"sample_{{remain.pk}}", "type":"update_reference" }'
                        hx-target="#modal-blank">
                        {{remain.ref.first.short|default:'No Reference'}}
                        </a>
                        {% else %}
                        {{remain.ref.first.short}}
                        {% endif %}
                    </td>
                    <td nowrap>
                        <a href="#"
                        style="cursor: pointer;"
                        class="tooltip tooltip-top modal_open"
                        data-tooltip="Update Sample Dating"
                        hx-get="{% url 'main_modal_get' %}"
                        hx-vals='{"object":"sample_{{remain.pk}}", "type":"dates_list" }'
                        hx-target="#modal-blank">
                    {{remain.age_summary}}
                        </a>
                    </td>
                    <td>
                        {% if remain.date.first %}
                        Direct
                        {% else %}
                        Context
                        {% endif %}
                    </td>
                    {% if request.user.is_authenticated %}
                    <td><a class="btn tooltip tooltip-top"
                        hx-post="{% url 'main_generic_delete' %}"
                        hx-vals='{
                          "instance_x":"sample_{{remain.pk}}"
                        }'
                        hx-confirm="Do you really want to delete this entry?"
                        hx-target="#remain_{{remain.pk}}"
                        hx-swap="delete"
                        data-tooltip="Delete Entry"
                      ><i class="icon icon-delete"></i>
                    </a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="empty">
            <div class="empty-icon">
              <i class="icon icon-flag"></i>
            </div>
            <p class="empty-title h5">No Human Remains added</p>
        </div>
        {% endif %}
        {% if request.user.is_authenticated %}
        <form>
            {% csrf_token %}
            <input name="site" value="site_{{object.pk}}" style="display: none;">
            <span class="btn btn-primary tooltip tooltip-right"
                hx-post="{% url 'main_sample_create' %}"
                hx-target="#site_human"
                data-tooltip="Add a new entry">
                <i class="icon icon-plus"></i>
            </span>
        </form>
        {% endif %}
        {% if sample_references %}
        <br>
        <h5>References</h5>
        <table class="table table-striped my-2">
            <tbody id="description-reference-tbody" style="border-top: 1px solid lightgrey;">
                {% for ref in sample_references %}
                {% include 'main/reference/reference-tablerow.html' with display=True %}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
