{% load static %}
{% csrf_token %}
<span id='site_site_set' style="display: none;" data-url='{% url "main_generic_setfk" "parent" %}'></span>
<div class="my-2">
    <div class="input-group">
        <span class="input-group-addon"><i class="form-icon icon icon-search"></i> Site</span>
        <input type="text" class="form-input" data-origin="{{object.model}}_{{object.pk}}" data-model="site" placeholder="Search Site" id="search-input" data-url="{% url 'main_generic_search' %}">
        <a href="{% url 'main_site_add' %}" target="_blank" class="btn btn-primary input-group-btn tooltip tooltip-left" data-tooltip="Add new Site"><i class="icon icon-plus"></i></a>
    </div>
    <div class="site-search-appear"></div>
</div>