{% load format %}

<div class="my-2" id="site_sample_content">
    <div class="my-2" style="display:flex;">
        <button class="btn tooltip tooltip-right" data-tooltip="Download all Samples">
            <a target="_blank" href="{% url 'get_dataset' %}?from=site_{{object.pk}}&unique=library&include=samplebatch,sample,layer&extend=sample">
                <i class="icon icon-download"></i>
            </a>
        </button>
        <button class="btn tooltip tooltip-right" data-tooltip="Download all Analyses">
            <a target="_blank" href="{% url 'get_dataset' %}?from=site_{{object.pk}}&unique=library&include=samplebatch,sample,layer&append=qs,mm">
                <i class="icon icon-flag"></i>
            </a>
        </button>
    </div>
    
    <section>
        <h3>Collected Samples</h3>
        <!-- Display the filter -->
        <small>Filter <strong>Samples</strong></small>
        <form
        hx-post="{% url 'main_site_sample_tab'%}"
        hx-target="#site_samples"
        style="width: 80%;"
        >
            {% csrf_token %}
            <input type="hidden" name="object" value="{{object.pk}}">
            <div class="input-group">
                <span class="input-group-addon">Layer</span>
                <select class="form-select" name="layer">
                    {% if request.session.filter_layer_pk %}
                    <option value="layer_{{request.session.filter_layer_pk}}" selected>{{request.session.filter_layer_name}}</option>
                    <option value="all">All</option>
                    {% else %}
                    <option value="all" selected>All</option>
                    {% endif %}
                    {% for entry in layers %}
                    {% if entry.pk %}
                    <option value="layer_{{entry.pk}}">{{entry.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <span class="input-group-addon">Culture</span>
                <select class="form-select" name="culture">
                    {% if request.session.filter_culture_pk %}
                    <option value="culture_{{request.session.filter_culture_pk}}" selected>{{request.session.filter_culture_name}}</option>
                    <option value="all">All</option>
                    {% else %}
                    <option value="all" selected>All</option>
                    {% endif %}
                    {% for entry in cultures %}
                        {% if entry.pk %}
                        <option value="culture_{{entry.pk}}">{{entry.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <span class="input-group-addon">Analyzed only</span>
                <label class="form-switch mx-2">
                    <input type="checkbox" name="analyzed" {% if request.session.filter_analyzed %}checked{% endif %}><i class="form-icon"></i>
                </label>
                <span class="input-group-addon">Combine Batches</span>
                <label class="form-switch mx-2">
                    <input type="checkbox" name="combine" {% if request.session.filter_combine %}checked{% endif %}><i class="form-icon"></i>
                </label>
                <button class="btn btn-primary input-group-btn">OK</button>
            </div>
        </form>
    </section>
    <section class="my-2">
        {% if not request.session.filter_combine %}
        <h4>Sample Batches</h4>
        {% for batch in batches %}
        <!-- List the sample batches -->
        <div class="tile tile-centered" id="sample-batch_{{object.pk}}">
            <div class="tile-icon">
                <div class="btn btn-primary batch tooltip tooltip-right" data-tooltip="Toggle Sample Batch" id="{{batch.pk}}" data-object="samplebatch_{{batch.pk}}">
                {% if batch == selected_batch %}
                <i class="icon icon-arrow-down centered"></i>
                {% else %}
                <i class="icon icon-arrow-right centered"></i>
                {% endif %}
                </div>
            </div>
            <div class="tile-content">
                <div class="tile-title">{{batch.name}}</div>
                <small class="tile-subtitle text-gray">Collected samples: {{batches|lookup:batch}}</small>
            </div>
        </div>

        <section id="samplebatch-content-{{batch.pk}}" {% if batch != selected_batch %} style="display: none;" {% endif %}>
            <div class="tab-panel"
                hx-get="{% url 'main_samplebatch_get' batch.pk %}"
                hx-trigger="load once">
                <div class="loading loading-lg m-2"></div>
            </div>
        </section>
        {% empty %}
        <div class="empty">
            <div class="empty-icon">
                <i class="icon icon-flag"></i>
            </div>
            <p class="empty-title h5">No samples uploaded</p>
        </div>
        {% endfor %}
        {% if request.user.is_authenticated %}
        <span style="margin-bottom:5px;" class="btn modal_open"
            hx-get="{% url 'main_modal_get' %}?"
            hx-vals='{"object":"site_{{object.pk}}", "type":"add_samplebatch"}'
            hx-target="#modal-blank">
            Add Batch
        </span>     
        {% endif %}
        
        {% else %}

        <div class="tab-panel"
            hx-get="{% url 'main_samplebatch_get' 0 %}"
            hx-trigger="load once">
            <div class="loading loading-lg m-2"></div>
        </div>
        
        {% endif %}

    </section>
    <div class="divider"></div>
    <section class="my-2" id="show_libraries" hx-get="{% url 'main_analyzedsample_getdata' object.pk %}"
            hx-trigger="load once">
            <div class="loading loading-lg m-2"></div>
    </section>
</div>
