{% extends "main/base.html" %}
{% load static %}
{% block head %}
<title>Hellforge: Site</title>
{% endblock %}
{% block headline %} Site {% endblock %}
{% block body %}
{% if object %}
<h1>Edit Site: {{object.name}}</h1>
{% else %}
<h1>Add a Site</h1>
{% endif %}

{% for field, errors in form.errors.items %}
    {% for error in errors %}
        {% if field == 'geo'%}
        <div class="toast toast-warning">Please set a Location</div>
        {% else %}
        <div class="toast toast-warning">{{ field }}: {{error}}</div>
        {% endif %}
    {% endfor %}
{% endfor %}
<span id="get_location_data" data-url="{% url 'main_site_geo' %}?object={{object.pk}}"></span>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <div class="container">
        <div class='columns'>
            {% include 'main/location/location_form.html' with object=object.loc.first %}
            <div class="column">
                <div class="my-2">
                    <h5>Site Data</h5>
                        <div class="form-group">
                            <label class="form-label" for="site-site">Parent-Site</label>
                            <select class="form-select" id="site-site" name="site" required>
                                {% if form.site.value %}
                                <option selected value="{{form.site.value}}">{{object.parent.name}}</option>
                                {% endif %}
                                <option value="">---</option>
                                {% for site in parent_options %}
                                <option value="{{site.pk}}">{{site.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="site-name">Name</label>
                            <input class="form-input" type="text" id="site-name" name="name" placeholder="Site name" required
                            value="{{form.name.value}}">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="coredb_id">Coredb Id</label>
                            <input class="form-input" type="text" id="coredb_id" name="coredb_id" placeholder="CoreDB Id"
                            value="{{form.coredb_id.value}}">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="site-country">Country</label>
                            <input class="form-input" type="text" id="site-country" name="country" placeholder="Site country"
                            value="{{form.country.value}}">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="site-type">Type</label>
                            <select class="form-select" id="site-type" name="type" required>
                                {% if form.type.value %}
                                <option selected>{{form.type.value}}</option>
                                {% else %}
                                <option selected>---</option>
                                {% endif %}
                                <option>Cave</option>
                                <option>Umbrella-Site</option>
                                <option>Open Air Site</option>
                                <option>Rockshelter</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="site-elevation">Elevation</label>
                            <input class="form-input" type="number" id="site-elevation" name="elevation" placeholder="Site elevation"
                            value="{{form.elevation.value}}">
                        </div>
                        <br>
                        <button class='btn btn-primary' onclick="saveLayer()" type="submit">Save Site</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="{% static 'js/location.js' %}"></script>
{% endblock %}
