{% load format %}
<style>
    .readme{
        min-width: 100px;
        white-space: nowrap;
    }
    tr>th:first-child,tr>td:first-child {
    position: sticky;
    left: 0;
    z-index: 50;
    }
    th{ vertical-align: bottom }
    .nocontext{
        background-color: silver;
    }
</style>
<div style="height: 40px;"></div>
<div class="my-2 panel" id="site_taxa_content">
    <div class="panel-head p-2">
        <h3>Mammalian remains</h3>
        {% if request.user.is_authenticated %}
        <button
            class='btn tooltip tooltip-right modal_open'
            data-tooltip="Manage Fauna"
            hx-get="{% url 'main_modal_get' %}?{{request.GET|getstring}}"
            hx-vals='{"object":"site_{{object.pk}}","type":"faunal_tables"}'
            hx-target="#modal-blank"><i class="icon icon-plus"></i>
        </button>
        {% endif %}
        <a
            class='btn tooltip tooltip-right'
            data-tooltip="Download Fauna"
            target="_blank"
            href="{% url 'download_faunal_table' %}?object=site_{{object.pk}}"
            ><i class="icon icon-download"></i>
        </a>
        <h5 style="margin-top: 10px;">Filter</h5>
        <form
            hx-post="{% url 'main_site_fauna_get' object.pk %}"
            hx-target="#site_fauna"
            style="width: 80%;"
        >
            <div class="input-group">
                <span class="input-group-addon">Reference</span>
                <select class="form-select" name="reference">
                    {% if reference != 'all' %}
                    <option value="reference_{{reference.pk}}" selected>{{reference.short|title}}</option>
                    {% else %}
                    <option value="all" selected>All</option>
                    {% endif %}
                    {% for ref in all_refs %}
                    {% if ref != reference %}
                    <option value="reference_{{ref.pk}}">{{ref}}</option>
                    {% endif %}
                    {% endfor %}
                    <option value="all">All</option>
                </select>
                <span class="input-group-addon">Type</span>
                <select class="form-select" name="type">
                    <option value="{{type}}" selected>{{type|title}}</option>
                    <option value="small mammals">Small mammals</option>
                    <option value="large mammals">Large mammals</option>
                    <option value="all">All</option>
                </select>
                <span class="input-group-addon">Collapse Family</span>
                <label class="form-switch mx-2">
                    <input type="checkbox" name="collapse" {% if collapse %}checked{% endif %}><i class="form-icon"></i>
                </label>
                <button class="btn btn-primary input-group-btn">Filter</button>
            </div>
        </form>
    </div>
    <div class="panel-body p-2">
        {% if type != 'all' %}
        <h3>{{type|title}}</h3>
        {% endif %}
        {% if families %}

        <table class="table">
            <thead>
                <!--Header nr.1-->
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    {% for family in families %}
                        {% if collapse %}
                        <th colspan="{{data|lookup:'collapsed'|lookup:family|length}}">{{family}}</th>
                        {% else %}
                        <th colspan="{{data|lookup:'header'|lookup:family|length}}">{{family}}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                <!--Header nr.2-->
                {% if not collapse %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% for sp in species %}
                    <td colspan="{{data|lookup:'header'|lookup:sp|length}}"><i>{{sp|species_from_faunastring}}</i></td>
                    {% endfor %}
                </tr>
                {% endif %}
                <!--Header nr.3-->
                <tr>
                    <td></td>
                    <td><strong>Reference</strong></td>
                    <td><strong>Method</strong></td>
                    <td></td>
                    {% if collapse %}
                        {% for family in families %}
                            {% for var in data|lookup:'collapsed'|lookup:family %}
                            <td nowrap>{{var}}</td>
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        {% for sp in species %}
                            {% for var in data|lookup:'header'|lookup:sp %}
                                <td nowrap>{{var}}</td>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for analysis in analyses %}
                <tr id="layeranalysis_{{analysis.pk}}">
                    <td class="{% if analysis.layer %}{{analysis.layer.culture.classname|default:'sterile'}}{% elif analysis.culture %}{{analysis.culture.classname|default:'sterile'}}{% else %}nocontext{% endif %} p-2 readme">
                        {% if analysis.layer %}
                        <strong>{{analysis.layer.name}}</strong>
                        {% elif analysis.culture %}
                        <strong>{{analysis.culture.name}}</strong>
                        {% else %}
                        <i>Site</i>
                        {% endif %}
                    </td>
                    <td class="readme">
                        {% if analysis.ref %}
                        {% include 'main/reference/reference-popup.html' with ref=analysis.ref pos='right' %}
                        {% else %}
                        <i>No Reference</i>
                        {% endif %}
                    </td>
                    <td class="readme">
                        {{analysis.method}}
                    </td>
                    <td>
                        {% if request.user.is_authenticated %}
                        <form>
                            <input type="hidden" name="instance_x" value="layeranalysis_{{analysis.pk}}">
                            <a class="tooltip tooltip-right"
                            hx-post="{% url 'main_generic_delete' %}"
                            hx-confirm="Delete Analysis Entry"
                            hx-target="#layeranalysis_{{analysis.pk}}"
                            hx-swap="delete"
                            data-tooltip="Delete Analysis Entry"><i class="icon icon-delete"></i></a>
                        </form>
                        {% endif %}
                    </td>
                    {% if collapse %}
                        {% for family in families %}
                            {% for var in data|lookup:'collapsed'|lookup:family %}
                            {% with val=data|lookup:'data_collapsed'|lookup:analysis|lookup:family|lookup:var|default:"" %}
                            {% if var == 'Yes/No' and val > 0 %}
                            <td class="heatmap" data-max="{{data|lookup:'max'|lookup:var}}">1</td>
                            {% else %}
                            <td class="heatmap" data-max="{{data|lookup:'max'|lookup:var}}">{{val|stringformat:'d'}}</td>
                            {% endif %}
                            {% endwith %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        {% for sp in species %}
                            {% for var in data|lookup:'header'|lookup:sp %}
                            {% with val=data|lookup:'data'|lookup:analysis|lookup:sp|lookup:var|default:"" %}
                            <td class="heatmap" data-max="{{data|lookup:'max'|lookup:var}}">{{val}}</td>
                            {% endwith %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p class="p-2 form-input-hint">Please see the attached publications for details on the faunal analyses. Most common data types are:<br>
            <strong>NISP:</strong> Number of identified specimen<br>
            <strong>MNI:</strong> Miminal number of individuals<br>
            <strong>MNE:</strong> Minimal number of elements<br>
            <strong>Yes/No:</strong> Presence/Absence data<br>
        </p>
        {% else %}
        <div class="empty">
            <div class="empty-icon">
              <i class="icon icon-flag"></i>
            </div>
            <p class="empty-title h5">No Faunal Data imported</p>
        </div>
        {% endif %}
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.heatmap').each(function(){
            var max = $(this).attr('data-max')
            var val = $(this).html()
            var diff = val/max
            if(val){
                $(this).css('background', `rgba(51,170,51,${diff})`)
            }
        })
    });


</script>
