{% extends 'main/base.html' %}
{% load format %}
{% block head %}
{% load static %}
<title>Hellforge: {{object.name}}</title>
{% include 'main/editor/editor-head.html' %}
{% endblock %}
{% block headline %} <a style='color:white' href="{% url 'site_list' %}">{{object}}</a>{% endblock %}
{% block body %}

<!-- Add dynamic styling for units and cultures -->
<div id="reload_site_style">
    <style>
    .leaflet-top{
        z-index:400;
    }
    .leaflet-bottom{
        z-index:400;
    }
    .sterile{
        background-color: rgb(117, 117, 117);
    }
    </style>
    {% for cult,color in cultures %}
    <style>
    .{{cult}}{
        background-color:{{color}};
        fill: {{color}};
    }
    </style>
    {% endfor %}
</style>
</div>
<span id="get_location_data" data-url="{% url 'main_site_geo' %}?object={{object.pk}}"></span>
<div class='columns' style="padding:10px;">
    <!--This spans are used by ajax to reload the site panels-->
    <span id="site_info_update_click" style="display: none;" class="generic_reload" data-reload="mobile"></span>
    <span id="layers_update_click" style="display: none;" class="generic_reload" data-reload="site_layer"></span>
    <div class="column col-4" id='mobile' style="position:relative;">
        <div style="position:absolute; right:5%; top:10px">
        {% if request.user.is_authenticated %}
        <a class="btn btn-primary tooltip tooltip-left" href="{% url 'main_site_update' object.pk %}" data-tooltip="Edit Site">
            <i class="icon icon-edit"></i>
        </a>
        {% if project and not object.id in project_sites %}
        <span class="btn bg-success tooltip tooltip-top generic_addm2m" data-tooltip="Add Site to Project"
            data-x="site_{{object.pk}}" data-y="project_{{project.pk}}" data-reload="location">
            <i class="icon icon-plus"></i>
        </span>
        {% elif project and object.id in project_sites %}
        <span class="btn bg-warning tooltip tooltip-top generic_rmm2m" data-tooltip="Remove Site from Project"
            data-x="site_{{object.pk}}" data-y="project_{{project.pk}}" data-reload="location">
            <i class="icon icon-minus"></i>
        </span>
        {% endif %}
        {% endif %}
        </div>
        <div class="my-2">
            <h2 style="margin-bottom: 2px;">Site Information</h2>
            {% if project and not object.pk in project_sites %}
            <small class="label label-warning my-2">Site not in Project</small><br>
            {% elif project and object.pk in project_sites %}
            <small class="label label-success my-2">Site in Project</small><br>
            {% endif %}
            <div class="btn-group">
                <div class="btn active tab-item"
                    data-group="site-view-1"
                    hx-get="{% url 'main_site_element' %}"
                    hx-vals='{ "object": "{{ object.pk }}", "element":"overview" }'
                    hx-target="#site-panel-1"
                    hx-trigger="load,click">
                    Site Overview
                </div>
                {% if request.user.is_authenticated %}
                <div class="btn tab-item"
                    data-group="site-view-1"
                    hx-get="{% url 'main_render_description' object.description.first.pk %}"
                    hx-target="#site-panel-1">
                    Notes
                </div>
                {% endif %}
                {% if project_description and site.id in project_sites %}
                <div class="btn tab-item"
                    data-group="site-view-1"
                    hx-get="{% url 'main_render_description' project_description.pk %}"
                    hx-target="#site-panel-1">
                    {{project}}
                </div>
                {% endif %}
            </div>
            <div id="site-panel-1" style="padding:10px;" class="panel">
            </div>
        </div>
    </div>
    <div id="content-part" class="column col-8">
        <div class="my-2">
            {% if object.child.first %}
            <!-- This Site is only an Umbrella -->
            <div>
                <h3 class="text-grey" id="children">Sites</h3>
                <div class="container">
                    <div class="columns">
                    {% for child in object.child.all %}
                        <div class="column col-4 col-xs-12">
                            <div class="card">
                                <div class="card-image" style="height:200px; overflow:hidden;">
                                    {% if child.gallery.image.first %}
                                    <img src="{{child.gallery.image.first.image.url}}" style="width:100%; height:100%; object-fit: cover;" class="img-responsive">
                                    {% else %}
                                    <div class="empty" style="width:100%; height:100%;">
                                        <div class="empty-icon">
                                        <i class="icon icon-photo"></i>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="card-header">
                                <div class="card-title h5">{{child.name}}</div>
                                {% for syn in child.synonym.all %}
                                <div class="card-subtitle text-gray">{{synonym}}</div>
                                {% endfor %}
                                </div>
                                <div class="card-body">
                                </div>
                                <div class="card-footer">
                                <a href="{% url 'site_detail' pk=child.pk %}" class="btn btn-primary">Go</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>

            </div>
            {% else %}
            <!-- Site is a real site -->
            <ul class="tab tab-block">
                <li class="tab-item main {% if tab == 'site_layer' %} active {% endif %}" data-group="main">
                    <a style="cursor: pointer;" class="select-block-content" data-select="site_layer"><h4>Stratigraphy</h4></a>
                </li>
                <li class="tab-item {% if tab == 'site_fauna' %} active {% endif %}" data-group="main">
                    <a style="cursor: pointer;" class="select-block-content" data-select="site_fauna"><h4>Fauna</h4></a>
                </li>
                {% if object.id in project_sites %}
                <li class="tab-item {% if tab == 'site_samples' %} active {% endif %}" data-group="main">
                    <a style="cursor: pointer;" class="select-block-content" data-select="site_samples"><h4>Samples</h4></a>
                </li>
                <li class="tab-item {% if tab == 'site_dna' %} active {% endif %}" data-group="main">
                    <a style="cursor: pointer;" class="select-block-content" data-select="site_dna"><h4>DNA</h4></a>
                </li>
                {% endif %}
            </ul>
            <script>
                $('body').on('click', '.select-block-content', function(){
                    add_url_params({
                        'tab':$(this).attr('data-select')
                    })
                })
            </script>

            <div class="block-content" id="site_layer" style="{% if tab != 'site_layer' %} display:none {% endif %}"
                hx-get="{% url 'main_profile_get' %}?{{request.GET|getstring}}"
                hx-trigger="load once"
                hx-vars="{'site':'site_{{object.pk}}'}">
                <div class="loading loading-lg m-2"></div>
            </div>
            <div class="block-content" id="site_fauna" style="{% if tab != 'site_fauna' %} display:none {% endif %}"
                hx-get="{% url 'main_site_fauna_get' %}?{{request.GET|getstring}}"
                hx-trigger="load once"
                hx-vars="{'site':'site_{{object.pk}}'}">
                <div class="loading loading-lg m-2"></div>
            </div>
            {% if object.id in project_sites %}
            <div class="block-content" id="site_samples" style="{% if tab != 'site_samples' %} display:none {% endif %}"
                hx-get="{% url 'main_site_sample_tab' %}?{{request.GET|getstring}}"
                hx-trigger="load once"
                hx-vars="{'object':'site_{{object.pk}}'}">
                <div class="loading loading-lg m-2"></div>
            </div>
            <div class="block-content" id="site_dna" style="{% if tab != 'site_dna' %} display:none {% endif %}"
                hx-get="{% url 'main_site_dna_tab' %}?{{request.GET|getstring}}"
                hx-trigger="load once"
                hx-vars="{'object':'site_{{object.pk}}'}">
                <div class="loading loading-lg m-2"></div>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% if object.layer.first %}
<div class="btn-group mx-2">
    <button class="btn timeline-filter btn-primary" id="timeline-show-curves">14C Curve</button>
    <button class="btn tooltip tooltip-right" data-tooltip="Download all dates">
        <a target="_blank" href="{% url 'get_dataset' %}?from=site_{{object.pk}}&unique=date&include=layer">
            <i class="icon icon-download"></i>
        </a>
    </button>
</div>
<div class="m-2 self_reload" id="timeline-content" data-url="{% url 'main_timeline_render' 'site' object.pk %}"></div>
{% endif %}
<script src="{% static 'js/location.js' %}"></script>
<script src="{% static 'js/site.js' %}"></script>
<script src="{% static 'js/dating.js' %}"></script>
<script src="{% static 'js/samples.js' %}"></script>
{% endblock %}
