<table class="table" style="margin-bottom:20px;">
    <thead>
    <tr>
        <th>Name</th>
        {% if object.parent %}
        <th>Parent</th>
        {% endif %}
        {% if object.child.all %}
        <th>Children</th>
        {% endif %}
        {% if object.country %}
        <th>Country</th>
        {% endif %}
        <th>Type</th>
        {% if object.elevation %}
        <th>Elevation</th>
        {% endif %}
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.name}} ({{object.coredb_id}})</td>
        {% if object.parent %}
        <td><a href="{% url 'site_detail' pk=object.parent.pk %}">{{object.parent}}</a></td>
        {% endif %}
        {% if object.child.first %}
        <td>
            {% for child in object.child.all %}
            <a href="{% url 'site_detail' pk=child.pk %}">{{child.name}}</a><br>
            {% endfor %}
        </td>
        {% endif %}
        {% if object.country %}
        <td>{{object.country}}</td>
        {% endif %}
        <td>{{object.type}}</td>
        {% if object.elevation %}
        <td>{{object.elevation}} m</td>
        {% endif %}
        <td>
            {% if request.user.is_authenticated %}
            <div class="popover popover-left">
                <button class="btn"><i class="icon icon-menu"></i></button>
                <div class="popover-container">
                <div class="card">
                    <div class="card-body">
                    <button id='contact_modal' class='btn fill_modal tooltip tooltip-top' data-info="site_{{site.pk}}" data-tooltip="Add Contact" data-url="{% url 'ajax_fill_modal' %}?type=site_contact">Properties</button>
                    </div>
                </div>
                </div>
            </div>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>
{% if object.contact.first %}
<h5>Collaborators</h5>
{% for contact in object.contact.all %}
    {% include 'main/contact/contact-tile.html' %}
{% endfor %}
<br>
{% endif %}
<div style="height: 480px;" id="map"></div>