{% load format %}
<div id="site_profile_content">
    <ul class="tab tab-block" id="profile-list">
        {% for profile in object.profile.all %}
        <li id="profile-tab_{{profile.pk}}"
        class="tab-item switch_profile {% if selected_profile == profile %}active{% endif %}"
        data-group="profile"
        data-show="profile_{{profile.pk}}"
        hx-get="{% url 'main_timeline_render_profile' 'site' object.pk profile.pk %}"
        hx-target="#timeline-content"
        >
            <a style="cursor:pointer;">{{profile.name}}</a>
        </li>
        <span style="display: none;"
        hx-get="{% url 'main_profile_get' %}?profile=profile_{{profile.pk}}"
        hx-target="#show_profile"
        hx-trigger="click from:#profile-tab_{{profile.pk}}"
        ></span>
        {% endfor %}
        <script>
            $('body').on('click', '.switch_profile', function(){
                add_url_params({'profile':$(this).attr('data-show')})
                $("input[id=main_profile_layer_add]").val($(this).attr('data-show'))
            })
        </script>
        {% if request.user.is_authenticated %}
        <li id="before-profile-add">
            <span style="margin:5px;" class="btn  btn-primary modal_open tooltip tooltip-left" data-tooltip="Add a Profile"
                hx-get="{% url 'main_modal_get' %}"
                hx-vals='{"object":"site_{{object.pk}}", "type":"add_profile"}'
                hx-target="#modal-blank">
                Add Profile
            </span>
        </li>
        {% endif %}
    </ul>
    <!--Show the selected profile-->
    {% if selected_profile %}
    <section class="m-2" style="padding-top: 20px;" id="show_profile"
        hx-get="{% url 'main_profile_get' %}?profile=profile_{{selected_profile.pk}}"
        hx-trigger="load once"
    >
    </section>
    {% else %}
    <div class="empty">
        <div class="empty-icon">
        <i class="icon icon-flag"></i>
        </div>
        <p class="empty-title h5">No Profiles yet</p>
        <p class="empty-subtitle">Click the button above to add a profile.</p>
    </div>
    {% endif %}
    <!-- Add layers from other profiles -->
    {% if request.user.is_authenticated %}
    <div>
        <h5 id="toggle_other_layers"> Add Layer to profile </h5>
        <div id="show_other_layers" style="display: none;">
            <div class="has-icon-left">
                <input class="form-input" id="layer-list-search" type="text" placeholder="Find Layer" style="width:50%;">
                <i class="form-icon icon icon-search"></i>
            </div>
            <script>
                $('#layer-list-search').on("keyup", function() {
                    var value = $("#layer-list-search").val().toLowerCase();
                    $("tr.layer_search").filter(function() {
                        if($(this).text().toLowerCase().indexOf(value) > -1){
                            $(this).show()
                        } else {
                            $(this).hide()
                        }
                    });
                });
            </script>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    {% include 'main/profile/layer-tablehead.html' with display='add_layer' %}
                    <th></th>
                    <th></th>
                </tr>
                </thead>
            <tbody id="other_profile_layer_tbody">
            {% for layer in object.layer.all %}
                    <tr class="layer_search">
                    {% include 'main/profile/layer-tablecells.html' with display='add_layer' %}
                    <td>
                        <form>
                            <input id="main_profile_layer_add" type="hidden" name="instance_x" value="profile_{{selected_profile.pk}}">
                            {% csrf_token %}
                            <span class="btn"
                                hx-post="{% url 'main_profile_layer_add' layer.pk %}"
                                hx-target="#show_profile">
                                <i class="icon icon-upward"></i>
                            </span>
                        </form>
                    </td>
                    </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    <script>
        $("body").on('click','#toggle_other_layers',function(){
          $("#show_other_layers").toggle()
        });
      </script>
    {% endif %} 
    </div>
</div>