{# the column with the relevant location information to be loaded into other form-views #}
<div class="column">
    <h5>Location</h5>
    <div class="input-group">
        <span class="input-group-addon">Lat</span>
        <input type="text" name="lat" class="form-input" placeholder="Lat" value="{{object.get_coordinates.0}}">
        <span class="input-group-addon">Long</span>
        <input type="text" name="long" class="form-input" placeholder="Long" value="{{object.get_coordinates.1}}">
    </div><br>
    <div style="height: 480px;" id="map"></div>
</div>
{# fill the leaflet map in the view that includes this form! otherwise the centering is off #}
