<td class="{% if layer.culture %}{{layer.culture.classname}}{% else %}sterile{% endif%}" style="{% if layer.parent %} border-left:solid 3px black; {% endif %}">
    {% if layer.parent %}
    <span style="font-size:10pt;">{{layer.parent.name}}</span><br>
    {% endif %}
    <strong>{{layer.name}}</strong>
    {% for syn in layer.synonyms.all %}
    <br><span style="font-size:11pt;">{{syn.name}} ({{syn.type}})</span>
    {% endfor %}
</td>
<!--
{# for structure in site.layer_hierarchies #}
<td>
    {% if structure == layer.parent.hierarchie %}
    <strong>{{layer.parent.name}}</strong>
    {% endif %}
</td>
{# endfor #}
-->
<td>
    {% if layer.date.first or layer.hidden_dates %}
    <span class='text-primary c-hand fill_modal tooltip tooltip-right' data-size="modal-lg" data-info="layer_{{layer.pk}}" data-tooltip="Manage Dates" data-url="{% url 'ajax_fill_modal' %}?type=date-list">{{layer.age_summary}}</span>
    {% else %}
    {{layer.age_summary}}<!--<br>
    <span class="text-gray" style="font-size:11pt;">Context</span>-->
    {% endif %}
    {%if layer.reldates %}
    {% for reldate in layer.reldates %}
    <br>{{reldate}}
    {% endfor %}
    {%endif%}
</td>
<td>{% if layer.culture %}
    <a class="btn-link" href="{% url 'culture_detail' pk=layer.culture.pk %}">{{layer.culture}}</a><br>
    <span class="text-gray" style="font-size:11pt;">{{layer.culture.age_summary}}</span>
    {% endif %}
</td>
<td>
    {{layer.epoch}}<br>
    <span class="text-gray" style="font-size:11pt;">{{layer.epoch.age_summary}}</span>
</td>
