<td>
    {{layer.age_summary}}<br>
    {{layer.age_depth}}
</td>
<td>{{layer.name}}</td>
<td>{{layer.site_use}}</td>
<td>{{layer.description}}</td>
<td>
{% for checkpoint in layer.checkpoint.all %}
    <div>{{checkpoint.name}}<br>
        {{checkpoint.age_summary}}
    </div>
{% endfor %}
</td>
<td>{{layer.culture}}<br>
    {{layer.culture.age_summary}}
</td>
<td>
    {{layer.epoch}}<br>
    {{layer.epoch.age_summary}}
</td>
<td>
    {% for ref in layer.ref.all %}
        {% include 'main/references/reference-popup.html' %}<br>
    {% endfor %}
</td>
<td><a class="btn-link" href="{% url 'layer_update' layer.pk%}"><i class="icon icon-edit"></i></a></td>
