{% load format %}
<td class="{% if layer.culture %}{{layer.culture.classname}}{% else %}sterile{% endif%}" style="width: 5px;white-space: nowrap;">
    {% if layer.parent %}
    <span>{{layer.parent.name}}</span><br>
    {% else %}
    <strong>{{layer.name}}</strong>
        {% for syn in layer.synonyms.all %}
        <br><span style="font-size:11pt;">{{syn.name}} ({{syn.type}})</span>
        {% endfor %}
    {% endif %}
</td>
<td class="{% if layer.culture %}{{layer.culture.classname}}{% else %}sterile{% endif%}" style="width: 5px;white-space: nowrap;">
    {% if layer.parent %}
    <strong>{{layer.name}}</strong>
    {% for syn in layer.synonyms.all %}
    <br><span style="font-size:11pt;">{{syn.name}} ({{syn.type}})</span>
    {% endfor %}
    {% endif %}
</td>
<td>
    <span
        class="text-primary c-hand tooltip tooltip-right modal_open"
        data-tooltip="Manage Dates"
        hx-get="{% url 'main_modal_get' %}?{{request.GET|getstring}}"
        hx-vals='{"object":"layer_{{layer.pk}}","type":"dates_list"}'
        hx-target="#modal-blank">{{layer.age_summary}}
    </span>
    {% if layer.set_upper or layer.date.all|length > 0 %}
    <br><span class="text-gray" style="font-size:11pt;">({{layer.date.all|length}} Dates)</span>
    {% endif %}
</td>
<td>{% if layer.culture %}
    <a class="btn-link" href="{% url 'culture_detail' pk=layer.culture.pk %}">{{layer.culture}}</a>
    <!--<span class="text-gray" style="font-size:11pt;">{{layer.culture.age_summary}}</span>-->
    {% endif %}
</td>
<td>
    {{layer.epoch|default:""}}
    <br><span class="text-gray" style="font-size:11pt;">{{layer.epoch.age_summary}}</span>
</td>
