<section class="m-2">
  {% load static %}
    <h3>{{object.name}}</h3>
    <h5>Layers</h5>
    {% if object.layer.first %}
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Age</th>
            <th>Name</th>
            <th>Epoch</th>
            <th>Culture</th>
            <th>Samples</th>
          </tr>
        </thead>
        <tbody id="layer_tbody" data-url="{% url 'ajax_layer_pos_update' object.site.pk %}">
            {% for layer in object.layer.all %}
            <tr class="table_row" id="layer_{{layer.pk}}">
                <td><i class="icon icon-resize-vert"></i></td>
                <td>{{layer.age_summary}}</td>
                <td>{{layer.name}}</td>
                <td>{{layer.epoch}}</td>
                <td>{{layer.culture}}</td>
                <td>{{layer.sample_set.all.count}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table><br>
      <span class="btn btn-primary add_layer tooltip tooltip-right" data-tooltip="Add a new Layer" id="layerprofile_{{object.pk}}" data-url="{% url 'ajax_layer_add' object.pk %}"><i class="icon icon-plus"></i></span>
      <br>
    {% else %}
      <div class="empty">
        <div class="empty-icon">
          <i class="icon icon-flag"></i>
        </div>
        <p class="empty-title h5">No Layers</p>
        <p class="empty-subtitle">Click the button to add a new Layer.</p>
        <div class="empty-action">
          <button class="btn btn-primary add_layer" id="layerprofile_{{object.pk}}" data-url="{% url 'ajax_layer_add' object.pk %}">Add layer</button>
        </div>
      </div>
    {% endif %}
    <!-- Add layers from other profiles -->
    {% if object.other_layers %}
    <br><br>
    <div>
        <h5> Add Layer from other profile </h5>
        <table  class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Profile</th>
            <th>Age</th>
            <th>Name</th>
            <th>Epoch</th>
            <th>Culture</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="other_profile_layer_tbody">
        {% for layer in object.other_layers %}
            <tr>
                <td>{{layer.in_profile}}</td>
                <td>{{layer.age_summary}}</td>
                <td>{{layer.name}}</td>
                <td>{{layer.epoch}}</td>
                <td>{{layer.culture}}</td>
                <td><span class="btn add_other_layer" id="other_layer_{{layer.pk}}">ADD</span></td>
            </tr>
        {% endfor %}
        </tbody>
        </table><br>
    </div>
    {% endif %}
      <script src="{% static 'profile.js' %}"></script>
    </section>