{% load static %}
{% load format %}
{% csrf_token %}
<div class="input-group">
    <span class="input-group-addon">Add Synonym</span>
    <input type="text" name="type" class="form-input" placeholder="Tag/Type">
    <input type="text" name="name" class="form-input" placeholder="Name">
    <span
        hx-post="{% url 'main_synonym_add' %}?{{request.GET|getstring}}"
        hx-target="#modal-blank"
        class="btn btn-primary input-group-btn">Add</span>
</div>
<p class="form-input-hint">Use synonyms to attach different/older names to the model. Tag it to remember the type of synonym</p>