<div class="divider text-center" data-content="Synonyms"></div>
{% for syn in object.synonyms.all %}
<div class="tile tile-centered" id="synonym_{{syn.pk}}">
    <div class="tile-icon"
      hx-post="{% url 'main_generic_delete' %}"
      hx-vals='{
          "instance_x":"synonym_{{syn.pk}}"
        }'
      hx-target="#synonym_{{syn.pk}}"
      hx-swap="delete">
      <span class="btn tooltip tooltip-right" data-tooltip="Delete Synonym">
        <i class="icon icon-delete" centered></i>
      </span>
    </div>
    <div class="tile-content">
        <div class="tile-title">{{syn.name}}</div>
        <small class="tile-subtitle text-gray">{{syn.type}}</small>
    </div>
</div>
{% endfor %}