<div class="divider text-center" data-content="Synonyms"></div>
{% for syn in object.synonyms.all %}
<div class="tile tile-centered">
    <div class="tile-icon">
      <button id="synonym_{{syn.pk}}"
              class="btn synonym_delete tooltip tooltip-right"
              data-tooltip="Delete Synonym"
              data-url="{% url 'ajax_synonym_delete' %}">
        <i class="icon icon-delete" centered></i>
      </button>
    </div>
    <div class="tile-content">
        <div class="tile-title">{{syn.name}}</div>
        <small class="tile-subtitle text-gray">{{syn.type}}</small>
    </div>
</div>
{% endfor %}