<div class="tile tile-centered">
    <div class="tile-icon">
        <button class="btn btn-primary example-tile-icon c-auto">
            <i class="icon icon-people" centered></i>
        </button>
    </div>
    <div class="tile-content">
      <div style="display: flex; gap:5px">
        <div class="tile-title">{{contact.name}}</div>
        {% if contact.tags %}
          <div class="text-gray">({{contact.tags}})</div>
        {% endif %}
      </div>
      {% for aff in contact.affiliation.all %}
      <small class="tile-subtitle text-gray">{{aff}}</small>
      {% endfor %}
    </div>
    <div class="tile-action">
      <button class="btn btn-link" onclick="location.href='mailto:{{contact.email}}';">
        <i class="icon icon-2x icon-mail"></i>
      </button>
    </div>
</div>