{% load static %}
<h6>Add Contact:</h6>
<div class="has-icon-left">
    <input class="form-input" type="text" id="contact-search" placeholder="Search" style="width:50%;" data-url="{% url 'ajax_contact_search'%}">
    <i class="form-icon icon icon-search"></i>
</div>
<div class="contact-search-appear"></div>
<div class="my-2 p-2">
    <span class='btn ContactModal'>Add New Contact</span>
    <!-- Modal for Reference -->
    <div class="modal inactive" id="contact-modal">
        <a href="#close" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a id="contact-modal-close" class="btn btn-clear float-right" style="cursor:pointer;" aria-label="Close"></a>
            <div class="modal-title h5">Contact Person </div>
        </div>
        <div class="modal-body">
            <div class="content">
                <form id="contact-form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'main/contact/contact-fields.html' %}
                    <br>
                    <span id='ajax_add_contact' class='btn addContact' data-url='{% url "ajax_contact_add" %}'>Add</span>
                </form>
            </div>
        </div>
    </div>
</div>