{% if object.contact %}
{% for contact in object.contact.all %}
    <div class="tile tile-centered">
        <div class="tile-icon">
            <div class="example-tile-icon">
            <button class="btn generic_rmm2m" data-x="contact_{{contact.pk}}" data-y="{{object.model}}_{{object.pk}}" data-click="reload">
                <i class="icon icon-delete"></i>
            </button>
            </div>
        </div>
        <div class="tile-content">
            <div class="tile-title">{{contact.name}}</div>
            {% for affiliation in contact.affiliation.all %}
            <small class="tile-subtitle text-gray">{{affiliation}}</small>
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% endif %}