<table id="contact-list">
{% if object.contact.first %}
<tr>
    <td><strong>Contact:</strong></td>
    <td></td>
    <td></td>
</tr>
{% endif %}
{% for contact in object.contact.all %}
    <tr id="contact_display_row_{{contact.pk}}">
        <td></td>
        <td id="contact_{{contact.pk}}">
            <a target="_blank" class="btn-link" href="#">{{contact}}</a>
        </td>
        <td><i id="contact_delete_{{contact.pk}}" class="icon btn btn-primary icon-delete contact_delete"></i></td>
    </tr>
{% endfor %}
</table>