{% extends "main/base.html" %}
{% load static %}
{% block head %}
<title>Hellforge: Contact</title>
{% endblock %}
{% block headline %} Contact {% endblock %}
{% block body %}
{% if object %}
<h1>Edit Contact: {{object.name}}</h1>
{% else %}
<h1>Add a Contact</h1>
{% endif %}

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
    {{ form }}
    <button class='btn btn-primary' onclick="saveLayer()" type="submit">{% if object %}Update{% else %}Save{% endif %}</button>
</form>
{% endblock %}