{% extends 'main/base.html' %}
{% block head %}
{% load static %}
<title>Contact Database</title>
{% endblock %}
{% block body %}


<div class='columns'>
    <div class="column col-8">
        <div class="my-2">
            <div class="panel"  style="max-height:80vh;">
                <div class="panel-header">
                  <div class="panel-title"><h2>Contacts</h2></div>
                  <div class="has-icon-left">
                      <input class="form-input" id="contact-list-search" type="text" placeholder="Find Contact" style="width:50%;">
                      <i class="form-icon icon icon-search"></i>
                  </div>
                </div>
                <div class="panel-body">
                  <span id='table_reload_trigger' style="display: none;" class="generic_reload" data-reload="person-table"></span>
                  <table id="person-table" class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Affiliations</th>
                          <th>ORCID</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for person in object_list %}
                        <tr class="tr_click" id="trperson_{{person.pk}}">
                          <td>{{ person.name }}</td>
                          <td>{{ person.email }}</td>
                          <td>{% for aff in person.affiliation.all %}
                              {{aff}}<br>
                              {% endfor %}
                          </td>
                          <td>{{ person.orcid }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                  <div class="py-2">
                    <button data-url="{% url 'main_person_create' %}" id="create_person_from_string" class="btn btn-primary">Add Person from Search</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column col-4">
        <div class="my-2">
            <h2>Details</h2>
            <datalist id="affiliation-choices">
              {% for option in available_affiliations %}
                <option value="{{option}}"></option>
              {% endfor %}
            </datalist>
            <span id='panel_reload_trigger' style="display: none;" class="generic_reload" data-reload="person_detail_container"></span>
            <div class="panel p-2" id="person_detail_container">
              <!--Render all panels, but hide-->
              {% for person in object_list %}
              <div id="person_form_{{person.pk}}" class="person_form" style="display: none;">

                <button class="btn btn-sm float-right tooltip tooltip-left generic_delete"
                    data-tooltip="Cancel this Person"
                    hx-post="{% url 'main_generic_delete' %}"
                    hx-vals='{
                        "instance_x":"person_{{person.pk}}"
                    }'
                    hx-swap="none"
                    hx-confirm="Delete the Person?"
                    data-hide="reload">
                  <i class="icon icon-delete"></i>
                </button>

                <form method="POST" enctype="multipart/form-data" id="formdata_{{person.pk}}">
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="form-label" for="name_{{person.pk}}">Name</label>
                    <input class="form-input" name="name" type="text" id="name_{{person.pk}}" placeholder="Name" value="{{person.name}}">
                  </div>

                  <div class="form-group">
                    <label class="form-label" for="email_{{person.pk}}">Email</label>
                    <input class="form-input" name="email" type="text" id="email_{{person.pk}}" placeholder="Email" value="{{person.email}}">
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="orcid_{{person.pk}}">ORCID ID</label>
                    <input class="form-input" name="orcid_id" type="text" id="orcid_{{person.pk}}" placeholder="ORCID ID" value="{{person.orcid_id}}">
                  </div>
                  <span class="btn update_person" data-x="person_{{person.pk}}" data-url="{% url 'main_person_update' %}">Save</span>
                </form>
                <br>

                <label class="form-label" for="person_{{person.pk}}">Add Affiliation</label>
                <div class="input-group">
                  <input list="affiliation-choices" type="text" class="form-input" id="person_{{person.pk}}_val" placeholder="Search...">
                  <button id="person_{{person.pk}}" data-url="{% url 'main_contact_affiliation_add' %}" class="btn btn-primary input-group-btn add_affiliation">Add</button>
                </div>

                <strong>Affiliations</strong>
                {% for aff in person.affiliation.all %}
                <div class="tile tile-centered my-1">
                  <div class="tile-icon">
                    <button class="btn btn-primary">
                        <i class="icon icon-location" centered></i>
                    </button>
                  </div>
                  <div class="tile-content">
                    <div class="tile-title">{{aff}}</div>
                  </div>
                  <div class="tile-action">
                      <button class="btn generic_rmm2m"
                          data-x="affiliation_{{aff.pk}}"
                          data-y="person_{{person.pk}}"
                          data-reload="person_form_{{person.pk}},trperson_{{person.pk}}">
                      <i class="icon icon-delete"></i>
                    </button>
                  </div>
                </div>
                {% endfor %}
                <!--
                <strong>Authorships</strong>
                {% for author in person.author.all %}
                <p>{{author}}</p>
                {% endfor %}
                -->
              </div>
              {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/person_affiliation.js' %}"></script>
{% endblock %}
