{% extends 'main/base.html' %}
{% block head %}
{% load static %}
<title>{{object}}</title>
{% endblock %}
{% block body %}
<h1>{{object.name}}</h1>

<div class='columns' style="padding:10px;">
    <div class="column col-4" id='mobile' style="position:relative;">
        <h3>Project Description</h3>
        <a href="{% url 'main_project_close' %}">Log Out</a>
        <div class="my-2">
            <a href="{% url 'main_project_update' object.pk %}">Edit Project</a>
            <div id="description-description" class="panel">
                <div class="panel-header" style="position:relative;">
                    #TODO: Make Work!
                    <a class="btn btn-primary tooltip tooltip-right" href="#" data-tooltip="Edit Description">
                        <i class="icon icon-edit"></i>
                    </a>
                    <span id="resize-editor" class="btn tooltip tooltip-left" style="position:absolute; right: 15px" data-tooltip="Toggle Full Width">
                        <i class="icon icon-resize-horiz"></i>
                    </span>
                </div>
                <div class="panel-body" style="max-height:720px;">
                    <h5>Authors</h5>
                    {% include 'main/description/author_tile.html' with object=object.description.first %}
                    {% include 'main/editor/editor-body.html' with description=object.description.first model="site" %}
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="my-2">
            <h3>Project Overview</h3>

        </div>
    </div>
</div>
{% endblock %}
