<h4>Project Overview</h4>
<h5>Exports</h5>
<div>
    <span class="btn tooltip tooltip-right" data-tooltip="Export samples and libraries">
        <a target="_blank" href="{% url 'get_dataset' %}?from=project_{{object.pk}}&unique=library&include=site,layer,samplebatch,sample&extend=sample">
            <i class="icon icon-download"></i>
        </a>
    </span>
    <span class="btn tooltip tooltip-right" data-tooltip="Export Collaborators">
        <a target="_blank" href="{% url 'get_dataset' %}?from=project_{{object.pk}}&unique=contact&include=site">
            <i class="icon icon-people"></i>
        </a>
    </span>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Sites</th>
            <th>Collected Samples</th>
            <th>Analyzed</th>
            <th>Libraries</th>
            <th>Project Visibility</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{site_count}}</td>
            <td>{{sample_count}}</td>
            <td>{{analyzedsample_count}}</td>
            <td>{{library_count}}</td>
            <td>{{object.published|yesno:"Published,Private,NA"}}</td>
            <td>
                <span class="share_button btn btn-primary tooltip tooltip-right" data-tooltip="Copy Share Link"><i class="icon icon-link"
                    onclick="copyClipboard(`{{request.scheme}}://{{request.get_host}}{% url 'main_project_checkout' object.namespace %}?pw={{object.public_password}}`)"></i></span>
                </td>
                <script>
                    $('body').on('click', '.share_button', function(){
                        $(this).addClass('btn-success')
                    });
                </script>
        </tr>
    </tbody>
</table>

<div style="height: 480px;margin-top: 20px;" id="map"></div>
<a href="{% url 'site_list' %}" style="margin-bottom: 20px;">All Sites</a>
