{% extends 'main/base.html' %}
{% block head %}
{% load static %}
{% load format %}
<title>Hellforge | {{object}}</title>
{% include 'main/editor/editor-head.html' %}
{% endblock %}

{% block paddingless %}
<div class="hero bg-primary">
  <div class="hero-body">
    <h2 class="m-2 p-2">{{object.name}}</h2>
  </div>
</div>
{% endblock %} 

{% block body %}
<style>
    th{
        cursor: pointer;
        white-space: nowrap;
    }
</style>
<span id="get_location_data" data-url="{% url 'main_project_geo' %}?object={{object.pk}}"></span>

<div class='columns'>
    <div class="column col-4 col-xl-12 p-2" style="position: relative;">
        <h3 class="text-center">Details</h3>
        <ul class="tab">
            <li data-group="project" class="tab-item active" style="cursor:pointer;"
                hx-get="{% url 'main_project_overview' %}"
                hx-target="#project-panel-1"
                hx-vals='{"object":"{{object.pk}}"}'
                hx-trigger="load,click"
                >
                <a>Overview</a>
            </li>
            <li data-group="project" class="tab-item" style="cursor:pointer;"
                hx-get="{% url 'main_render_description' object.project_description.first.pk %}?origin=project"
                hx-target="#project-panel-1">
                <a>Description</a>
            </li>
        </ul>
        <div style="position:absolute; right:5%; top:10px">
            {% if request.user.is_authenticated %}
            <a class="btn btn-primary tooltip tooltip-left" href="{% url 'main_project_update' object.pk %}" data-tooltip="Edit Project">
                <i class="icon icon-edit"></i>
            </a>
            {% endif %}
            <span class="share_button btn btn-primary tooltip tooltip-right" onclick="copyClipboard(`{{request.scheme}}://{{request.get_host}}{% url 'main_project_checkout' object.namespace %}?pw={{object.public_password}}`)" data-tooltip="Copy Share Link">
                <i class="icon icon-link"></i>
            </span>
            <a class="btn btn-primary tooltip tooltip-right" href="{% url 'main_project_close' %}" data-tooltip="Log out">
                <i class="icon icon-shutdown"></i>
            </a>
        </div>
        <!-- Project Overview Tab -->
        <div id="project-panel-1" class="panel">
        </div>
    </div>
    <div class="column">
        <div id="project-content" class="my-2">
            <h3 class="text-center">Site Overview</h3>
            <div class="tab-panel m-2 p-2 panel" data-group="project-main" id="project-sample-overview" style="max-height:720px;overflow: scroll;">
                <div class="panel-header" style="position: sticky; top: 0;">
                    <div class="has-icon-left">
                        <input class="form-input" id="list-search" type="text" placeholder="Filter" style="width:50%;">
                        <i class="form-icon icon icon-search"></i>
                    </div>
                </div>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Country</th>
                                <th>Site</th>
                                <th>Site Name</th>
                                <th>Samples</th>
                                <th>Analyzed</th>
                                <th>Libraries</th>
                                <th>Controls</th>
                                <th>Collaborators</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr style="border-bottom: solid black 2px;">
                                <td><strong>Total:</strong></td>
                                <td></td>
                                <td>{{site_count}}</td>
                                <td>{{sample_count}}</td>
                                <td>{{analyzedsample_count}}</td>
                                <td>{{library_count}}</td>
                                <td>{{negatives_count}}</td>
                                <td><strong> = {{total}}</strong></td>
                                <td></td>
                            </tr>
                            {% for site in object_list %}
                                <tr id="site_{{site.pk}}" class="searchable">
                                    <td>{{site.country}}</td>
                                    <td>{{site.coredb_id}}</td>
                                    <td>{{site.name}}</td>
                                    {% with sample_count=sample_dict|lookup:site.name %}
                                    <td>{% if sample_count == 0 %}ToDo{% else %}{{sample_count}}{% endif %}</td>
                                    {% endwith %}
                                    {% with analyzedsample_count=analyzedsample_dict|lookup:site.name|lookup:'libraries' %}
                                    {% with analyzedsample_set_count=analyzedsample_dict|lookup:site.name|lookup:'samples' %}
                                    {% with control_count=analyzedsample_dict|lookup:site.name|lookup:'controls' %}
                                    <td>{{analyzedsample_set_count}}</td>
                                    <td>{{analyzedsample_count}}</td>
                                    <td>{{control_count}}</td>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                    <td><span>{{site.contact.all|join:", "}}</span><br>
                                    </td>
                                    <td><a href="{% url 'site_detail' site.pk %}"><span class="btn">Go</span></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="m-2">
                <a target="_blank" href="{% url 'get_dataset' %}?from=project_{{object.pk}}&unique=sample&include=site,layer,samplebatch,sample&append=library"
                    class="btn tooltip tooltip-right" data-tooltip="Export samples and libraries">
                    <i class="icon icon-download"></i>
                </a>
                <a target="_blank" href="{% url 'get_dataset' %}?from=project_{{object.pk}}&unique=contact&include=site" class="btn tooltip tooltip-right" data-tooltip="Export Collaborators">
                    <i class="icon icon-people"></i>
                </a>
                <a target="_blank" class="btn tooltip tooltip-right" href="{% url 'get_dataset' %}?from=project_{{object.pk}}&unique=library&include=site,layer,samplebatch,sample&append=qs,mm" data-tooltip="Export analysis results">
                    <i class="icon icon-flag"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/location.js' %}"></script>

<script>
    $('#list-search').on("keyup", function() {
        var value = $("#list-search").val().toLowerCase();
        $("tbody>tr.searchable").filter(function() {
            if($(this).text().toLowerCase().indexOf(value) > -1){
                $(this).show()
            } else {
                $(this).hide()
            }
        });
    });
    $('tr.searchable').on('click', function(){
        var pk = $(this).attr('id').split('_')[1]
        openPopup(parseInt(pk))
    })
</script>
{% endblock %}
