<span>
    {% if project %}
    <a href="{% url 'main_project_detail' project.namespace %}" class="tooltip tooltip-bottom" data-tooltip="Project Page">
        <button class="btn btn-success">{{project|truncatechars:30}}</button>
    </a>
    <a class="btn btn-error tooltip tooltip-bottom" href="/projects/close" data-tooltip="Close Project">
        <i class="icon icon-shutdown"></i>
    </a>
    {% else %}
    <a href="{% url 'main_project_list' %}">
        <button class="btn btn-error">No project selected</button>
    </a>
    {% endif %}
</span>