{% extends 'main/base.html' %}
{% block head %}
{% load static %}
<title>Projects</title>
{% endblock %}
{% block headline %}<a href="/" class="text-light">Projects</a>{% endblock %}

{% block body %}
<div class='columns'>
    {% include 'main/project/public_projects_snippet.html' %}
    <div class="column col-5">
        {% if request.user.is_authenticated %}
        <h3>Protected Projects</h3>

        <ul>
            {% for project in private_projects %}
            <li><a href="{% url 'main_project_checkout' project.namespace %}">Checkout: {{project.name}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
