{% extends "main/base.html" %}
{% load static %}
{% block head %}
<title>Hellforge: Project</title>
{% endblock %}
{% block body %}
{% if object %}
<h1>Edit Project: {{object.name}}</h1>
{% else %}
<h1>Add a Project</h1>
{% endif %}

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <div class="container">
        <div class='columns'>
            <div class="column">
                <div class="my-2">
                    <h5>Project Data</h5>
                        <div class="form-group">
                            <label class="form-label" for="project-name">Name</label>
                            <input class="form-input" type="text" id="project-name" name="name" placeholder="Project name" required
                            value="{{form.name.value}}">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="project-password">Password</label>
                            <input class="form-input" type="text" id="project-password" name="password" placeholder="Project password"
                            value="{{form.password.value}}">
                        </div>
                        <div class="form-group">
                            <label class="form-checkbox">
                              <input type="checkbox" id="project-published" name="published" {% if form.published.value %} checked {% endif %} >
                              <i class="form-icon"></i>Published Project?
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="project-year_of_publication">Publication Year</label>
                            <input class="form-input" type="text" id="project-year_of_publication" name="year_of_publication" placeholder="2022"
                            value="{{form.year_of_publication.value}}">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="ena_accession">ENA Accession Id</label>
                            <input class="form-input" type="text" id="ena_accession" name="ena_accession" placeholder="ENA ACCESSION"
                            value="{{form.ena_accession.value|default:''}}">
                        </div>
                        <h6>Edit Reference</h6>
                            {% include 'main/reference/reference-chip-display.html' %}
                            {% include 'main/reference/reference-searchinput.html' %}
                        </div>
                        <br>
                        <button class='btn btn-primary' type="submit">Save Project</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
