{% extends 'main/base.html' %}
{% block head %}
{% load static %}
{% load format %}
<title>Project: {{object}}</title>
{% include 'main/editor/editor-head.html' %}
{% endblock %}
{% block headline %}<a href="{% url 'main_project_list' %}">{{object.name}}</a>{% endblock %}

{% block body %}
<style>
    th{
        cursor: pointer;
        white-space: nowrap;
    }
</style>
<span id="get_location_data" data-url="{% url 'main_project_geo' %}?object={{object.pk}}"></span>
<div class='columns' style="padding:10px;">
    <div class="column col-4" style="position:relative;">
        <h3>Project Details</h3>
        <ul class="tab">
            <li data-group="project" class="tab-item active" style="cursor:pointer;"
                hx-get="{% url 'main_project_overview' %}"
                hx-target="#project-panel-1"
                hx-vals='{"object":"{{object.pk}}"}'
                hx-trigger="load,click"
                >
                <a>Overview</a>
            </li>
            <li data-group="project" class="tab-item" style="cursor:pointer;"
                hx-get="{% url 'main_render_description' object.project_description.first.pk %}?origin=project"
                hx-target="#project-panel-1">
                <a>Description</a>
            </li>
        </ul>
        <div style="position:absolute; right:5%; top:10px">
            <a class="btn btn-primary tooltip tooltip-left" href="{% url 'main_project_update' object.pk %}" data-tooltip="Edit Project">
                <i class="icon icon-edit"></i>
            </a>
            <a class="btn btn-primary tooltip tooltip-right" href="{% url 'main_project_close' %}" data-tooltip="Log out">
                <i class="icon icon-shutdown"></i>
            </a>
        </div>
        <!-- Project Overview Tab -->
        <div id="project-panel-1" class="panel" style="padding:10px;" >
        </div>
    </div>
    <div class="column">
        <div id="project-content" class="my-2">
            <ul class="tab tab-block">
                <li class="tab-item active" data-group="project-main" data-show="project-sample-overview" style="cursor:pointer;"><a><h4>Sample Overview</h4></a></li>
                <li class="tab-item" data-group="project-main" data-show="project-collab-overview" style="cursor:pointer;"><a><h4>Processed Samples</h4></a></li>
            </ul>
            <div class="tab-panel m-2 p-2 panel" data-group="project-main" id="project-sample-overview" style="height:720px;overflow: scroll;">
                <div class="panel-header" style="position: sticky; top: 0;">
                    <div class="has-icon-left">
                        <input class="form-input" id="list-search" type="text" placeholder="Filter" style="width:50%;">
                        <i class="form-icon icon icon-search"></i>
                    </div>
                </div>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Country</th>
                                <th>Site</th>
                                <th>Site Name</th>
                                <th>Samples</th>
                                <th>Analyzed</th>
                                <th>Libraries</th>
                                <th>Collaborators</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for site in object_list %}
                                <tr id="site_{{site.pk}}" class="searchable">
                                    <td>{{site.country}}</td>
                                    <td>{{site.coredb_id}}</td>
                                    <td>{{site.name}}</td>
                                    {% with sample_count=sample_dict|lookup:site.name|length %}
                                    <td>{% if sample_count == 0 %}ToDo{% else %}{{sample_count}}{% endif %}</td>
                                    {% endwith %}
                                    {% with analyzedsample_count=analyzedsample_dict|lookup:site.name|lookup:'libraries'|length %}
                                    {% with analyzedsample_set_count=analyzedsample_dict|lookup:site.name|lookup:'samples'|length %}
                                    <td>{% if analyzedsample_count == 0 %}WIP{% else %}{{analyzedsample_set_count}}{% endif %}</td>
                                    <td>{% if analyzedsample_count == 0 %}WIP{% else %}{{analyzedsample_count}}{% endif %}</td>
                                    {% endwith %}
                                    {% endwith %}
                                    <td><span>{{site.contact.all|join:", "}}</span><br>
                                    </td>
                                    <td></td>
                                    <td><a href="{% url 'site_detail' site.pk %}"><span class="btn">Go</span></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-panel" data-group="project-main" id="project-collab-overview" style="display: none;">
                This content doesnt exist yet
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/location.js' %}"></script>

<script>
    $('#list-search').on("keyup", function() {
        var value = $("#list-search").val().toLowerCase();
        $("tbody>tr.searchable").filter(function() {
            if($(this).text().toLowerCase().indexOf(value) > -1){
                $(this).show()
            } else {
                $(this).hide()
            }
        });
    });
    $('tr.searchable').on('click', function(){
        var pk = $(this).attr('id').split('_')[1]
        openPopup(parseInt(pk))
    })
</script>
{% endblock %}
