<table id="cp-list">
    {% if object.checkpoint.first %}
    <tr>
        <td><strong>Checkpoints:</strong></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% endif %}
    {% for cp in object.checkpoint.all %}
        <tr id="cp_display_row_{{cp.pk}}">
            <td></td>
            <td id="cp_{{cp.pk}}"><a target="_blank" class="btn-link" href="{% url 'checkpoint_update' cp.pk %}">{{cp.name}}</a></td>
            <td>{{cp.type}}</td>
            <td><i id="cp_delete_{{cp.pk}}" class="icon btn btn-primary icon-delete cp_delete"></i></td>
        </tr>
    {% endfor %}
</table>