<div>
    <table class="table">
        <thead>
            <th class="{{object.culture.classname}}">
                {{object.name}}
            </th>
            {% for family in object.site.faunal_families %}
            <th>
                {{family}}
            </th>
            {% endfor %}
        </thead>
        <tbody>
            {% for analysis in object.layer_analysis.all %}
            <tr>
                <td>
                    {{analysis.method}}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>