{% load format %}
<div class="panel sample_table tab-panel {{batch.classname}}-layer-tab_{{layer.pk}}" data-group="{{batch.classname}}-layer-tab"
    style="{% if counter != 1 %} display: none;{% endif %} max-height:500px; overflow:scroll;">
    {% if object_list|length == 0 %}

    No libraries yet

    {% else %}
<a class="generic_filter text-primary" style="cursor:pointer;" data-term="SP" data-search=".{{batch.classname}}_libtr">Reset sample filter</a>
<table class="table table-striped">
    <thead style="position: sticky; top:0; background-color: white; z-index: 100;">
        <tr>
            <th>Project</th>
            <th>Layer</th>
            <th>Sample</th>
            <th>Library</th>
            <th>Capture Probe</th>
            <th>Sequencing Run</th>
        </tr>
    </thead>
    <tbody>
        {% with project=request.session.session_project %}
        {% for object in object_list %}
        <tr class="{{batch.classname}}_libtr">
            <td nowrap>
                {% if project|isin:object.project_namespaces %}
                <span style="color:green; cursor: pointer;">
                    Yes
                </span>
                {% else %}
                <span style="color:red; cursor: pointer;">No
                </span>
                {% endif %}
            </td>
            <td class="{{object.sample.layer|yesno:'assigned,unassigned'}}">{% if object.sample.layer %}{{object.sample.layer.name}}{% else %}Unassigned{% endif %}</td>
            <td>{{object.sample}}</td>
            <td>{{object.library}}</td>
            <td>{{object.probes}}</td>
            <td>{{object.seqrun}}</td>
        </tr>
        {% endfor %}
        {% endwith %}
    </tbody>
</table>
{% endif %}
</div>