{% load format %}
<h3>DNA Libraries</h3>
<small>Filter <strong>Libraries</strong> (Additional) </small>
<form
hx-post="{% url 'main_analyzedsample_getdata' site.pk %}"
hx-target="#show_libraries"
style="width: 80%;"
>
    {% csrf_token %}
    <div class="input-group">
        <span class="input-group-addon">Sample</span>
        <select class="form-select" name="sample">
            {% if request.session.filter_sample_pk %}
            <option value="sample_{{request.session.filter_sample_pk}}" selected>{{request.session.filter_sample_name}}</option>
            <option value="all">All</option>
            {% else %}
            <option value="all" selected>All</option>
            {% endif %}
            {% for sample in samples %}
            {% if sample.pk %}
            <option value="sample_{{sample.pk}}">{{sample.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <span class="input-group-addon">Batch</span>
        <select class="form-select" name="batch">
            {% if request.session.filter_batch_pk %}
            <option value="samplebatch_{{request.session.filter_batch_pk}}" selected>{{request.session.filter_batch_name}}</option>
            <option value="all">All</option>
            {% else %}
            <option value="all" selected>All</option>
            {% endif %}
            {% for batch in batches %}
            {% if batch.pk %}
            <option value="samplebatch_{{batch.pk}}">{{batch.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <span class="input-group-addon">Probe</span>
        <select class="form-select" name="probe">
            {% if request.session.filter_probe %}
            <option value="{{request.session.filter_probe}}" selected>{{request.session.filter_probe}}</option>
            <option value="all">All</option>
            {% else %}
            <option value="all" selected>All</option>
            {% endif %}
            {% for probe in probes %}
                <option value="{{probe}}">{{probe}}</option>
            {% endfor %}
        </select>
        <span class="input-group-addon">No Controls</span>
        <label class="form-switch mx-2">
            <input type="checkbox" name="filter_controls" {% if request.session.filter_controls %}checked{% endif %}><i class="form-icon"></i>
        </label>
        <input type="hidden" name="page" id="filter-page" value="1">
        <button id='main-filter-button' class="btn btn-primary input-group-btn">OK</button>
    </div>
</form>


<div class="panel" style="max-height:500px; overflow:scroll;">


<style>
    .fail{
        color:red
    }
    .pass{
        color:green
    }
</style>

<div style="display: flex; gap: 1px;">
    {% if request.user.is_authenticated %}
    <span
        data-url="{% url 'download_header' %}?model=analyzedsample" 
        class="btn tooltip tooltip-right get-batch-header" 
        data-tooltip="Download Sheet-Template">
        <i class="icon icon-download"></i>
    </span>
    <form
        hx-encoding='multipart/form-data'
        hx-post="{% url 'main_upload' %}?type=libraries"
        hx-trigger="change from:#library-fileinput-{{site.pk}}"
        hx-target="#modal-blank"
        >
        {% csrf_token %}
        <label for="library-fileinput-{{site.pk}}" class="modal_open">
            <span
                class="btn tooltip tooltip-right modal_open" 
                data-tooltip="Add Sequenced Libraries">
                <i class="icon icon-upload"></i>
            </span>
        </label>
        <input id="library-fileinput-{{site.pk}}" type="file" name="file" style="display:none">
        <input id="site" type="text" name="site" style="display:none" value="site_{{site.pk}}">
    </form>
    {% endif %}
</div>

{% if object_list %}
<table class="table table-striped">
    <thead style="position: sticky; top:0; background-color: white; z-index: 100;">
        <tr>
            {% if request.user.is_authenticated %}
            <th>Project</th>
            <th>QC</th>
            {% endif %}
            <th>Layer</th>
            <th>Sample</th>
            <th>Sample Batch</th>
            <th>Lysate</th>
            <th>ENC Batch</th>
            <th>Library</th>
            <th>qPCR</th>
            <th nowrap>Efficiency (%)</th>
            <th nowrap>LNC Batch</th>
            <th>Capture</th>
            <th>Capture Probe</th>
            <th>Sequencing Run</th>
            <th>Lane</th>
            <th>Pool</th>
            <th>Tag</th>
            <th>quicksand</th>
            <th>lineage-test</th>
            {% if request.user.is_authenticated %}
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% with project=request.session.session_project %}
        {% for object in object_list %}
        <tr class="{{batch.classname}}_libtr libsearch" id="tr_analyzedsample_{{object.pk}}">
            {% if request.user.is_authenticated %}
            <td nowrap>
                <form>
                    {% csrf_token %}
                    <input type="hidden" name="instance_x" value="analyzedsample_{{object.pk}}">
                    <div
                        {% if request.user.is_authenticated %}
                        hx-post="{% url 'main_project_toggle' %}"
                        {% endif %}
                        >
                        {% if project|isin:object.project_namespaces %}
                        <span style="color:green; cursor: pointer;">
                            Yes
                        </span>
                        {% else %}
                        <span style="color:red; cursor: pointer;">No
                        </span>
                        {% endif %}
                    </div>
                </form>
            </td>
            <td class='{{object.qc_pass|yesno:"pass,fail"}}'>
                <form>
                    {% csrf_token %}
                    <div
                        {% if request.user.is_authenticated %}
                        hx-post="{% url 'main_analyzedsample_qctoggle' object.pk %}"
                        {% endif %}
                        >{{object.qc_pass|yesno:"Pass,Fail"}}
                    </div>
                </form>
            </td>
            {% endif %}
            <td nowrap class="{% if object.sample %}{{object.sample.get_layer|yesno:'assigned,unassigned'}}{% endif %} {{object.sample.get_layer.culture.classname|default:'sterile'}}">
                {% if object.sample %}
                    {% if object.sample.get_layer %}{{object.sample.get_layer.name}}{% else %}Unassigned{% endif %}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{object.sample|default:"Control"}}</td>
            <td nowrap>{{object.sample.batch.name|default:''}}</td>
            <td>{{object.lysate|default:""}}</td>
            <td nowrap>{{object.enc_batch|default:""}}</td>
            <td>{{object.library}}</td>
            <td>{{object.molecules_qpcr|stringformat:".2e"}}</td>
            <td>{{object.efficiency|stringformat:".2f"}}</td>
            <td nowrap>{{object.lnc_batch|default:""}}</td>
            <td>{{object.capture|default:""}}</td>
            <td nowrap>{{object.probes}}</td>
            <td {% if request.user.is_authenticated %}
                class="modal_open tooltip tooltip-top" data-tooltip="Edit Seqrun"
                hx-get="{% url 'main_modal_get' %}"
                hx-vals='{"object":"analyzedsample_{{object.pk}}","type":"edit_seqrun"}'
                hx-target="#modal-blank"
                style="cursor: pointer;"
                {% endif %}
            >{{object.seqrun|truncatechars:30}}</td>
            <td>{{object.lane}}</td>
            <td>{{object.seqpool}}</td>
            <td nowrap {% if request.user.is_authenticated and object.sample %}
                class="modal_open tooltip tooltip-left" data-tooltip="Edit Tag"
                hx-get="{% url 'main_modal_get' %}"
                hx-vals='{"object":"analyzedsample_{{object.pk}}","type":"tags"}'
                hx-target="#modal-blank"
                style="cursor: pointer;"
                {% endif %}
            >{{object.tags|default:''}}</td>
            <td>
                <div style="display: flex; gap:1px;">
                    <span>{{object.quicksand_analysis.first.version|default:''}}</span>
                    {% if request.user.is_authenticated %}
                        <a class="tooltip tooltip-left modal_open"
                        hx-get="{% url 'main_modal_get' %}"
                        hx-vals='{"object":"site_{{site.pk}}","type":"quicksand_upload", "seqrun":"{{object.seqrun}}", "lane":"{{object.lane}}", "seqpool":"{{object.seqpool}}"}'
                        hx-target="#modal-blank"
                        data-tooltip="Add quicksand analysis"><i class="icon icon-plus"></i></a>
                    {% endif %}
                </div>
            </td>
            <td>
                <div style="display: flex; gap:1px;">
                    <span>{{object.matthias_analysis.first.version|default:''}}</span>
                    {% if request.user.is_authenticated %}
                        <a class="tooltip tooltip-left modal_open"
                        hx-get="{% url 'main_modal_get' %}"
                        hx-vals='{"object":"site_{{site.pk}}","type":"matthias_upload", "seqrun":"{{object.seqrun}}", "lane":"{{object.lane}}", "seqpool":"{{object.seqpool}}"}'
                        hx-target="#modal-blank"
                        data-tooltip="Add lineage-test analysis"><i class="icon icon-plus"></i></a>
                    {% endif %}
                </div>
            </td>
            
            {% if request.user.is_authenticated %}
            <td>
                <form>
                    {% csrf_token %}
                    <input type="hidden" name="instance_x" value="analyzedsample_{{object.pk}}">
                    <a class="tooltip tooltip-left"
                    hx-post="{% url 'main_generic_delete' %}"
                    hx-confirm="Delete the Library"
                    hx-target="#tr_analyzedsample_{{object.pk}}"
                    hx-swap="delete"
                    data-tooltip="Delete AnalyzedSample Entry"><i class="icon icon-delete"></i></a>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% endwith %}
    </tbody>
</table>

{% else %}
<div class="empty">
    <div class="empty-icon">
        <i class="icon icon-flag"></i>
    </div>
    <p class="empty-title h5">No libraries uploaded</p>
</div>
{% endif %}


</div>
<div class="m-2 columns">
    <span style="position: absolute;"><strong>Total: </strong>{{total}} Libraries</span>
    <div class="col col-mx-auto">
        <ul class="pagination">
            {% if object_list.has_previous and object_list.number > 2 %}
            <li class="page-item" data-page="1">
                <a style="cursor: pointer;" onclick="$('#filter-page').val('1'); $('#main-filter-button').click();">
                    1
                </a>
            </li>
            <li class="page-item">
                <span>...</span>
            </li>
            {% endif %}
            {% if object_list.has_previous %}
            <li class="page-item" data-page="{{object_list.previous_page_number}}">
                <a style="cursor: pointer;" onclick="$('#filter-page').val('{{object_list.previous_page_number}}'); $('#main-filter-button').click();">
                    {{object_list.previous_page_number}}
                </a>
            </li>
            {% endif %}
            <li class="page-item active" data-page="{{ object_list.number }}">
                <a>{{ object_list.number }}</a>
            </li>
            {% if object_list.has_next %}
            <li class="page-item">
                <a style="cursor: pointer;" onclick="$('#filter-page').val('{{ object_list.number|add:1}}'); $('#main-filter-button').click();">
                    {{ object_list.number|add:1}}
                </a>
            </li>
            {% endif %}
            {% if object_list.paginator.num_pages != object_list.number %}
            <li class="page-item">
                <span>...</span>
            </li>
            <li class="page-item" data-page="page_obj.paginator.num_pages">
                <a style="cursor: pointer;" onclick="$('#filter-page').val('{{object_list.paginator.num_pages}}'); $('#main-filter-button').click();">
                    {{object_list.paginator.num_pages}}
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    
</div>

<div class="divider"></div>

<section>
    <h3>DNA Analysis Results</h3>
    <div id="site_dna" 
        hx-get="{% url 'main_site_dna_tab' site.pk %}"
        hx-trigger="load once">
        <div class="loading loading-lg m-2"></div>
    </div>
 </section>