{% load static %}
{% load format %}

<a href="#close" class="modal-overlay" aria-label="Close"></a>
<div class="modal-container">
    <div class="modal-header">
        <a id="modal-close" class="btn btn-clear float-right modal_close" style="cursor: pointer;" aria-label="Close"></a>
        <h3>{{object.name}}</h3>

        {% if messages %}
        {% for message in messages %}
        <div class="toast toast-{{ message.tags }}">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}

        {% if type == "faunal_tables" %}
        <div class="modal-title h5 ">Import Fauna</div>
        {% else %}
        <div class="modal-title h5 ">Edit Layer</div>
        {% endif %}
    </div>

    <!--Whenever the layer-modal appears, I assume something in the profile was updated. So reload the profile in the background
    -->
    <div
        hx-get="{% url 'main_profile_get' %}?{{request.GET|getstring}}"
        hx-trigger="load"
        hx-target="#show_profile">
    </div>

    {% if type == "edit" %}

    {# -------------------- #}
    {#   LAYER EDIT MODAL   #}
    {# -------------------- #}

    <div class="modal-body">
        <div class="content  my-2">
            <div id="reldate-content">
                <div id="modal-form">
                    <h6>Edit Layer information</h6>
                    <form>
                        <div class="input-group">
                            <span class="input-group-addon">Layer Name</span>
                            <input type="text" class="form-input" name="layer-name" value="{{object.name}}">
                            <span class="btn btn-primary input-group-btn"
                                hx-vars='{"instance_x":"layer_{{object.pk}}"}'
                                hx-post="{% url 'main_layer_setname' %}?{{request.GET|getstring}}"
                                hx-target="#modal-blank">OK</span>
                        </div>
                        <p class="form-input-hint">Update the Layer name</p>
                    </form>
                    <h6>Add Additional Information</h6>
                    {% include 'main/synonyms/synonyms-chip-display.html' %}
                    <form>
                        <input type="text" style="display:none" name="object" class="form-input" value="{{object.model}}_{{object.pk}}">
                    {% include 'main/synonyms/synonyms-form.html' %}
                    </form>
                    <div class="divider text-center" data-content="Parent"></div>
                    {% if object.parent %}
                    <div class="tile tile-centered">
                        <form>
                            {% csrf_token %}
                            <input name="instance_x" value="layer_{{object.pk}}" style="display: none;">
                            <input name="field" value="layer" style="display: none;">

                            <div class="tile-icon my-1">
                                <span class="btn tooltip tooltip-right"
                                    data-tooltip="Remove"
                                    hx-target="#modal-blank"
                                    hx-post="{% url 'main_generic_unsetfk' %}?next=modal_edit&{{request.GET|getstring}}"
                                    >
                                    <i class="icon icon-delete" centered></i>
                                </span>
                            </div>
                        </form>
                        <div class="tile-content">
                            <div class="tile-title">{{object.parent.name}}</div>
                        </div>
                    </div>
                    {% endif %}
                    <form>
                        {% csrf_token %}
                        <div class="input-group">
                            <span class="input-group-addon">Parent</span>
                            <select class="form-select" name="instance_y">
                                {% if object.parent %}
                                <option value="layer_{{object.parent.pk}}" selected>{{object.parent}}</option>
                                {% else %}
                                <option value="">---</option>
                                {% endif %}
                                {% for option in parent_options %}
                                <option value="layer_{{option.pk}}">{{option}}</option>
                                {% endfor %}
                            </select>
                            <input name="instance_x" value="layer_{{object.pk}}" style="display: none;"/>
                            <span class="btn btn-primary input-group-btn"
                                hx-post="{% url 'main_generic_setfk' %}?{{request.GET|getstring}}&next=modal_edit"
                                hx-target="#modal-blank"
                                hx-vals="{'field':'parent'}">OK
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% elif type == "properties" %}

    {# ------------------------ #}
    {#   LAYER PROPERTY MODAL   #}
    {# ------------------------ #}

    <div class="modal-body">
        <div class="content my-2">
            <div id="modal-form">
                <h6>Culture</h6>
                {% if object.culture %}
                    <div class="tile tile-centered">
                        <div class="tile-icon">
                            <div class="example-tile-icon">
                                <form>
                                    {% csrf_token %}
                                    <button class="btn"
                                        hx-post="{% url 'main_generic_unsetfk' %}?{{request.GET|getstring}}&next=modal_properties"
                                        hx-vars="{'instance_x':'layer_{{object.pk}}', 'field':'culture'}"
                                        hx-target="#modal-blank">
                                        <i class="icon icon-delete"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="tile-content">
                            <div class="tile-title">{{object.culture}}</div>
                        </div>
                    </div>
                {% endif %}
                <form>
                    <input name="instance_x" value="layer_{{object.pk}}" style="display: none;"/>
                    <div class="input-group">
                        <select class="form-select" name="culture">
                            <option selected>----</option>
                            {% for option in cultures %}
                            <option value="{{option.pk}}">{{option}}</option>
                            {% endfor %}
                        </select>
                        <span
                            hx-post="{% url 'layer-culture-update' %}?{{request.GET|getstring}}"
                            hx-target="#modal-blank"
                            class="btn btn-primary input-group-btn"
                        >OK</span>
                    </div>
                </form>
                <!--update the site css-->
                <div id="culture-css" hx-get="{% url 'main_site_culture_css' object.site.pk%}" hx-trigger="load once"></div>
                <br>
                <h6>Epoch</h6>
                {% if object.epoch %}
                    <div class="tile tile-centered">
                        <div class="tile-icon">
                            <div class="example-tile-icon">
                                <form>
                                    {% csrf_token %}
                                    <button class="btn"
                                        hx-post="{% url 'main_generic_unsetfk' %}?{{request.GET|getstring}}&next=modal_properties"
                                        hx-vars="{'instance_x':'layer_{{object.pk}}', 'field':'epoch'}"
                                        hx-target="#modal-blank">
                                        <i class="icon icon-delete"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="tile-content">
                            <div class="tile-title">{{object.epoch}}</div>
                        </div>
                    </div>
                {% endif %}
                <form>
                    <input name="instance_x" value="layer_{{object.pk}}" style="display: none;"/>
                    <div class="input-group">
                        <select class="form-select" name="epoch">
                            <option selected>----</option>
                            {% for option in epochs %}
                            <option value="{{option.pk}}">{{option}}</option>
                            {% endfor %}
                        </select>
                        <span
                            hx-post="{% url 'layer-epoch-update' %}?{{request.GET|getstring}}"
                            hx-target="#modal-blank"
                            class="btn btn-primary input-group-btn"
                        >OK</span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% elif type == "colour" %}

    {# --------------------- #}
    {#   LAYER COLOR MODALS  #}
    {# --------------------- #}


    <div class="modal-body">
        <div class="content my-2">
            <div id="modal-form">
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    {{form}}
                    <br>
                    <span class="btn btn-primary input-group-btn"
                        hx-post="{% url 'main_layer_update' object.pk %}?{{request.GET|getstring}}"
                        hx-target="#modal-blank">Update
                    </span>
                </form>
            </div>
        </div>
    </div>


    {# ---------------------#}
    {#   LAYER DATE MODALS  #}
    {# ---------------------#}


    {% elif type == "dates" or type == "dates_list" %}

    {% include 'main/modals/snippets/datable_form.html' with model='layer' %}

    {% endif %}

</div>

