{% load static %}
{% load format %}
<a href="#close" class="modal-overlay" aria-label="Close"></a>
<div class="modal-container">
    <div class="modal-header">
        <a id="modal-close" class="btn btn-clear float-right modal_close" aria-label="Close" style="cursor: pointer;"></a>
        <div class="modal-title h5">Sample Modal</div>
    </div>

    {% if type == "edit_layer" %}

    {# -------------------- #}
    {#   LAYER EDIT MODAL   #}
    {# -------------------- #}

    <div class="modal-body">
        <div class="content my-2">
            <div>
                <div id="modal-form">
                    <h6>Sample {{object}}</h6>
                    <div class="input-group">
                        <span class="input-group-addon">Layer of Origin</span>
                        <form>
                            <input style="display: none;" name="object" value="{{object.pk}}"></input>
                            <select class="form-select" name="layer">
                                {% if object.layer %}
                                <option value="{{object.layer.pk}}" selected>{{object.layer}}</option>
                                {% endif %}
                                <option value="">---</option>
                                {% for option in object.site.layer.all %}
                                <option value="{{option.pk}}">{{option}}</option>
                                {% endfor %}
                            </select>
                            <span
                                hx-post="{% url 'sample-layer-update' %}"
                                hx-target="#sample-batch-tab_{{object.batch.pk}}"
                                class="btn btn-primary input-group-btn modal_close"
                            >OK</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% elif type == "edit_provenience" %}

    {# -------------------------- #}
    {#   PROVENIENCE EDIT MODAL   #}
    {# -------------------------- #}

    <div class="modal-body">
        <div class="content my-2">
            <div>
                <div id="modal-form">
                    <h6>Update Provenience</h6>
                    {% for entry in provenience %}
                    <div class="tile tile-centered">
                        <form>
                        <div class="tile-icon">
                          <span class="btn tooltip tooltip-right provenience-update-remove" data-tooltip="Delete Field"
                            hx-post="{% url 'sample-provenience-edit' %}?type=remove"
                            hx-target="#modal-blank"
                            hx-trigger="click"
                            >
                            <input style="display: none;" name="key" value="{{entry}}"/>
                            <input style="display: none;" name="object" value="{{object.pk}}"/>
                            <i class="icon icon-delete" centered></i>
                          </span>
                        </div>
                        </form>
                        <div class="tile-content">
                            <small class="tile-subtitle text-gray">{{entry}}</small>
                            <div class="tile-title">{{provenience|lookup:entry}}</div>
                        </div>
                    </div>
                    {% endfor %}
                    <form>
                        <div class="input-group">
                            <span class="input-group-addon">Key</span>
                            <input style="display: none;" name="object" value="{{object.pk}}"></input>
                            <select class="form-select" name="key">
                                <option selected value="">---</option>
                                <option value="Area">Area</option>
                                <option value="Profile">Profile</option>
                                <option value="Square">Square</option>
                                <option value="Context">Context</option>
                                <option value="Depth">Depth</option>
                                <option value="Total Station">Total Station (x,y,z)</option>
                                <option value="Notes">Notes</option>
                            </select>
                            <span class="input-group-addon">Value</span>
                            <input class="form-input" type="text" name="value">
                            <span id="provenience-update-trigger"
                                hx-post="{% url 'sample-provenience-edit' %}?type=add"
                                hx-target="#modal-blank"
                                class="btn btn-primary input-group-btn"
                                >OK
                            </span>
                            <div hx-get="{% url 'main_samplebatch_get' object.batch.pk %}"
                                hx-target="#sample-batch-tab_{{object.batch.pk}}"
                                hx-trigger="click from:#provenience-update-trigger, click from:.provenience-update-remove"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% elif type == "edit_base" %}

    {# -------------------------- #}
    {#   SAMPLE EDIT MODAL   #}
    {# -------------------------- #}

    <div class="modal-body">
        <div class="content my-2">
            <div>
                <div id="modal-form">
                    <h6>Update Basic Sample Information</h6>
                    <form>
                        <input style="display: none;" name="object" value="{{object.pk}}" />
                        <div class="form-group">
                            <label class="form-label" for="type-form">Sample Type</label>
                            <input class="form-input" id="type-form" type="text" name="type" placeholder="Sediment"
                            value="{{ object.type }}">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="yoc-form">Year of Collection</label>
                            <input class="form-input" name="year_of_collection" type="number" id="yoc-form" placeholder="2011"
                            value="{{ object.year_of_collection }}">
                        </div>
                        <button class="btn btn-primary modal_close" id="sample-update-trigger"
                                hx-post="{% url 'sample-edit' %}"
                                hx-target="#modal-blank">OK
                        </button>
                    </form>
                    <div hx-get="{% url 'main_samplebatch_get' object.batch.pk %}"
                            hx-target="#sample-batch-tab_{{object.batch.pk}}"
                            hx-trigger="click from:#sample-update-trigger">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% elif type == "edit_synonyms" %}

    {# -------------------------- #}
    {#   SYNONYM EDIT MODAL   #}
    {# -------------------------- #}

    <div class="modal-body">
        <div class="content my-2">
            <div>
                <div id="modal-form">
                    <h6>Update Sample Synonyms</h6>
                    {% include 'main/synonyms/synonyms-chip-display.html' %}
                    <form>
                        <input type="text" style="display:none" name="object" class="form-input" value="{{object.model}}_{{object.pk}}">
                    {% include 'main/synonyms/synonyms-form.html' %}
                    </form>
                    <div hx-get="{% url 'main_samplebatch_get' object.batch.pk %}"
                            hx-target="#sample-batch-tab_{{object.batch.pk}}"
                            hx-trigger="click from:.synonym_delete delay:100ms">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% elif type == "libraries_confirm" %}

    {# --------------------   #}
    {# CONFIRM LIBRARY UPLOAD #}
    {# --------------------   #}

    <div class="modal-body">
        <div class="content my-2">
            <div>
                <strong>Verify Upload</strong><br>
                {% for issue in issues %}
                    <div class="toast toast-warning">{{issue}}</div>
                {% endfor %}
                {{dataframe|safe}}
                <form id='sample-batch-verify-form'
                    hx-post="{% url 'ajax_save_verified_analyzedsamples' %}?batch={{batch.pk}}"
                    hx-target="#sample-batch-tab_{{batch.pk}}"
                    >
                    {% csrf_token %}
                    <textarea name="batch-data" type="text" style="display:none;">{{json}}</textarea>
                    <button class="btn modal_close">Confirm</button>
                </form>
                <br>
            </div>
        </div>
    </div>

    {# --------------------  #}
    {# UPDATE SAMPLE DATINGS #}
    {# --------------------  #}


    {% elif type == "dates_list" %}

    <!-- Modal content for Date -->
    <div class="modal-body">
        <h5>Sample Age: {{object.age_summary}} </h5>
        <br>
        <div class="content my-2">
            <h6>1. Hard Layer Boundaries:</h6>
            <p class="form-input-hint">Hard set upper and lower <b>boundaries</b> for the layer (in <i>years</i> ago).
                This is independent of any raw dates in the database</p>
            <form>
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="instance_x" value="layer_{{object.pk}}" style="display: none;">
                    <span class="input-group-addon">Upper Bound</span>
                    <input type="text" class="form-input" name="upper" placeholder="upper"
                        value="{%if object.set_upper %}{{object.set_upper}}{%endif%}">
                    <span class="input-group-addon">Lower Bound</span>
                    <input type="text" class="form-input" name="lower" placeholder="lower"
                    value="{%if object.set_lower %}{{object.set_lower}}{%endif%}"
                    >
                    {% if request.user.is_authenticated %}
                    <span id="set_layer_bounds" class="btn btn-primary input-group-btn"
                        hx-post="{% url 'main_layer_setbounds' %}"
                        hx-target="#modal-blank">Set
                    </span>
                    {% endif %}
                </div>
            </form><br>
            <h6>2. Set upper and/or lower Dates</h6>
            <p class="form-input-hint">Set upper and lower <b>dates</b> from the site as the boundaries of the layer.
                This includes the confidence intervals. Selecting only <b>one</b> date will be interpreted as being relatively
                older or younger than the selected date</p>
            <form>
                {% csrf_token %}
                <input name="instance_x" value="layer_{{object.pk}}" style="display: none;"/>
                <div class="input-group">
                    <span class="input-group-addon">Upper Date</span>
                    <select class="form-select" name="upper_date">
                        {% if object.date_upper %}
                        <option value="{{object.date_upper.pk}}">{{object.date_upper}} ({{object.date_upper.origin_model.first.name}})</option>
                        <option>----</option>
                        {% else %}
                        <option selected>----</option>
                        {% endif %}
                        {% for option in site_dates %}
                        <option value="{{option.pk}}">{{option}} {% if option.estimate %}/ {{option.estimate|default:''}} ± {{option.plusminus|default:''}}{% endif %} ({{option.origin_model.first.name}})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Lower Date</span>
                    <select class="form-select" name="lower_date">
                        {% if object.date_lower %}
                        <option value="{{object.date_lower.pk}}">{{object.date_lower}} ({{object.date_lower.origin_model.first.name}})</option>
                        <option>----</option>
                        {% else %}
                        <option selected>----</option>
                        {% endif %}
                        {% for option in site_dates %}
                        <option value="{{option.pk}}">{{option}} {% if option.estimate %}/ {{option.estimate|default:''}} ± {{option.plusminus|default:''}}{% endif %} ({{option.origin_model.first.name}})</option>
                        {% endfor %}
                    </select>
                    {% if request.user.is_authenticated %}
                    <span
                        hx-post="{% url 'layer-setdate-update' %}?{{request.GET|getstring}}"
                        hx-target="#modal-blank"
                        class="btn btn-primary input-group-btn"
                    >Set</span>
                    {% endif %}
                </div>
            </form>
            <br>
            <h6>3. Associated Dates</h6>
            <p class="form-input-hint">If no bounds or dates are set for the layer, the boundaries are calculated from the associated dates,
                by taking the <b>mean</b> of the lower and upper bounds of each date. <i><b>NOTE:</b> This is NOT a verified age, dont use it as is. Raw
                    dates might be affected by reservoir effects or missing from the database. Infinite dates can (unfortunately) not be taken into account
                </i></p>
            <div id="modal-form">
                {% include 'main/dating/dating-table.html' with date_list=object.date.all mode='visible' title='List of associated Dates' %}
                <br><br>
                {% include 'main/dating/dating-table.html' with date_list=object.hidden_dates mode='hidden' title='Hidden Dates' %}
                <br>
                <h6>References</h6>
                <table class="table">
                {% for ref in object.date_references %}
                    {% include 'main/reference/reference-tablerow.html' with display=True %}
                {% endfor %}
                </table>
            </div>
        </div>
    </div>

    {% endif %}

</div>

