{% load static %}
{% load format %}
<a href="#close" class="modal-overlay" aria-label="Close"></a>
<div class="modal-container">
    <div class="modal-header">
        <a id="modal-close" class="btn btn-clear float-right modal_close" aria-label="Close" style="cursor: pointer;"></a>
        <div class="modal-title h5">Sample Modal</div>
    </div>

    <!--Whenever the sample-modal appears, I assume either the sample-batch or the human remains were updated. 
    So reload them in the background
    -->
    {% if object.domain == 'archaeology' %}
    <div
        hx-get="{% url 'main_site_human_get' object.site.pk %}?{{request.GET|getstring}}"
        hx-trigger="load"
        hx-target="#site_human">
    </div>
    {% elif not object %}
    <div></div>
    {% else %}
    <div
        hx-get="{% url 'main_samplebatch_get' object.batch.pk %}"
        hx-trigger="load"
        hx-target="#samplebatch-content-{{object.batch.pk}}">
    </div>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
        <div class="toast toast-{{ message.tags }}">
            {{message}}
        </div>
        {% endfor %}
    {% endif %}

    {% if type == 'update_reference' %}

    {# -------------------- #}
    {#   REFERENCE EDIT MODAL   #}
    {# -------------------- #}

    <div class="modal-body">
        <div class="content">
            <div id="modal-form">
                <h6>Update Reference</h6>
                {% include 'main/reference/reference-chip-display.html' %}
                {% include 'main/reference/reference-searchinput.html' %}
            </div>
        </div>
    </div>

    {% elif type == "edit_layer" %}

    {# -------------------- #}
    {#   LAYER EDIT MODAL   #}
    {# -------------------- #}

    <div class="modal-body">
        <div class="content my-2">
            <div>
                <div id="modal-form">
                    <h6>Sample {{object}}</h6>
                    <div class="input-group">
                        <span class="input-group-addon">Origin</span>
                        <form>
                            <input style="display: none;" name="object" value="{{object.pk}}"></input>
                            <select class="form-select" name="layer">
                                {% if object.layer %}
                                <option value="{{object.layer.pk}}" selected>{{object.layer}}</option>
                                {% endif %}
                                <option value="">---</option>
                                {% for option in object.site.layer.all %}
                                <option value="{{option.pk}}">{{option}}</option>
                                {% endfor %}
                            </select>
                            <select class="form-select" name="sample">
                                {% if object.sample %}
                                <option value="{{object.sample.pk}}" selected>{{object.sample}}</option>
                                {% endif %}
                                <option value="">---</option>
                                {% for option in fossils %}
                                <option value="{{option.pk}}">{{option}}</option>
                                {% endfor %}
                            </select>
                            <span
                                hx-post="{% url 'sample-layer-update' %}"
                                hx-target="#modal-blank"
                                class="btn btn-primary input-group-btn"
                            >OK</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% elif type == "edit_batch" %}

    {# -------------------- #}
    {#   BATCH EDIT MODAL   #}
    {# -------------------- #}

    <div class="modal-body">
        <div class="content my-2">
            <div>
                <div id="modal-form">
                    <h6>Sample {{object}}</h6>
                    <div class="input-group">
                        <span class="input-group-addon">Sample Batch</span>
                        <form>
                            <input style="display: none;" name="object" value="{{object.pk}}"></input>
                            <select class="form-select" name="batch">
                                <option value="{{object.batch.pk}}" selected>{{object.batch.name}}</option>
                                {% for option in site_batches %}
                                {% if option != object.batch %}
                                <option value="{{option.pk}}">{{option.name}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <span
                                hx-post="{% url 'sample-batch-update' %}"
                                hx-target="#samplebatch-content-{{object.batch.pk}}"
                                class="btn btn-primary input-group-btn modal_close"
                            >OK</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% elif type == "edit_provenience" %}

    {# -------------------------- #}
    {#   PROVENIENCE EDIT MODAL   #}
    {# -------------------------- #}

    <div class="modal-body">
        <div class="content my-2">
            <div>
                <div id="modal-form">
                    <h6>Update Provenience</h6>
                    {% for entry in provenience %}
                    <div class="tile tile-centered">
                        <form>
                        <div class="tile-icon">
                          <span class="btn tooltip tooltip-right provenience-update-remove" data-tooltip="Delete Field"
                            hx-post="{% url 'sample-provenience-edit' %}?type=remove"
                            hx-target="#modal-blank"
                            hx-trigger="click"
                            >
                            <input style="display: none;" name="key" value="{{entry}}"/>
                            <input style="display: none;" name="object" value="{{object.pk}}"/>
                            <i class="icon icon-delete" centered></i>
                          </span>
                        </div>
                        </form>
                        <div class="tile-content">
                            <small class="tile-subtitle text-gray">{{entry}}</small>
                            <div class="tile-title">{{provenience|lookup:entry}}</div>
                        </div>
                    </div>
                    {% endfor %}
                    <form>
                        <div class="input-group">
                            <span class="input-group-addon">Key</span>
                            <input style="display: none;" name="object" value="{{object.pk}}"></input>
                            <select class="form-select" name="key">
                                <option selected value="">---</option>
                                <option value="Area">Area</option>
                                <option value="Profile">Profile</option>
                                <option value="Square">Square</option>
                                <option value="Context">Context</option>
                                <option value="Depth">Depth</option>
                                <option value="Total Station">Total Station (x,y,z)</option>
                                <option value="Notes">Notes</option>
                            </select>
                            <span class="input-group-addon">Value</span>
                            <input class="form-input" type="text" name="value">
                            <span id="provenience-update-trigger"
                                hx-post="{% url 'sample-provenience-edit' %}?type=add"
                                hx-target="#modal-blank"
                                class="btn btn-primary input-group-btn"
                                >OK
                            </span>
                            <div hx-get="{% url 'main_samplebatch_get' object.batch.pk %}"
                                hx-target="#samplebatch-content-{{object.batch.pk}}"
                                hx-trigger="click from:#provenience-update-trigger, click from:.provenience-update-remove"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% elif type == "edit_base" %}

    {# -------------------------- #}
    {#   SAMPLE EDIT MODAL   #}
    {# -------------------------- #}

    <div class="modal-body">
        <div class="content my-2">
            <div>
                <div id="modal-form">
                    <h6>Update Basic Sample Information</h6>
                    <form>
                        <input style="display: none;" name="object" value="{{object.pk}}" />
                        <div class="form-group">
                            <label class="form-label" for="name_form">Name</label>
                            <input class="form-input" list="group-choices" name="name" type="text" id="name_form" placeholder="Modern Human"
                            value="{{ object.name }}">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="type-form">Sample Type</label>
                            <input class="form-input" id="type-form" type="text" name="type" placeholder="Sediment"
                            value="{{ object.type }}">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="yoc-form">Year of Collection</label>
                            <input class="form-input" name="year_of_collection" type="number" id="yoc-form" placeholder="2011"
                            value="{{ object.year_of_collection }}">
                        </div>
                        {% if object.domain == 'archaeology' %}
                        <datalist id="group-choices">
                            {% for choice in group_choices %}
                              <option value="{{choice}}"></option>
                            {% endfor %}
                        </datalist>
                        <div class="form-group">
                            <label class="form-label" for="hominin_group_form">Hominin Group</label>
                            <input class="form-input" list="group-choices" name="hominin_group" type="text" id="hominin_group_form" placeholder="Modern Human"
                            value="{{ object.hominin_group }}">
                        </div>
                        {% endif %}
                        <button class="btn btn-primary modal_close" id="sample-update-trigger"
                                hx-post="{% url 'sample-edit' %}"
                                hx-target="#modal-blank">OK
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% elif type == "edit_synonyms" %}

    {# -------------------------- #}
    {#   SYNONYM EDIT MODAL   #}
    {# -------------------------- #}

    <div class="modal-body">
        <div class="content my-2">
            <div>
                <div id="modal-form">
                    <h6>Update Sample Synonyms</h6>
                    {% include 'main/synonyms/synonyms-chip-display.html' %}
                    <form>
                        <input type="text" style="display:none" name="object" class="form-input" value="{{object.model}}_{{object.pk}}">
                    {% include 'main/synonyms/synonyms-form.html' %}
                    </form>
                    <div hx-get="{% url 'main_samplebatch_get' object.batch.pk %}"
                            hx-target="#samplebatch-content-{{object.batch.pk}}"
                            hx-trigger="click from:.synonym_delete delay:100ms">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% elif type == "libraries_confirm" %}

    {# --------------------   #}
    {# CONFIRM LIBRARY UPLOAD #}
    {# --------------------   #}

    <div class="modal-body">
        <div class="content my-2">
            <div>
                <strong>Verify Upload</strong><br>
                {% for issue in issues %}
                    <div class="toast toast-warning">{{issue}}</div>
                {% endfor %}
                {{dataframe|safe}}
                <form id='sample-batch-verify-form'
                    hx-post="{% url 'ajax_save_verified_analyzedsamples' %}?site={{site.pk}}"
                    hx-target="#show_libraries"
                    >
                    {% csrf_token %}
                    <textarea name="batch-data" type="text" style="display:none;">{{json}}</textarea>
                    <button class="btn modal_close">Confirm</button>
                </form>
                <br>
            </div>
        </div>
    </div>

    {# --------------------  #}
    {# UPDATE SAMPLE DATINGS #}
    {# --------------------  #}

    {% elif type == "dates_list" or type == 'dates' %}

    {% include 'main/modals/snippets/datable_form.html' with model='sample' %}

    {% endif %}

</div>

