<!-- Modal for Site properties -->
{% load static %}
{% load format %}

<a href="#close" class="modal-overlay" aria-label="Close"></a>
<div class="modal-container">
    <div class="modal-header">
        <a id="modal-close" class="btn btn-clear float-right modal_close" style="cursor: pointer;" aria-label="Close"></a>
        <div class="modal-title h5">Site Modal</div>
    </div>

    {% if messages %}
        {% for message in messages %}
        <div class="toast toast-{{ message.tags }}">
            {{message}}
        </div>
        {% endfor %}
    {% endif %}

    <!-- Define what to reload upon modal load -->
    {% if type == 'faunal_success' %}
    <div
        hx-get="{% url 'main_site_fauna_get' object.pk %}"
        hx-trigger="load once"
        hx-vars="{'site':'site_{{object.pk}}'}"
        hx-target="#site_fauna">
    </div>
    {% else %}
    <div
        hx-get="{% url 'main_site_element' %}"
        hx-vals='{ "object": "{{ object.pk }}", "element":"overview" }'
        hx-target="#site-panel-1"
        hx-trigger="load">
    </div>
    {% endif %}

        {% if type == "add_samplebatch" %}

        {# -------------------- #}
        {#  BATCH CREATE MODAL  #}
        {# -------------------- #}

        <div class="modal-body">
            <div class="content">
                <form id='samplebatch-form' method="POST">
                {% csrf_token %}
                {% for field in samplebatch_form %}
                {% if field.name != 'site' %}
                <div class="form-group">
                    <label class="form-label" for="{{field.name}}_id">{{field.name|title}}</label>
                    <input class="form-input" id="{{field.name}}_id" name="{{field.name}}" placeholder="{{field.name}}" required>
                </div>
                {% else %}
                <div class="form-group" style="display:none;">
                    <input class="form-input" type="text" id="{{field.name}}_id" name="{{field.name}}" value="{{object.pk}}" required>
                </div>
                {% endif %}
                {% endfor %}
                <span class="btn btn-primary modal_close"
                    hx-target="#site_sample_content"
                    hx-post="{% url 'main_samplebatch_create' %}?object=site_{{object.pk}}">Add</span>
                </form>
                <br>
            </div>
        </div>

        {% elif type == "samplebatch_upload_confirm" %}

        {#   --------------------  #}
        {#  UPLOAD CONFIRM MODAL   #}
        {#   --------------------  #}

        <div class="modal-body">
            <div class="content">
                <strong>Verify Batch Upload</strong><br>
                {% for issue in issues %}
                <div class="toast toast-warning">{{issue}}</div>
                {% endfor %}
                {{dataframe|safe}}
                <form
                    hx-post="{% url 'ajax_save_verified_samples' %}"
                    hx-target="#sample-batch-tab_{{batch.pk}}"
                >
                    {% csrf_token %}
                    <textarea name="batch-data" type="text" style="display:none;">{{json}}</textarea>
                    <input name="site" value="{{site.pk}}" style="display:none;">

                <br>
                <button class="btn modal_close">Confirm</button>
            </form>
            </div>
        </div>

        {% elif type == "add_contact" %}

        {#  --------------------  #}
        {#  CONTACT CREATE MODAL  #}
        {#  --------------------  #}

        <div class="modal-body">
            <div class="content  my-2">
                <div id="modal-form">
                    <h6 class="m-2">Contacts</h6>
                    {% include 'main/contact/contact-chip-display.html' %}
                    {% include 'main/contact/contact-searchinput.html' with object=object %}
                </div>
            </div>
        </div>

        {% elif type == 'add_profile' %}

        {#  --------------------  #}
        {#  PROFILE CREATE MODAL  #}
        {#  --------------------  #}

        <div class="modal-body">
            <div class="content">
                <form method="post" action="{% url 'main_site_profile_create' object.pk%}">
                {% csrf_token %}
                {% for field in profile_form %}
                <div class="form-group">
                    <label class="form-label" for="{{field.name}}_id">{{field.name|title}}</label>
                    <input class="form-input" type="text" id="{{field.name}}_id" name="{{field.name}}" placeholder="{{field.name}}" required>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>

        {% elif type == "connection_form" %}

        {#  --------------------     #}
        {#  CONNECTION CREATE MODAL  #}
        {#  --------------------     #}

        <div class="modal-body">
            <div class="content  my-2">
                <div id="modal-form">
                    <form>
                        {% csrf_token %}
                        <input type="text" name="object" value="site_{{object.pk}}" style="display: none;" />
                        <input type="text" name="connection" value="connection_{{connection.pk}}" style="display: none;" />
                        <div class="form-group">
                            <label class="form-label" for="link_input">Link</label>
                            <input id="link_input" class="form-input" type="text" name="link" value="{{connection.link}}" placeholder="Link to external site" required />

                            <label class="form-label" for="name_input">Name</label>
                            <input id="name_input" class="form-input" type="text" name="name" value="{{connection.name}}" placeholder="Label the Link" required />

                            <label class="form-label" for="descr_input">Short Description</label>
                            <textarea id="descr_input" class="form-input" name="short_description" placeholder="Label the Link" required>{{connection.short_description}}</textarea>
                        </div>
                        <button class="btn btn-primary"
                            hx-post="{% url 'main_site_addconnection' %}"
                            hx-target="#modal-blank"
                        >Save</button>
                    </form>
                </div>
            </div>
        </div>

        {% elif type == "faunal_tables" %}

        {# ------------------------- #}
        {#   LAYER FAUNA MODAL       #}
        {# ------------------------- #}

        <!-- Modal content for Faunal Upload -->
        <div class="modal-body">
            <div class="content my-2">
                <form method="post">
                    {% csrf_token %}
                    <input name="file" type="file">
                    <input type="hidden" name="object" value="site_{{object.pk}}">
                    <button class="btn modal_open"
                        hx-encoding="multipart/form-data"
                        hx-post="{% url 'main_upload' %}?type=faunaltable"
                        hx-target="#modal-blank">OK</button>
                </form>
                <span id="fauna-batch-header" data-url="{% url 'download_header' %}?model=faunal_results" class="btn tooltip tooltip-right get-batch-header" data-tooltip="Get Upload Template"><i class="icon icon-download"></i></span>
            </div>
        </div>

        {% elif type == "faunal_errors" %}

        {# -------------------------  #}
        {#   LAYER FAUNA ERRORS       #}
        {# -------------------------  #}
        <!-- Modal content for Faunal Errors -->
        <div class="modal-body">
            <div class="content my-2">
                <span
                    class='btn tooltip tooltip-right'
                    data-tooltip="Back"
                    hx-get="{% url 'main_modal_get' %}?{{request.GET|getstring}}"
                    hx-vals='{"object":"site_{{object.pk}}","type":"faunal_tables"}'
                    hx-target="#modal-blank"><i class="icon icon-back"></i>
                </span>
                {% for issue in issues %}
                <div class="toast toast-warning">{{issue}}</div>
                {% endfor %}
                {{dataframe|safe}}
            </div>
        </div>

        {% elif type == "faunal_success" %}

        {# ------------------------- #}
        {#   LAYER FAUNA SUMMARY     #}
        {# ------------------------- #}
        <!-- Modal content for Fauna Success -->
        <div class="modal-body">
            <div class="content my-2">
                <div class="toast toast-success">Successful upload of faunal information</div>
            </div>
        </div>
        <!--#TODO: summary report-->

        {% elif type == "stratigraphy" %}

        {# ------------------------- #}
        {#   LAYER FAUNA MODAL       #}
        {# ------------------------- #}

        <!-- Modal content for Stratigraphy-up and download -->
        <div class="modal-body">
            <div class="content my-2">
                <h5>Manage Stratigraphy</h5>
                <span>Download the Layer data</span>
                <a target="_blank" href="{% url 'get_dataset' %}?from=site_{{object.pk}}&unique=layer">
                    <i class="icon icon-download"></i>
                </a><br><br>
                <h5>Upload Stratigraphy</h5>
                <span> Only the position of the existing layers will be updated!</span>
                <form method="post">
                    {% csrf_token %}
                    <input name="file" type="file">
                    <input type="hidden" name="object" value="site_{{object.pk}}">
                    <button class="btn modal_open"
                        hx-encoding="multipart/form-data"
                        hx-post="{% url 'main_upload' %}?type=stratigraphy"
                        hx-target="#modal-blank">OK</button>
                </form>
            </div>
        </div>


        {% elif type == "quicksand_upload" %}

        {# ------------------------- #}
        {#   QUICKSAND MODAL         #}
        {# ------------------------- #}

        <!-- Modal content for Faunal Upload -->
        <div class="modal-body">
            <div class="content my-2">
                <form
                    hx-encoding="multipart/form-data"
                    hx-post="{% url 'main_upload' %}?type=quicksand"
                    hx-target="#modal-blank"
                    hx-validate="true">
                    {% csrf_token %}
                    <input type="hidden" name="object" value="site_{{object.pk}}">
                    <label class="form-label" for="sequencing">Sequencing Run</label>
                    <select class="form-select" id="sequencing" name="sequencing">
                        <option value="">---</option>
                        {% for option in seqruns %}
                            <option value="{{option}}">{{option}}</option>
                        {% endfor %}
                    </select>
                    <div class="form-group">
                        <label class="form-label" for="version">quicksand version</label>
                        <input class="form-input" type="text" id="version" name="version" placeholder="v2.1" required="" pattern="v[0-9]+(\.[0-9]+){1-2}?">
                        <p class="form-input-hint">please follow the pattern v2.1</p>
                    </div>
                    <input name="file" type="file" required>
                    <button class="btn">OK</button>
                </form>
            </div>
        </div>
        {% endif %}

</div>