<!-- Modal for Site properties -->
{% load static %}

<a href="#close" class="modal-overlay" aria-label="Close"></a>
<div class="modal-container">
    <div class="modal-header">
        <a id="modal-close" class="btn btn-clear float-right" href="#" aria-label="Close"></a>
        <div class="modal-title h5">Site Modal</div>
    </div>
    <div class="modal-body">
        <div class="content  my-2">
            <div id="modal-form">
                <h6 class="m-2">Contacts</h6>
                {% include 'main/contact/contact-chip-display.html' %}
                {% include 'main/contact/contact-searchinput.html' with object=object %}
                <h6 class="m-2">Parent Site</h6>
                {% if object.parent %}
                <div class="tile tile-centered">
                    <div class="tile-icon">
                        <div class="example-tile-icon">
                            <button class="btn generic_unsetfk" data-x="{{object.model}}_{{object.pk}}" data-y="site" data-click="reload">
                                <i class="icon icon-delete"></i>
                            </button>
                        </div>
                    </div>
                    <div class="tile-content">
                        <div class="tile-title">{{object.parent}}</div>
                    </div>
                </div>
                {% endif %}
                {% include 'main/site/site-searchinput.html' %}
            </div>
        </div>
    </div>
</div>