<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/spectre-exp.css' %}">
    <link rel="stylesheet" href="{% static 'css/spectre.css' %}">
    <link rel="stylesheet" href="{% static 'css/spectre-icons.css' %}">
    <script  src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
         crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <style>
        .del{
            text-decoration: line-through;
        }
        .vis-item .vis-item-overflow {
            overflow: visible;
            padding:0px;
        }
    </style>
    <section>
        <div class='panel-header bg-primary' style='margin-top:-4px; padding: 20px;'>
            <h1>{% block headline %}{% endblock %}</h1>
            {% block breadcrumps %}{% endblock %}
        </div>
        {% block paddingless %}{% endblock %}
        <div style='padding:1%'>
                {% block body %}{% endblock %}
        </div>
    </section>
    <!-- This is the blank modal to be filled with all the modals -->
    <div class="modal" id="modal-blank">
        <a href="#close" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
          <div class="modal-header">
            <a id="modal-close" class="btn btn-clear float-right" style="cursor:pointer;" aria-label="Close"></a>
            <div class="modal-title h5">Edit Layer</div>
        </div>
        <div class="modal-body">
            <div class="content">
            </div>
        </div>
    </div>
    <script src="{% static 'js/reference.js' %}"></script>
    <script src="{% static 'js/generic.js' %}"></script>
</body>
</html>