<!DOCTYPE html>
<html lang="EN">
<meta name="keywords" content="Archaeological Database, Sediment DNA, MPI EVA" />
<meta name="description" content="Helpfully Labeled Layers for Geneticists" />

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/spectre-exp.css' %}">
    <link rel="stylesheet" href="{% static 'css/spectre.css' %}">
    <link rel="stylesheet" href="{% static 'css/spectre-icons.css' %}">
    <script  src="{% static 'js/packages/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/packages/htmx-min.js' %}"></script>
    <script  type="text/javascript" src="{% static 'js/packages/vis-timeline-graph2d.min.js' %}"></script>
    <link href="{% static 'css/vis-timeline-graph2d.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/leaflet/leaflet.css' %}"/>
    <script src="{% static 'js/packages/leaflet.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div style="min-height: 90vh;">
    <!--Elements that store generic links!-->
    <span id="url_generic_addm2m" data-url="{% url 'main_generic_addm2m' %}"></span>
    <span id="url_generic_rmm2m" data-url="{% url 'main_generic_rmm2m' %}"></span>
    <span id="url_generic_setfk" data-url="{% url 'main_generic_setfk' %}"></span>
    <span id="url_generic_unsetfk" data-url="{% url 'main_generic_unsetfk' %}"></span>
    {% csrf_token %}
    <section>
        {% if not skip_headline %}
        <div class="panel-header bg-primary" style="margin-top:-4px; padding: 20px;">
            <div style="display: flex; justify-content: space-between;">
                <h1>{% block headline %}{% endblock %}</h1>
                <div hx-get="{% url 'main_project_status' %}" hx-trigger="load"></div>
            </div>
            {% block breadcrumps %}{% endblock %}
        </div>
        {% endif %}
        {% block paddingless %}{% endblock %}
        <div style="padding:1%">
                {% block body %}{% endblock %}
        </div>
    </section>
    <!-- This is the blank modal to be filled with all the modals -->
    <div class="modal" id="modal-blank">
    </div>

    <script src="{% static 'js/reference.js' %}"></script>
    <script src="{% static 'js/generic.js' %}"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
</div>
<div class="m-2 p-2 container" id="copyright">
    <div class="divider"></div>
    <span>2026 · Hellforge · <a href="https://github.com/merszym/hellforge" target="_blank">GitHub</a></span><br>
    <span class="text-gray">Developed and curated by <a href="https://www.researchgate.net/profile/Merlin-Szymanski" target="_blank">Merlin Szymanski</a> · Max-Planck-Institute for Evolutionary Anthropology, Leipzig, Germany</span>
</div>

</body>
</html>