{% extends "main/base.html" %}
{% block headline %} {{type}} Update {% endblock %}
{% block body %}
{% if object %}
    <h1>Edit {{type}}: {{object.name}}</h1>
{% else %}
    <h1>New {{type}}</h1>
{% endif %}

    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.name}}</strong>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name}}</strong>
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}

<div class='columns'>
    <div class="column">
        <h3>{{type}} Data</h3>
        <div class="my-2">
            {% if type == 'Epoch' %}
            {% include 'main/location/location-display.html' %}
            {% endif %}
            {% include 'main/culture/culture-display.html' %}
            {% include 'main/epoch/epoch-display.html' %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-label" for="{{type|lower}}-name">{{type}} Name</label>
                    <input class="form-input" type="text" id="{{type|lower}}-name" name="name" placeholder="{{type}} Name" required
                    value={% if object.name %} "{{object.name}}" {% endif %} >
                </div>
                <div class="form-group">
                    <label class="form-label" for="{{type|lower}}-description">Description</label>
                    <textarea class="form-input" type="text" id="{type|lower}}-description" name="description" placeholder="{{type}} description"
                     >{% if object.description %} {{object.description}} {% endif %}</textarea>
                </div>
                {% if type == 'Epoch' %}
                <div class="divider text-center" data-content="Dating"></div>
                <div class="form-group">
                    <label class="form-label" for="{{type|lower}}-upper">Upper Bound</label>
                    <input class="form-input" type="number" id="{{type|lower}}-upper" name="upper" placeholder="{{type}} Upper" required
                    value={% if object.date %} "{{object.date.first.upper}}" {% endif %} >
                </div>
                <div class="form-group">
                    <label class="form-label" for="{{type|lower}}-lower">Lower Bound</label>
                    <input class="form-input" type="number" id="{{type|lower}}-lower" name="lower" placeholder="{{type}} Lower" required
                    value={% if object.date %} "{{object.date.first.lower}}" {% endif %} >
                </div>
                {% endif %}
                {% if type == 'Culture' %}
                <div class="form-group">
                    <label class="form-label" for="culture-hominin_group">Associated Hominin Group</label>
                    <input class="form-input" type="text" id="culture-hominin_group" name="hominin_group" placeholder="Associated Hominin Group" required
                    value={% if object.hominin_group %} "{{object.hominin_group}}" {% endif %} >
                </div>
                <select id="culture-input" name="parent" style="display:none;">
                    <option value={% if object.parent %} {{object.parent.pk}} {% endif %}></option>
                </select>
                {% else %}
                <select id="epoch-input" name="parent" style="display:none;">
                    <option value={% if object.parent %} {{object.parent.pk}} {% endif %}></option>
                </select>
                {% endif %}
                {% include 'main/references/reference-formfield.html' %}
                {% if type == 'Epoch' %}
                    {% include 'main/location/location-formfield.html' %}
                {% endif %}
                <!-- Show the references -->
                {% include 'main/references/reference-display.html' %}
                <br>
                <button class='btn btn-primary' type="submit">Save {{type}}</button>
            </form>
        </div>
    </div>

    <div class="column" style="border-left: solid 2px grey">
        <h3>Edit Associated Information</h3>
        {% if type == 'Epoch' %}
        <div class="my-2">
            {% include 'main/location/location-search.html' %}
        </div>
        {% endif %}
        <div clas="my-2">
            <h6> Set Umbrella {{type}} </h6>
            {% if type == 'Culture' %}
                {% include 'main/culture/culture-search.html' %}
            {% else %}
                {% include 'main/epoch/epoch-search.html' %}
            {% endif %}
        </div>
        <div clas="my-2">
            {% include 'main/references/reference-search.html' %}
        </div>
    </div>
</div>
{% endblock %}
