{% extends "main/base.html" %}
{% block head %}
<title>Date Update</title>
{% endblock %}
{% block headline %} Date Update {% endblock %}
{% block body %}
<h1>Edit Date</h1>
{% load static %}
    <div class='columns'>
        <div class="column">
            <div class="my-2">
                <form id="locationform" method="POST">
                    {% csrf_token %}
                    {% include 'main/dating/dating-fields.html' %}
                    <button class='btn btn-primary' onclick="saveLayer()">Save Date</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/dating.js' %}"></script>
{% endblock %}
