{% extends "main/base.html" %}
{% block head %}
<title>Location creation</title>
{% include 'main/location/location-head.html' %}
{% endblock %}
{% block headline %} Location creation {% endblock %}
{% block body %}
{% if object %}
<h1>Edit Location: {{object.name}}</h1>
{% else %}
<h1>Add a location</h1>
{% endif %}
{% load static %}
    <div class='columns'>
        <div class="column">
            <div style="height: 720px;" id="map"></div>
        </div>
        <div class="column">
            <div class="my-2">
                <h3>Find By Coordinates</h3>
                <div class="form-group" style="width:50%;">
                    <div style="position: relative;">
                        <input class="form-input" type="text" id="coordinates" placeholder="Latitude,Longitude">
                        <span id="coordinates-span" style="position:absolute; top:0; right:0" class="btn">Find</span>
                    </div>
                </div>
                <h3>Location Title</h3>
                <form id="locationform" method="POST">
                    {% csrf_token %}
                    <div class="form-group" style="width:50%;">
                        <input class="form-input" type="text" id="location-name" name="name" placeholder="Location title" required
                        value={% if object.name %} "{{object.name}}" {% endif %} >
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="location-name">Description</label>
                        <textarea class="form-input" type="text" id="location-description" name="description" placeholder="Location description"
                         >{% if object.description %} {{object.description}} {% endif %}</textarea>
                    </div>
                    <textarea id='geojson' type="text" name="geo" style="display:none;" required>
                        {% if object.geo %} {{object.geo|safe}} {% endif %}
                    </textarea>
                     {% include 'main/reference/reference-formfield.html' %}
                    <button class='btn btn-primary' onclick="saveLayer()">Save Location</button>
                </form>
            </div>
            <br>
            <h3 style="margin-bottom:0px"> References </h3>
            {% include 'main/reference/reference-display.html' %}
            {% include 'main/reference/reference-searchinput.html' %}
        </div>
    </div>
    <script src="{% static 'js/location.js' %}"></script>
    {% if object.geo %}
        <script> drawJson({{object.geo | safe }}); fitBounds() </script>
    {% endif %}
{% endblock %}
