{% extends "main/base.html" %}
{% block head %}
{% load static %}
    <title>Location creation</title>
    <link
       rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
       integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
       crossorigin=""/>
    <script
        src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
        integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
        crossorigin=""></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"
        integrity="sha512-ozq8xQKq6urvuU6jNgkfqAmT7jKN2XumbrX1JiB3TnF7tI48DPI4Gy1GXKD/V3EExgAs1V+pRO7vwtS1LHg0Gw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.css"
        integrity="sha512-vJfMKRRm4c4UupyPwGUZI8U651mSzbmmPgR3sdE3LcwBPsdGeARvUM5EcSTg34DK8YIRiIo+oJwNfZPMKEQyug=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block headline %} Location creation {% endblock %}
{% block body %}
{% if object %}
<h1>Edit Location: {{object.name}}</h1>
{% else %}
<h1>Add a location</h1>
{% endif %}

    <div class='columns'>
        <div class="column">
            <div style="height: 720px;" id="map"></div>
        </div>
        <div class="column">
            <div class="my-2">
                <h3>Find By Coordinates</h3>
                <div class="form-group" style="width:50%;">
                    <div style="position: relative;">
                        <input class="form-input" type="text" id="coordinates" placeholder="Latitude,Longitude">
                        <span id="coordinates-span" style="position:absolute; top:0; right:0" class="btn">Find</span>
                    </div>
                </div>
                <h3>Location Title</h3>
                <form id="locationform" method="POST">
                    {% csrf_token %}
                    <div class="form-group" style="width:50%;">
                        <input class="form-input" type="text" id="location-name" name="name" placeholder="Location title" required
                        value={% if object.name %} "{{object.name}}" {% endif %} >
                    </div>
                    <textarea id='geojson' type="text" name="geo" style="display:none;" required>
                        {% if object.geo %} {{object.geo|safe}} {% endif %}
                    </textarea>
                    <textarea type="text" id="reflist" name="reflist" style="display:none;"></textarea>
                    <button class='btn btn-primary' onclick="saveLayer()">Save Location</button>
                </form>
            </div>
            <br>
            <h3 style="margin-bottom:0px"> References </h3>
            {% include 'main/references/reference-display.html' %}
            {% include 'main/references/reference-search.html' %}
        </div>
    </div>
    <script src="{% static 'location.js' %}"></script>
    {% if object.geo %}
        <script> drawJson({{object.geo | safe }}); fitBounds() </script>
    {% endif %}
{% endblock %}
