{% extends 'main/base.html' %}
{% block head %}
{% load static %}
<title>Site: {{object.name}}</title>
{% include 'main/location/location-head.html' %}
{% include 'main/timeline/timeline-head.html' %}
<script src="{% static 'jquery-ui.js' %}"></script>
{% endblock %}
{% block headline %} <a style='color:white' href="{% url 'site_list' %}">Site</a>{% endblock %}
{% block body %}
<div class='columns'>
    <div class="column col-4" style="position:relative;">
        <a class="btn btn-primary" href="{% url 'site_update' object.pk %}" style="position:absolute; right:5%; top:10px"><i class="icon icon-edit"></i></a>
        <div class="my-2">
            <h2>{{object.name}}</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Type</th>
                    <th>Elevation</th>
                    {% if object.ref.first %}
                    <th>References</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{object.name}}</td>
                    <td>{{object.country}}</td>
                    <td>{{object.type}}</td>
                    <td>{{object.elevation}} m</td>
                    {% if object.ref.first %}
                    <td>
                        {% for ref in object.ref.all %}
                            {% include 'main/references/reference-popup.html' %}<br>
                        {% endfor %}
                    </td>
                    {% endif %}
                  </tr>
                </tbody>
              </table>
            <br>
            {% if object.contact.first %}
            <h5> Contact Person </h5>
            {% for contact in object.contact.all %}
                {% include 'main/contact/contact-tile.html' %}
            {% endfor %}
            <br>
            {% endif %}
            <div style="height: 480px;" id="map"></div><br>
        </div>
    </div>
    <div class="column">
        <div class="my-2">
            <div style="display: flex; gap: 20px;">
                <h3> Site description </h3>
                <span id='site_description' class="btn btn-primary tooltip tooltip-bottom" data-tooltip="Toogle Description"><i class="icon icon-arrow-down"></i></span>
            </div>
            <p id="site_description_content" style="display:none;">{{object.description|safe}}</p>
            <br>
            <h3 class="text-grey">Profiles and Layers</h3>
            <div class="modal" id="modal-profile">
                <a href="#close" class="modal-overlay" aria-label="Close"></a>
                <div class="modal-container">
                    <div class="modal-header">
                    <span id="modal-profile-close" class="btn btn-clear float-right" aria-label="Close"></span>
                    <div class="modal-title h5">New Profile</div>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <form id='profile-form' method="POST">
                            {% csrf_token %}
                            {% for field in profile_form %}
                            <div class="form-group">
                                <label class="form-label" for="{{field.name}}_id">{{field.name|title}}</label>
                                <input class="form-input" type="text" id="{{field.name}}_id" name="{{field.name}}" placeholder="{{field.name}}" required>
                            </div>
                            {% endfor %}
                            <span id='profile-submit' class="btn btn-primary" data-url="{% url 'ajax_profile_add' object.pk%}">Add</span>
                            </form>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="tab tab-block" id="profile-list">
                {% for profile in object.profile.all %}
                <li class="tab-item {% if forloop.counter == 1 %}active{% endif %}" data-url="{% url 'ajax_profile_detail' profile.pk %}">
                    <a style="cursor:pointer;">{{profile.name}}</a>
                </li>
                {% endfor %}
                <li id="before-profile-add">
                    <span style="margin:5px;" class="btn btn-primary" id="profile-add" data-url="{% url 'ajax_profile_detail' 1 %}"> Add Profile </span>
                </li>
            </ul>
            <div style="padding-top: 20px;" id='profile-detail'>
                <div class="empty">
                    <div class="empty-icon">
                      <i class="icon icon-flag"></i>
                    </div>
                    <p class="empty-title h5">No Profiles yet</p>
                    <p class="empty-subtitle">Click the button above to add a profile.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% if object.layers %}
<h2>Timeline</h2>
{% include 'main/timeline/timeline-body.html' %}
<script>
    var data = []
    var groups = []
    var added = []
</script>
{% for culture in object.cultures %}
<script>
    groups.push({
        'id': "{{culture.name|lower}}",
        'content': "{{culture}}",
        }
    )
</script>
{% endfor %}
{% for checkpoint in object.checkpoints %}
<script>
    cp = "{{checkpoint.type|lower}}"
    if(added.includes(cp)==false){
        groups.push(
        {
        'id': cp,
        'content': "Checkpoint<br>{{checkpoint.type}}",
        }
    );
    added.push(cp)
    }
    content = "{{checkpoint.name}} ({{checkpoint.date.first}})"
    if(added.includes(content)==false){
        data.push(
            {
            'start': new Date(parseInt("{{checkpoint.mean_upper}}")*-1,1,1),
            'end': new Date(parseInt("{{checkpoint.mean_lower}}")*-1,1,1),
            'content': content,
            'group':"{{checkpoint.type|lower}}"
            }
        );
        added.push(content)
    }
</script>
{% endfor %}
{% for layer in object.layers %}
<script>
    data.push(
        {
        'start': new Date(parseInt("{{layer.mean_upper}}")*-1,1,1),
        'end': new Date(parseInt("{{layer.mean_lower}}")*-1,1,1),
        'content': "{{layer.name}} ({{layer.date.first}})",
        'group':"{{layer.culture.name|lower}}"
        }
    )
</script>
{% endfor %}
<script>
    var items = new vis.DataSet(data);
    var timeline = new vis.Timeline(container, items, groups, options);
</script>
{% endif %}
<script src="{% static 'location.js' %}"></script>
    {% if object.loc.first.geo %}
        <script> drawJson({{object.loc.first.geo | safe }}); fitBounds() </script>
    {% endif %}
    <script src="{% static 'site.js' %}"></script>
{% endblock %}
