{% load static %}
{% csrf_token %}
<span id='layer_epoch_set' style="display: none;" data-url='{% url "main_generic_setfk" "epoch" %}'></span>
<div class="my-2">
    <div class="input-group">
        <span class="input-group-addon"><i class="form-icon icon icon-search"></i> Epoch</span>
        <input type="text" data-origin="{{object.model}}_{{object.pk}}" data-model="epoch" class="form-input" placeholder="Search Epoch" id="search-input" data-url="{% url 'main_generic_search' %}">
        <a href="{% url 'epoch_add' %}" target="_blank" class="btn btn-primary input-group-btn tooltip tooltip-left" data-tooltip="Add new Epoch"><i class="icon icon-plus"></i></a>
    </div>
    <div class="epoch-search-appear"></div>
</div>
