{% load static %}
<!-- Modal content for Epoch -->
<a href="#close" class="modal-overlay" aria-label="Close"></a>
<div class="modal-container">
    <div class="modal-header">
        <a id="modal-close" class="btn btn-clear float-right refresh_profile" style="cursor:pointer;" aria-label="Close"></a>
    <div class="modal-title h5">Pick Epoch</div>
</div>
<div class="modal-body">
    <div class="content" id="modal-form">
        {% csrf_token %}
        {% if object %}
        <div class="tile tile-centered">
            <div class="tile-icon">
              <div class="example-tile-icon">
                <button class="btn unset-fk-item" id="layer_unset_epoch" data-url="{% url 'main_layer_unsetfk' 'epoch' %}">
                    <i class="icon icon-delete"></i>
                </button>
              </div>
            </div>
            <div class="tile-content">
              <div class="tile-title">{{object}}</div>
            </div>
        </div>
        {% endif %}
        {% include 'main/epoch/epoch-searchinput.html' %}
        <span id='layer_epoch_set' style="display: none;" data-url='{% url "main_layer_setfk" "epoch" %}'></span>
    </div>
</div>