{% extends 'main/print.html' %}

{% block body %}

{% if not request.GET.print and not print %}
<div class="panel-header" style="position:relative;">
    {% if request.user.is_authenticated %}
    <a class="btn btn-primary tooltip tooltip-right" href="{% url 'main_descr_update' description.pk %}{% if origin %}?origin={{origin}}{% endif %}" data-tooltip="Edit Description">
        <i class="icon icon-edit"></i>
    </a>
    {% endif %}
    <a class="btn btn-primary tooltip tooltip-right" href="{% url 'main_description_print' description.pk %}" data-tooltip="Print View">
        <i class="icon icon-download"></i>
    </a>
    <span id="resize-editor" class="btn tooltip tooltip-left" style="position:absolute; right: 15px" data-tooltip="Toggle Full Width">
        <i class="icon icon-resize-horiz"></i>
    </span>
</div>
{% else %}

<h1>{{header}}</h1>

{% endif %}

<div class="panel-body" style="max-height:720px;">
    <div class="authors">
        {% if description.author.first %}
        {% if not request.GET.print and not print %}
        <h5>Authors</h5>
        {% endif %}
        {% include 'main/description/author_tile.html' with object=description %}
        {% endif %}
    </div>
    <div class="text">
        {% if request.GET.print or print %}
        <div style="text-align: justify;">
        {{rendered_description|safe}}
        </div>
        {% else %}
        {% include 'main/editor/editor-body.html' with description=description model=model %}
        {% endif %}
    </div>

    <div id="description-references">
        <style>
            .reference{
                font-size: 0.7rem;
                margin-bottom: 10px;
                margin-top:0px;   
                line-height: 1.3em !important;
            }
        </style>
        {% if reference_items|length > 0 or remaining_references|length > 0 %}
        <h5>References</h5>
        {% endif %}
        {% for ref in reference_items %}
        <p class="reference">{{ref|safe}}</p>
        {% endfor %}
        <table class="table table-striped my-2">
          <tbody id="description-reference-tbody" style="border-top: 1px solid lightgrey;">
            {% for ref in remaining_references %}
              {% include 'main/reference/reference-tablerow.html' with display=True %}
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

{% endblock %}