{% load static %}
<!-- Modal content for Date -->
<a href="#close" class="modal-overlay" aria-label="Close"></a>
<div class="modal-container">
    <div class="modal-header">
        <a id="modal-close" class="btn btn-clear float-right" style="cursor:pointer;" aria-label="Close"></a>
    <div class="modal-title h5">Add Dating</div>
</div>
<div class="modal-body">
    <div class="content">
        <div id="dating-content">
            <form id="modal-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'main/dating/dating-fields.html' %}
                <br>
                <span id='ajax_add_date' class='btn btn-primary addDate' data-url='{% url "ajax_date_add" %}'>Save</span>
            </form>
        </div>
    </div>
</div>