<!--The dating form-->
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div class="toast toast-error">{{error}}</div>
{% endfor %}
{% endif %}
<strong>Batch Upload</strong><br>
<label>
    <span id='date-batch-label' class="btn tooltip tooltip-right" data-tooltip="Batch Upload Dates"><i class="icon icon-upload"></i></span>
    <input id="date-batch-input" data-url="{% url 'ajax_date_batch_upload' %}?site={{object.site.pk}}" type="file" style="display:none;">
</label>
<span id='date-batch-header' data-url="{% url 'download_header' %}?model=date" class="btn tooltip tooltip-right get-batch-header" data-tooltip="Get Upload Template"><i class="icon icon-download"></i></span>
<p class="form-input-hint">Upload multiple Dates via CSV</p>
<div class="divider text-center" data-content="OR"></div>
<strong>Add single Date</strong><br>
<!--Method-->
<div class="form-group">
    <label class="form-label" for="method">Method</label>
    <select class="form-select" type="text" id="method" name="method" placeholder="{{field.name}}" required>
        <option selected>{% if form.method %}{{form.method.value}}{% else %}14C{% endif %}</option>
        {% for option in datingoptions %}
            <option>{{option}}</option>
        {% endfor %}
    </select>
</div>
<div class="divider"></div>
<!--Lab Code for All datings-->
<div>
    <div class="form-group" id="oxa_group">
        <label class="form-label" id="oxa" for="oxa">Laboratory code</label>
        <input class="form-input" name="oxa" id="oxa" placeholder="OxA" value="{% if form.oxa %}{{form.oxa.value}} {% endif %}">
    </div>
</div>
<!--
    Dates

    if not 14C: provide either estimate +- value OR range upper-lower
    if 14C: only provide uncalibrated -> get calibrated range via ajax
            also allow minimum-age for beyond radio carbon
-->
<!-- This is the label -->
<label class="14c_group">Radiocarbon Measurement</label>
<label class="14c_hide" style="display:none;">Point Estimate</label>

<!-- This is the first form field -->
<div class="input-group">
    <input type="number" class="form-input estimate_range" id='estimate' name="estimate" placeholder="50000"
    {% if form.estimate %} value="{{form.estimate.value}}" {% endif %}>
    <span class="input-group-addon">±</span>
    <input type="number" class="form-input estimate_range" id="plusminus" name="plusminus" placeholder="3000"
    {% if form.plusminus %} value="{{form.plusminus.value}}" {% else %} value="0" {% endif %}>
    <span class="input-group-addon 14c_hide" style="display:none;">Sigma/CI</span>
    <input type="text" class="form-input 14c_hide" style="display:none;" id="sigma" name="sigma" placeholder="2σ/95%" pattern="([12][sσ])|([0-9]+%)$"
    {% if form.plusminus %} value="{{form.sigma.value}}" {% endif %}>
</div>
<p class="form-input-hint 14c_hide" style="display:none;">Please enter the <strong>sigma or confidence interval</strong>. Value must be 1 or 2 s/σ or any %. s will be converted to σ in the backend</p>

<p class="form-input-hint 14c_group">Please enter the <strong>uncalibrated 14C Date</strong>. Calibration is done in the backend</p>

<!-- Second Form field -->
<div id="range_group">
    <div class="divider text-center" data-content="OR"></div>
    <!-- The Label -->
    <label class="14c_group">Beyond Radiocarbon Limit?</label>
    <label class="14c_hide" style="display:none;">Range</label>
    <!-- The form -->
    <div class="input-group">
        <!--minimum age for c14 or range -->
        <span class="input-group-addon 14c_group">></span>
        <input class="14c_hide form-input date_range" style="display:none;" type="number" name="upper" placeholder="53000"
        {% if form.upper %} value="{{form.upper.value}}" {% endif %}>
        <span class="input-group-addon 14c_hide" style="display:none;">-</span>
        <input class="form-input date_range" type="number" id="lower" name="lower" placeholder="47000"
        {% if form.lower %} value="{{form.lower.value}}" {% endif %}>
    </div>
    <p class="form-input-hint 14c_hide" style="display:none;">Please enter the date range in the format <strong>older - younger</strong>.</p>
</div>
<div class="form-group">
    <label class="form-label" for="description">Notes</label>
    <textarea class="form-input" name="description" id="description" placeholder="Notes" rows="3">{% if form.description %}{{form.description.value}}{% endif %}</textarea>
</div>
<p class="form-input-hint">To add references please use the upload sheet or add them after creation of the date</p>

