{% load static %}
{% load format %}
<!-- Modal content for Date -->
<a href="#close" class="modal-overlay" aria-label="Close"></a>
<div class="modal-container">
    <div class="modal-header">
        <a id="modal-close" class="btn btn-clear float-right modal_close" style="cursor:pointer;" aria-label="Close"></a>
    <div class="modal-title h5">Manage Dates</div>
</div>
<div class="modal-body">
    <div class="content my-2">
        <h6>{% if request.user.is_authenticated%}Set {% endif %}Layer Boundaries:</h6>
        <div class="input-group">
            <span class="input-group-addon">Upper Bound</span>
            <input type="text" class="form-input" name="set_upper" placeholder="upper"
                value="{%if object.set_upper %}{{object.set_upper}}{%endif%}">
            <span class="input-group-addon">Lower Bound</span>
            <input type="text" class="form-input" name="set_lower" placeholder="lower"
            value="{%if object.set_lower %}{{object.set_lower}}{%endif%}"
            >
            {% if request.user.is_authenticated %}
            <button id="set_layer_bounds" class="btn btn-primary input-group-btn" data-url="{% url 'main_layer_setbounds' %}" data-x="layer_{{object.pk}}">Set</button>
            {% endif %}
        </div>
        <div id="modal-form">
            {% include 'main/dating/dating-table.html' with date_list=object.date.all mode='visible' title='Used Dates' %}
            <br><br>
            {% include 'main/dating/dating-table.html' with date_list=object.hidden_dates mode='hidden' title='Hidden Dates' %}
            <br>
            <h6>References</h6>
            <table class="table">
            {% for ref in object.date_references %}
                {% include 'main/reference/reference-tablerow.html' with display=True %}
            {% endfor %}
            </table>
        </div>
    </div>
</div>