{% load format %}
{% if date_list %}
<div class="panel" style="max-height:400px;{% if mode == 'hidden' %}color:grey; border: solid 1px salmon {%endif%}">
    <div class="panel-header">
        <div class="panel-title"><h6>{{title}}</h6></div>
    </div>
    <div class="panel-body">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Age</th>
            <th>Calibration</th>
            <th>Notes</th>
            <th>Reference</th>
            <th></th>
        </tr>
        </thead>
        <tbody >
        {% for date in date_list %}
            {% if object.id in project_sites or request.user.is_authenticated or date.ref.first %}
            <tr>
                <td>
                {% if request.user.is_authenticated %}

                {% endif %}
                </td>
                <td>{{date.method}}</td>
                {% if date.method == '14C' %}
                <td>
                    {% if date.lower and not date.upper %}
                    <span class="text-gray" style="font-size:11pt;">Beyond 14C</span><br>
                    >{{date.lower|format:"{:,}"}} ya<br>
                    <span class="text-gray" style="font-size:11pt;">{{date.oxa}}</span>
                    {% else %}
                <span class="text-gray" style="font-size:11pt;">{{date.curve}} ({{date.estimate|format:"{:,}"}}±{{date.plusminus|format:"{:,}"}})</span><br>
                {{date.upper|format:"{:,}"}} - {{date.lower|format:"{:,}"}} BP (95%)<br>
                <span class="text-gray" style="font-size:11pt;">{{date.oxa}}</span>

                    {% endif %}
                </td>
                {% else %}
                <td>{{date}}
                {% if date.oxa %}
                    <br><span class="text-gray" style="font-size:11pt;">{{date.oxa}}</span>
                {% endif %}
                </td>
                {% endif %}
                <td>
                {% if date.method == '14C' %}
                    {% if request.user.is_authenticated and date.upper %}
                    <div class="form-group">
                        <select class="form-select 14c-curve-select" id="date_{{date.pk}}" data-url="{% url 'ajax_date_recalibrate' %}">
                            <option value="{{date.curve|lower}}"selected>{{date.curve}}</option>
                            <option value="intcal20">intcal20</option>
                            <option value="marine20">marine20</option>
                            <option value="shcal20">shcal20</option>
                        </select>
                    </div>
                    {% else %}
                    {{date.curve}}
                    {% endif %}
                {% else %}
                <span>-</span>
                {% endif %}
                </td>
                <td>{{date.description}}</td>
                <td>
                    <span class="modal_open tooltip tooltip-left" data-tooltip="Edit Date"
                        hx-get="{% url 'main_modal_get' %}"
                        hx-vals='{"object":"date_{{date.pk}}","type":"edit"}'
                        hx-target="#modal-blank">
                        {% if date.ref.first %}
                        {{date.ref.first.short}}
                        {% else %}
                        Add reference
                        {% endif %}
                    </span>
                </td>
                <td>
                    {% if request.user.is_authenticated %}
                    <form>
                    {% csrf_token %}
                    <input name="instance_x" value="date_{{date.pk}}" style="display: none;">
                    <input name="instance_y" value="layer_{{object.pk}}" style="display: none;">
                    <span class="btn tooltip tooltip-left" data-tooltip="Delete Date!"
                            hx-post="{% url 'ajax_date_unlink'%}"
                            hx-target="#modal-blank">
                        <i class="icon icon-delete"></i>
                    </span>
                    </form>
                    <form>
                    {% csrf_token %}
                    <input name="instance_x" value="date_{{date.pk}}" style="display: none;">
                    <input name="object" value="layer_{{object.pk}}" style="display: none;">
                    <span class="btn tooltip tooltip-left" data-tooltip="Toggle Usage of Date"
                        hx-post="{% url 'ajax_date_toggle'%}"
                        hx-target="#modal-blank">
                        {% if mode == 'visible' %}
                        <i class="icon icon-downward"></i>
                        {% else %}
                        <i class="icon icon-upward"></i>
                        {% endif %}
                    </span>
                    </form>
                    {% endif %}
                </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endif %}