<!--The dating form-->
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div class="toast toast-error">{{error}}</div>
{% endfor %}
{% endif %}
<strong>Batch Upload</strong><br>
<label>
    <span id='date-batch-label' class="btn tooltip tooltip-right" data-tooltip="Batch Upload Dates"><i class="icon icon-upload"></i></span>
    <input id="date-batch-input" data-url="{% url 'ajax_date_batch_upload' %}" type="file" style="display:none;">
</label>
<span id='date-batch-header' data-url="{% url 'download_header' %}?model=date" class="btn tooltip tooltip-right" data-tooltip="Batch Download Template"><i class="icon icon-download"></i></span>
<p class="form-input-hint">Upload multiple Dates via CSV</p>
<div class="divider text-center" data-content="OR"></div>
<!--Method-->
<div class="form-group">
    <label class="form-label" for="method">Method</label>
    <select class="form-select" type="text" id="method" name="method" placeholder="{{field.name}}" required>
        <option selected>{% if form.method %}{{form.method.value}}{% else %}14C{% endif %}</option>
        {% for option in datingoptions %}
            <option>{{option}}</option>
        {% endfor %}
    </select>
</div>
<div class="divider"></div>
<!--Lab Code for All datings-->
<div>
    <div class="form-group" id="oxa_group">
        <label class="form-label" id="oxa" for="oxa">Laboratory code</label>
        <input class="form-input" name="oxa" id="oxa" placeholder="OxA" value="{% if form.oxa %}{{form.oxa.value}} {% endif %}">
    </div>
</div>
<!--
    Dates

    if not 14C: provide either estimate +- value OR range upper-lower
    if 14C: only provide uncalibrated -> get calibrated range via ajax
-->
<label class="14c_group">Radiocarbon Measurement</label>
<label class="14c_hide" style="display:none;">Point Estimate</label>
<div class="input-group">
    <input type="number" class="form-input estimate_range" id='estimate' name="estimate" placeholder="50000"
    {% if form.estimate %} value="{{form.estimate.value}}" {% endif %}>
    <span class="input-group-addon">±</span>
    <input type="number" class="form-input estimate_range" id="plusminus" name="plusminus" placeholder="3000"
    {% if form.plusminus %} value="{{form.plusminus.value}}" {% else %} value="0" {% endif %}>
</div>
<p class="form-input-hint 14c_group">Please enter the <strong>uncalibrated 14C Date</strong></p>
<div id="range_group">
    <div class="divider text-center 14c_hide" style="display:none;" data-content="OR"></div>
    <label class="14c_group">Calibrate!!</label>
    <label class="14c_hide" style="display:none;">Range</label>
    <div class="input-group">
        <span class="btn tooltip tooltip-right 14c_group input-group-btn" id="calibrate" data-url="{% url 'ajax_date_cal' %}" data-tooltip='Calibrate'><i class="icon icon-refresh"></i></span>
        <!--calibration curve for c14 -->
        <input class="form-input 14c_group" type="text" id="curve" name="curve" placeholder="Calibration curve" readonly
        {% if form.curve %} value="{{form.curve.value}}" {% endif %}>
        <span class="input-group-addon 14c_group">95%</span>
        <!--ranges-->
        <input class="form-input date_range" type="number" id="upper" name="upper" placeholder="53000" readonly
        {% if form.upper %} value="{{form.upper.value}}" {% endif %}>
        <span class="input-group-addon">-</span>
        <input class="form-input date_range" type="number" id="lower" name="lower" placeholder="47000" readonly
        {% if form.lower %} value="{{form.lower.value}}" {% endif %}>
        <span class="input-group-addon"><span class="14c_group">CalBP</span><span class="14c_hide" style="display:none;">BP</span></span>
    </div>
    <p class="form-input-hint 14c_group">Calibration is done in the backend, in case you dont do it here!</p>
    <p class="form-input-hint 14c_hide" style="display:none;">Please enter the date range in the format <strong>older - younger</strong>.
        Entering only <strong>one</strong> value: <strong>x - 47000</strong> is interpreted as >47000</p>
</div>
<div class="form-group">
    <label class="form-label" for="description">Notes</label>
    <textarea class="form-input" name="description" id="description" placeholder="Notes" rows="3">{% if form.description %}{{form.description.value}}{% endif %}</textarea>
</div>
<!-- select a reference -->
{% include 'main/references/reference-formfield.html'%}
{% include 'main/references/reference-display.html'%}
{% include 'main/references/reference-search.html'%}